<style>
   .slide-mobilenav__dropdown{
     font-size:14px;padding:1em 0;
   }
    .slide-mobilenav__dropdown  .slide-nav__item{
     padding:0;
      margin-top:1em;
   }
     .slide-mobilenav__dropdown .site-nav__dropdown-item_image img{
              }

       .slide-mobilenav__dropdown .site-nav__dropdown-item_title {
             font-size: 1.2em;
             line-height: 1.3;
             padding: 0;
             text-transform: uppercase;
             display: block;
             white-space: pre-line;
             font-weight: 500;
             overflow: hidden;
             text-overflow: ellipsis;
              }
           .slide-mobilenav__dropdown .site-nav__dropdown-item{
               background:#e9f0f0;
                        border-radius: 1em;
           }
              .slide-mobilenav__dropdown .site-nav__dropdown-item_subtitle {
         opacity:0.4
              }
              .slide-mobilenav__dropdown .site-nav__dropdown-item >*{
                  margin-top:0.5em
              }
  .slide-mobilenav__dropdown .site-nav__dropdown-item_title
           .site-nav__dropdown-ittemprice {
              text-transform: capitalize;
            }
         .site-nav__dropdown-menu_left-top ul .slide-mobilenav__dropdown .site-nav__dropdown-item_image{
           width:100%;
           padding:0
         }
      .slide-mobilenav__dropdown .site-nav__dropdown-item_seats img {
        height: 20px;
        width: auto;
    }
    .slide-mobilenav__dropdown .site-nav__dropdown-item_seats{
      display:flex;
      flex-wrap:wrap;
      gap:0 0.7em
    }
     .slide-mobilenav__dropdown .site-nav__dropdown-item {
      display: flex;
       align-items:flex-start
  }
   .slide-mobilenav__dropdown .site-nav__dropdown-item_image {
       width:40%;
       flex-shrink:0;
   }
   .slide-mobilenav__dropdown .site-nav__dropdown-item_image img{
  aspect-ratio:1/1
   }
    .slide-mobilenav__dropdown .site-nav__dropdown-item_content{
    padding:1em;
    display:flex;flex-direction:column;gap:0.5em
  }
  .mobile-menu .slide-nav__wrapper .slide-nav .slide-nav__item.slide-mobilenav__dropdown .slide-nav__button:after{
    right:20px;
  }
  .site-header__drawer img{
    display:none
  }
    .site-header__drawer.is-active img{
    display:block
  }
</style>
{% assign collection = collections['menu-booths'] %}
{% unless collection %}
  {% assign collection = collections.first %}
{% endunless %}
<div class="slide-nav__wrapper" style="flex-shrink: 0;" data-level="1">
  <ul class="slide-nav">
    <li class="slide-nav__item slide-mobilenav__dropdown" style="padding-right:0">
      <button
        type="button"
        class="slide-nav__button js-toggle-submenu active"
        data-target="acoustic-phone-booths-single2"
      >
        <span class="slide-nav__link" style="padding-right:20px"
          ><span>{{ settings.header_explore_product }}</span>
          <span class="icon__fallback-text">Expand submenu</span>
        </span>
      </button>
      <ul
        class="slide-nav__dropdown "
        data-parent="{{ collection.handle }}"
        data-level="2"
        style="padding:0.5em 0"
      >
        {% for product in collection.products %}
          <li class="slide-nav__item">
            {% render '[menu-item]', product: product %}
          </li>
        {% endfor %}
        <li class="slide-nav__item">
          {% assign accessories = collections.accessories %}
          {% assign title = accessories.metafields.custom.menu_title.value | default: accessories.title %}
          {% assign subtitle = accessories.metafields.custom.menu_subtitle.value
            | default: product.metafields.custom.subtitle
          %}
          {% assign image = accessories.metafields.custom.menu_image.value | default: accessories.image %}
          <a class="site-nav__dropdown-item" href="{{ pages['accessories'].url }}">
            <div class="site-nav__dropdown-item_image">
              {{ image | image_url: width: 300 | image_tag: loading: 'lazy', class: '' }}
            </div>
            <div class="site-nav__dropdown-item_content">
              <div class="site-nav__dropdown-item_title">{{ title }}</div>
              <div class="site-nav__dropdown-item_subtitle">
                {{ subtitle }}
              </div>
            </div>
          </a>
        </li>
        <li
          style="
            list-style: none;
            display: block;
            width: 100%;
          "
        >
          <a
            class="btn btn--secondary"
            style="
              display: block;
              margin: 1em 0;
            "
            href="/collections/all"
            class="btn btn--secondary"
          >
            {{- 'collections.general.see_more' | t -}}
          </a>
        </li>
      </ul>
    </li>
    {% assign accessories = collections.accessories %}
    <!--
      <li class="slide-nav__item ">
        <a href="{{ pages['accessories'].url }}" class="slide-nav__link"
          ><span class="link-text">{{ accessories.title }}</span>
        </a>
      </li>
    -->
    <li class="slide-nav__item">
      {% assign showrrom = pages['showroom-london'] %}
      <a href="{{ showrrom.url }}" class="slide-nav__link">Showroom</a>
    </li>
    <li class="slide-nav__item ">
      <a href="#" class="slide-nav__link specBtn"><span class="link-text">Download Product Guide</span></a>
    </li>
    {% if settings.cart_enable %}
      <li class="slide-nav__item mobile-cart">
        <a href="/cart" class="slide-nav__link"
          ><span class="link-text">Cart</span>
          <span class="mobile-cart-icon">
            <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.477339 0.000135738C0.213607 0.000135738 0 0.212852 0 0.475096C0 0.737514 0.213781 0.950057 0.477339 0.950057H3.02093C4.24102 3.95195 5.43814 6.95969 6.64609 9.96748L5.52722 12.6394C5.40468 12.927 5.65326 13.3004 5.96727 13.2999H17.9018C18.154 13.3035 18.386 13.0759 18.386 12.8249C18.386 12.5739 18.154 12.3463 17.9018 12.35H6.68334L7.48883 10.4203L19.1327 9.49252C19.3318 9.47612 19.5116 9.32221 19.5579 9.12888L20.9901 2.95384C21.0522 2.67817 20.8117 2.37697 20.5276 2.37502H4.61758L3.78208 0.296877C3.71165 0.123424 3.53 0.000992417 3.34204 0L0.477339 0.000135738ZM4.99754 3.32507H19.9306L18.7074 8.57979L7.474 9.47042L4.99754 3.32507ZM8.35413 14.7251C7.17334 14.7251 6.206 15.6878 6.206 16.8626C6.206 18.0375 7.17351 19 8.35413 19C9.53493 19 10.5023 18.0373 10.5023 16.8626C10.5023 15.6877 9.53475 14.7251 8.35413 14.7251ZM15.5149 14.7251C14.3341 14.7251 13.3667 15.6878 13.3667 16.8626C13.3667 18.0375 14.3342 19 15.5149 19C16.6956 19 17.663 18.0373 17.663 16.8626C17.663 15.6877 16.6955 14.7251 15.5149 14.7251ZM8.35413 15.6751C9.01897 15.6751 9.54758 16.201 9.54758 16.8626C9.54758 17.5241 9.01897 18.0501 8.35413 18.0501C7.68929 18.0501 7.16068 17.5241 7.16068 16.8626C7.16068 16.201 7.68929 15.6751 8.35413 15.6751ZM15.5149 15.6751C16.1797 15.6751 16.7083 16.201 16.7083 16.8626C16.7083 17.5241 16.1797 18.0501 15.5149 18.0501C14.85 18.0501 14.3214 17.5241 14.3214 16.8626C14.3214 16.201 14.85 15.6751 15.5149 15.6751Z" fill="#454545"/>
            </svg>
          </span>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
<div class="mobile-footer-menu">
  {% for block in section.blocks %}
    {% if block.settings['btn-text1'] != blank or block.settings['btn-text2'] != blank %}
      <div class="top-menu-wrap">
        <div class="header-button-group">
          {% if block.settings['btn-text1'] != blank -%}
            <a href="{{ block.settings.btn-link1 }}" class="btn btn--secondary">{{ block.settings['btn-text1'] }}</a>
          {%- endif %}
          {% unless customer %}
            {% if block.settings['reseller-text'] != blank -%}
              <a href="{{ block.settings.reseller-link }}" class="btn btn--secondary">
                {{- block.settings['reseller-text'] -}}
              </a>
            {%- endif %}
          {% endunless %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="tw-h-full tw-inline-flex tw-align-middle tw-items-center language-drpodown">
    {% render '[location]-dropdown', class: '' %}
  </div>
</div>
