<li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown  site-nav--is-megamenu" aria-haspopup="true">
  <a
    href="{{ menu.url }}"
    class="site-nav__link site-nav__link--underline site-nav__link--has-dropdown "
  >
    {{ title | default: menu.title }}
  </a>
  <div class="site-nav__dropdown megamenu text-left">
    <div class="page-width">
      <div class="site-nav__dropdown-animate megamenu__wrapper">
        <div>
          {%- for grandchildlink in menu.links -%}
            <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
              {{ grandchildlink.title }} + {{ grandchildlink.type }}
            </a>
          {%- endfor -%}
        </div>
        {%- for grandchildlink in menu.links -%}
          {% if grandchildlink == 'collection_link' %}
            {% assign collection = collections[grandchildlink.handle] %}
            <div class="megamenu__cols">
              {%- for product in collection.products -%}
                <div class="megamenu__col">
                  <div class="megamenu-col-wrap">
                    <div class="menu-col-image">
                      <a href="{{ product.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level">
                        <img loading="lazy" src="{{ product.featured_image | img_url }}">
                      </a>
                    </div>
                    <h4>
                      <a href="{{ product.url }}">{{ product.title }}</a>
                    </h4>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</li>
