<style>
  .site-header  .site-nav__item-verticle .megamenu{
        padding: 40px 0 40px;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__cols{
        display: flex;
    flex: unset;
    width: 100%;
    flex-flow: unset;
    columns: unset;
    flex-direction: column;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__col:not(:last-child){
    padding-right: unset;
    max-width: unset;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5em;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper{
        width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
  }
  .site-nav-level--one{
        display: flex;
    flex-direction: column;

  }
</style>
{%- liquid
  unless limit
    assign limit = menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}
<li
  class="site-nav__item site-nav__item-verticle site-nav__expanded-item site-nav--has-dropdown  site-nav--is-megamenu"
  aria-haspopup="true"
>
  <a
    href="{{ collections['all'].url }}"
    class="site-nav__link site-nav__link--underline  site-nav__link--has-dropdown "
  >
    {{ tilte | default: menu.title }}
  </a>
  <div class="site-nav__dropdown megamenu text-left">
    <div class="page-width">
      <div class="site-nav__dropdown-animate megamenu__wrapper">
        {%- for link in menu.links limit: limit offset: offset -%}
          <li
            class="site-nav__item-1"
          >
            <a
              href="{{ link.url }}"
              class="site-nav__link-1"
            >
              {{ link.title }}
            </a>
            <div class="site-nav-level--one">
              {%- for childlink in link.links -%}
                <a href="{{ childlink.url }}">
                  {{- childlink.title }}
                  {{ childlink.type -}}
                </a>
                {% if childlink.type == 'product_link' %}
                  {% assign product = childlink.object %}
                  {% if product.options_with_values.size > 0 -%}
                    {% for option in product.options_with_values -%}
                      {% if option.name == 'Furniture' %}
                        {% for value in option.values -%}
                          {{ value | json }}
                        {%- endfor %}
                      {%- endif %}
                    {%- endfor %}
                  {%- endif %}
                {% endif %}
              {% endfor %}
            </div>
          </li>
        {%- endfor -%}
      </div>
    </div>
  </div>
</li>
