<style>
  .site-header  .site-nav__item-verticle .megamenu{
        padding: 40px 0 40px;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__cols{
        display: flex;
    flex: unset;
    width: 100%;
    flex-flow: unset;
    columns: unset;
    flex-direction: column;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__col:not(:last-child){
    padding-right: unset;
    max-width: unset;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5em;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper{
        width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
  }
  .site-nav-level--one{
        display: flex;
    flex-direction: column;

  }
  .site-header .cols-wraper{
    display:flex;
    gap:1em;
        position:relative;
  }
  .site-header .cols-wraper a{
    display:block
  }
   .site-header .col-one{
    width:25%;
  }
    .site-header .col-two{
    flex:1
  }
  .site-header .col-three{
    position:relative;

    width:45%;
    max-width:800px;
  }
    .site-header .col-three:before{
      content:'';
        width:100%;
         padding-bottom:100%;
      display:block;
    }
   .site-header .col-three img{
         position:absolute;
     left:0;top:0;
     width:100%;height:100%
    }
   .site-header .col-one .col-one-children{
     display:none;
     position:absolute;
     top:0;
     height:100%;
     overflow:auto;
     left:30%
   }
  .site-header .col-two-item
  {
     display:none;

   }
   {%- for link in menu.links limit: limit offset: offset -%}
          {% assign idFirst = forloop.index %}
       [data-current^="{{idFirst}}"] [data-id^="{{idFirst}}"] {
                                        display:block
                   }
              {%- for childlink in link.links -%}
                   [data-current^="{{idFirst}}"] [data-id^="{{idFirst}}"] {
                                        display:block
                   }
              {% endfor %}
          {%- endfor -%}
</style>
{%- liquid
  unless limit
    assign limit = menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}
<li
  class="site-nav__item site-nav__item-verticle site-nav__expanded-item site-nav--has-dropdown  site-nav--is-megamenu"
  aria-haspopup="true"
>
  <a
    href="{{ collections['all'].url }}"
    class="site-nav__link site-nav__link--underline  site-nav__link--has-dropdown "
  >
    {{ title | default: menu.title }}
  </a>
  <div class="site-nav__dropdown megamenu text-left">
    <div class="page-width">
      <div class="site-nav__dropdown-animate megamenu__wrapper cols-wraper" data-current="1">
        <div class="col-one">
          {%- for link in menu.links limit: limit offset: offset -%}
            <div class="col-one-item">
              <a
                href="{{ link.url }}"
                data-id="{{ forloop.index }}"
                class="site-nav__link-1"
              >
                {{ link.title }}
              </a>
            </div>
          {%- endfor -%}
        </div>
        <div class="col-two">
          {%- for link in menu.links limit: limit offset: offset -%}
            {% assign oneId = forloop.index %}
            <div
              class="col-two-item col-two-item-{{ oneId }}"
              data-id="{{ oneId }}"
            >
              {%- for childlink in link.links -%}
                <a
                  href="{{ childlink.url }}"
                  data-id="{{ oneId }}-{{ forloop.index }}"
                  data-type="{{ childlink.type }}"
                  data-object="{{ childlink.object | json }}"
                  {% if childlink.type == 'product_link' %}
                  {% endif %}
                >
                  {{ childlink.title }}
                </a>
              {% endfor %}
            </div>
          {%- endfor -%}
        </div>
        <div class="col-three">
          <img
            src="//soundboxstore.com/cdn/shop/files/sbs-001-Folio-Phone-Booth.png?v=1688528132&amp;width=700"
            alt="Folio Phone Booth"
            srcset="//soundboxstore.com/cdn/shop/files/sbs-001-Folio-Phone-Booth.png?v=1688528132&amp;width=400 400w, //soundboxstore.com/cdn/shop/files/sbs-001-Folio-Phone-Booth.png?v=1688528132&amp;width=600 600w"
            width="700"
            height="493"
            loading="lazy"
            class="js-lazy-image"
          >
        </div>
      </div>
    </div>
  </div>
</li>
<script>
  (()=>{
    let wraper =  document.querySelector(".cols-wraper")
     wraper.addEventListener("mouseover",(e)=>{
     console.log(e.target.dataset)
       let currentId = e.target.dataset.id
       if(currentId){
             wraper.dataset.current=currentId
       }

   })
  })()
</script>
