<style>
  .site-header  .site-nav__item-verticle .megamenu{
        padding: 40px 0 40px;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__cols{
        display: flex;
    flex: unset;
    width: 100%;
    flex-flow: unset;
    columns: unset;
    flex-direction: column;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__col:not(:last-child){
    padding-right: unset;
    max-width: unset;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5em;
  }
  .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper{
        width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
  }
  .site-nav-level--one{
        display: flex;
    flex-direction: column;

  }
  .site-header .cols-wraper{
    display:flex;
    gap:1em;
  }
   .site-header .col-one{
    width:30%;
  }
    .site-header .col-two{
    flex:1
  }
  .site-header .col-three{
    position:relative;
    padding-bottom:100%;
    width:40vw;
    max-width:500px;
  }
</style>
{%- liquid
  unless limit
    assign limit = menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}
<li
  class="site-nav__item site-nav__item-verticle site-nav__expanded-item site-nav--has-dropdown  site-nav--is-megamenu"
  aria-haspopup="true"
>
  <a
    href="{{ collections['all'].url }}"
    class="site-nav__link site-nav__link--underline  site-nav__link--has-dropdown "
  >
    {{ tilte | default: menu.title }}
  </a>
  <div class="site-nav__dropdown megamenu text-left">
    <div class="page-width">
      <div class="site-nav__dropdown-animate megamenu__wrapper cols-wraper">
        <div class="col-one">
          {%- for link in menu.links limit: limit offset: offset -%}
            <a
              href="{{ link.url }}"
              class="site-nav__link-1"
            >
              {{ link.title }}
            </a>
            <div class="site-nav-level--one">
              {%- for childlink in link.links -%}
                <a href="{{ childlink.url }}">
                  {{ childlink.title }}
                </a>
              {% endfor %}
            </div>
          {%- endfor -%}
        </div>
        <div class="col-two"></div>
        <div class="col-three"></div>
      </div>
    </div>
  </div>
</li>
