<style>
     .site-header  .site-nav__item-verticle .megamenu{
           padding: 40px 0 40px;
     }
     .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__cols{
           display: flex;
       flex: unset;
       width: 100%;
       flex-flow: unset;
       columns: unset;
       flex-direction: column;

     }
     .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper .megamenu__col:not(:last-child){
       padding-right: unset;
       max-width: unset;
       width: 100%;
       display: flex;
       flex-shrink: 0;
       margin-bottom: 0.5em;
     }
     .site-header .site-nav__item-verticle .megamenu .megamenu__wrapper{
           width: 100%;
       margin: 0 auto;
       display: flex;
       justify-content: start;
     }
     .site-nav-level--one{
           display: flex;
       flex-direction: column;

     }
     .site-header .cols-wraper{
       display:flex;
           position:relative;      gap:2em
     }
     .site-header .cols-wraper a{
       display: block;
       line-height: 1.3;
       padding: 0.4em 0;
   }
     }
      .site-header .col-one{
       width:25%;
     }
       .site-header .col-two{
       flex:1;    font-size: 0.9em;
     }
   .col-two-item-space{
     margin-bottom:1em
   }
     .site-header .col-three{
       position:relative;

       width:45%;
       max-width:800px;
     }
       .site-header .col-three:before{
         content:'';
           width:100%;
            padding-bottom:100%;
         display:block;
       }
      .site-header .col-three img{
            position:absolute;
        left:0;top:0;
        width:100%;height:100%
       }
      .site-header .col-three div{
           display:none
       }
      .site-header .col-one .col-one-children{
        display:none;
        position:absolute;
        top:0;
        height:100%;
        overflow:auto;
        left:30%
      }
     .site-header .col-two-item
     {
        display:none;

      }
   .col-two-item-header{
     font-size:0.9em;
     opacity:0.6;
     font-weight:600;
   }
      {%- for block in blocks -%}
          {% assign ids = block.settings.id | split: '-' %}
     {% if ids.size == 1 %}
      .site-header [data-current^="{{block.settings.id}}"]  .col-two [data-id^="{{block.settings.id}}"] {
                                           display:block
                      }
     {% endif %}
  {% assign img = block.settings.image %}
        {% if img %}
     .site-header [data-img^="{{ block.settings.id }}"]  .col-three [data-id^="{{ block.settings.id }}"] {
                                           display:block
                      }
   {% endif %}

             {%- endfor -%}
</style>
{%- liquid
  unless limit
    assign limit = menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}
{% unless title %}
  {% assign title = 'Our Products' %}
{% endunless %}
{%- for block in blocks -%}
  {% assign ids = block.settings.id | split: '-' %}
  {% assign oneId = ids.first %}
  {% assign img = block.settings.image %}
  {% if img %}
    {% capture threeCol %}
              {{ threeCol }}
                <div data-id="{{ block.settings.id }}">
                  {{
                   img
                    | image_url: width: 900
                    | image_tag: widths: '400, 600, 800', loading: 'lazy'
                  }}
                </div>
              {% endcapture %}
  {% endif %}
  {% if ids.size == 1 %}
    {% capture oneCol %}
              {{ oneCol }}
               <a
                href="{{ block.settings.link }}"
                data-id="{{block.settings.id }}"
                class="site-nav__link-1 col-{{ block.settings.id  }}"
              >
                {{ block.settings.title }}
              </a>
              {% endcapture %}
  {% endif %}
  {% if ids.size == 2 %}
    {% capture twoCol %}
              {{ twoCol }}
        {% if block.settings.title != blank  %}
               <div
              class="col-two-item col-two-item-{{ oneId }} col-{{ block.settings.id  }}"
              data-id="{{ oneId }}"
            >
      {% if block.settings.link %}
             <a
                  href="{{  block.settings.link }}"
                  data-id="{{ block.settings.id }}"
                  data-type="{{ block.settings.link.type }}"
                >
                  {{ block.settings.title }}
                </a>
                 {% else %}
        <div class="col-two-item-header">
                  {{ block.settings.title }}
                </div>
        {% endif %}
            </div>
            {% else %}
                        <div
              class="col-two-item col-two-item-space col-two-item-{{ oneId }} col-{{ block.settings.id }}"
              data-id="{{ oneId }}"
            >
            </div>
          {% endif %}
              {% endcapture %}
  {% endif %}
{%- endfor -%}
<li
  class="site-nav__item site-nav__item-verticle site-nav__expanded-item site-nav--has-dropdown  site-nav--is-megamenu"
  aria-haspopup="true"
>
  <a
    href="{{ collections['all'].url }}"
    class="site-nav__link site-nav__link--underline  site-nav__link--has-dropdown "
  >
    {{ title | default: menu.title }}
  </a>
  <div class="site-nav__dropdown megamenu text-left">
    <div class="page-width">
      <div class="site-nav__dropdown-animate megamenu__wrapper cols-wraper" data-current="1" img="1-1">
        <div class="col-one">
          {{ oneCol }}
        </div>
        <div class="col-two">
          {{ twoCol }}
        </div>
        <div class="col-three">
          {{ threeCol }}
        </div>
      </div>
    </div>
  </div>
</li>
<script>
  (()=>{
    let wraper =  document.querySelector(".cols-wraper")
     wraper.addEventListener("mouseover",(e)=>{
     console.log(e.target.dataset)
       let currentId = e.target.dataset.id
       let img = e.target.dataset.img
       if(currentId){
             wraper.dataset.current=currentId
             wraper.dataset.img=currentId
       }
   })
  })()
</script>
