{%- liquid
  unless limit
    assign limit = menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}
{% unless title %}
  {% assign title = 'Our Products' %}
{% endunless %}
{%- for block in blocks -%}
  {% assign ids = block.settings.id | split: '-' %}

  {% if ids.size == 1 %}
    {% capture oneCol %}
              {{ oneCol }}
               <a
                href="{{ block.settings.link }}"
                data-id="{{block.settings.id }}"
                class="site-nav__link-1 col-{{ block.settings.id  }}"
              >
                {{ block.settings.title }}
              </a>
              {% endcapture %}
  {% endif %}
  {% if ids.size == 2 %}
    {% assign oneId = ids.first %}
    {% capture twoCol %}
              {{ twoCol }}
        {% if block.settings.title %}
               <div
              class="col-two-item col-two-item-{{ oneId }} col-{{ block.settings.id  }}"
              data-id="{{ oneId }}"
            >
      {% if block.settings.link %}
             <a
                  href="{{  block.settings.link }}"
                  data-id="{{ block.settings.id }}"
                  data-type="{{ block.settings.link.type }}"
                  data-img="{{  block.settings.link.image  }}"
                >
                  {{ block.settings.title }}
                </a>
                 {% else %}
        <div class="col-two-item-header">
                  {{ block.settings.title }}
                </div>
        {% endif %}
            </div>
            {% else %}
                        <div
              class="col-two-item col-two-item-space col-two-item-{{ oneId }} col-{{ block.settings.id  }}"
              data-id="{{ oneId }}"
            >
            </div>
          {% endif %}
              {% endcapture %}
  {% endif %}
{%- endfor -%}
<li
  class="site-nav__item site-nav__item-verticle site-nav__expanded-item site-nav--has-dropdown  site-nav--is-megamenu"
  aria-haspopup="true"
>
  <a
    href="{{ collections['all'].url }}"
    class="site-nav__link site-nav__link--underline  site-nav__link--has-dropdown "
  >
    {{ title | default: menu.title }}
  </a>
  <div class="site-nav__dropdown megamenu text-left">
    <div class="page-width">
      <div class="site-nav__dropdown-animate megamenu__wrapper cols-wraper" data-current="1">
        <div class="col-one">
          {{ oneCol }}
        </div>
        <div class="col-two">
          {{ twoCol }}
        </div>
        <div class="col-three">
          {%- for link in menu.links limit: limit offset: offset -%}
            {% assign idFirst = forloop.index %}

            {%- for childlink in link.links -%}
              {% if childlink.object.featured_image %}
                <div data-id="{{ idFirst }}-{{ forloop.index }}">
                  {{
                    childlink.object.featured_image
                    | image_url: width: 900
                    | image_tag: widths: '400, 600, 800', loading: 'lazy'
                  }}
                </div>
              {% endif %}
            {% endfor %}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</li>
