{% assign title = title | default: collection.title %}
{% assign description = description | default: collection.description %}
{% assign products = products | default: collection.products %}
{% assign products_count = products_count | default: collection.products_count %}
{% assign image = image | default: collection.image %}
<div class="collection-main-header-wrap">
  <header class="page-width">
    <h1 class="visually-hidden">{{ collection.title }}</h1>
    <div class="collection-main-title mobile-only">{{ title | strip_html }}</div>
    <div class="collection-main-content">
      {{ image | image_url: width: 900 | image_tag: width: 900, class: 'image' }}
      <div
        style="
               display: flex;
          align-self: stretch;
          flex-direction: column;
          justify-content: center;
        "
        class="collection-main-description"
      >
        <div class="collection-main-title desktop-only">{{ title | strip_html }}</div>
        {% if description != blank %}
          <div class="[&_ul]:list-disc [&_ul]:ml-[30px]">
            {{ description }}
          </div>
        {% else %}

        {% endif %}
        <div
          style="
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            display: flex;
            align-items: center;
          "
          class="hero__link"
        >
          {% assign pageF = pages['remote-tours'] %}
          {% assign textF = pageF.title %}
          <a
            data-onlycity="other"
            href="{{pageF.url }}"
            class="btn"
          >
            {{ textF }}
          </a>
          {% assign pageF = pages['showroom-london'] %}
          {% assign textF = 'Showroom visit' %}
          <a
            href="{{pageF.url }}"
            data-onlycity="London"
            class="btn "
          >
            {{ textF }}
          </a>
          {% assign page = pages.consultancy %}
          <a
            href="{{ page.url }}"
            class="btn"
          >
            {{ 'strings.others.Schedule_Design_Survey' | t }}
          </a>
        </div>
        <div>
          <p style="font-size:0.8em" class="delivery-message">{{ settings.header_delivery_message }}</p>
          <div
            class="site-nav__dropdown-menu_left-icons"
            style="display: flex; margin-top:0.5em;gap: 1em;flex-wrap: wrap;"
          >
            {% render 'iso-images' %}
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
