<div class="footer__title">
  {%- if block.settings.title == blank -%}
    {{ linklists[block.settings.menu].title }}
  {%- else -%}
    {{ block.settings.title }}
  {%- endif -%}
</div>

<ul class="footer__menu">
  {%- for link in linklists[block.settings.menu].links -%}
  {% if link.url contains "#get-spec" %} <li><a  target="_blank" href="https://files.soundboxstore.com/Brochure-Digital-Format.pdf" class="specBtn" >{{ link.title }}</a></li>
    {% else %}
    
    <li><a href="{{ link.url }}" {% if link.url contains 'files.soundboxstore.com'  %}  target="_blank" type="application/octet-stream" download="booth-catalog.pdf" {% endif %} {% if link.url contains "#get-spec" %} class="specBtn" {% endif %}>{{ link.title }}</a></li>
  {% endif %}
  {%- endfor -%}
  {%- if block.settings.enable_account_link -%}
    <li><a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a></li>
  {%- endif -%}
</ul>
