{%- liquid
  assign hide_icon_labels = true
  if nav_position == 'below'
    assign hide_icon_labels = false
  endif
-%}

<div class="site-nav">
  <div class="site-nav__icons">
    <a
      href="{{ routes.search_url }}"
      class="site-nav__link site-nav__link--icon js-search-header{% if nav_position == 'below' %} medium-up--hide{% endif %} js-no-transition"
    >
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
        <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/>
      </svg>
      <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
    </a>

    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide" href="{{ routes.account_url }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 64 64">
          <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.42 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.76 2.7 9.51 6 11.42v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z"/>
        </svg>
        <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text{% endif %}">
          {{ 'layout.customer.account' | t }}
        </span>
      </a>
    {%- endif -%}

    <a
      href="{{ routes.cart_url }}"
      id="HeaderCartTrigger"
      aria-controls="HeaderCart"
      class="site-nav__link site-nav__link--icon js-no-transition"
      data-icon="{{ settings.cart_icon }}"
    >
      <span class="cart-link">
        {%- if settings.cart_icon == 'cart' -%}
          <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.40185 0.000176803C1.06005 0.000176803 0.783203 0.277247 0.783203 0.618828C0.783203 0.960636 1.06027 1.23748 1.40185 1.23748H4.69845C6.27975 5.14754 7.83126 9.06522 9.39681 12.983L7.94672 16.4632C7.7879 16.8378 8.11007 17.3242 8.51703 17.3235H23.9847C24.3116 17.3283 24.6122 17.0318 24.6122 16.7049C24.6122 16.3779 24.3116 16.0815 23.9847 16.0862H9.44509L10.489 13.5727L25.58 12.3643C25.838 12.3429 26.0711 12.1425 26.1311 11.8907L27.9873 3.84747C28.0678 3.4884 27.756 3.09607 27.3878 3.09353H6.76778L5.68494 0.386692C5.59366 0.160764 5.35823 0.00129265 5.11462 0L1.40185 0.000176803ZM7.26023 4.33101H26.6141L25.0288 11.1755L10.4698 12.3355L7.26023 4.33101ZM11.6105 19.18C10.0802 19.18 8.82644 20.4339 8.82644 21.964C8.82644 23.4944 10.0804 24.7481 11.6105 24.7481C13.1409 24.7481 14.3946 23.4942 14.3946 21.964C14.3946 20.4337 13.1406 19.18 11.6105 19.18ZM20.8911 19.18C19.3607 19.18 18.107 20.4339 18.107 21.964C18.107 23.4944 19.361 24.7481 20.8911 24.7481C22.4215 24.7481 23.6752 23.4942 23.6752 21.964C23.6752 20.4337 22.4212 19.18 20.8911 19.18ZM11.6105 20.4173C12.4722 20.4173 13.1573 21.1024 13.1573 21.964C13.1573 22.8257 12.4722 23.5108 11.6105 23.5108C10.7489 23.5108 10.0637 22.8257 10.0637 21.964C10.0637 21.1024 10.7489 20.4173 11.6105 20.4173ZM20.8911 20.4173C21.7528 20.4173 22.4379 21.1024 22.4379 21.964C22.4379 22.8257 21.7528 23.5108 20.8911 23.5108C20.0294 23.5108 19.3443 22.8257 19.3443 21.964C19.3443 21.1024 20.0294 20.4173 20.8911 20.4173Z" fill="#303A44"/>
          </svg>
        {%- elsif settings.cart_icon == 'bag-minimal' -%}
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-bag-minimal"
            viewBox="0 0 64 64"
          >
            <defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path id="svg_2" data-name="svg 2" class="cls-1" d="M22.53 16.61c0-7.1 4.35-9 9.75-9s9.75 1.9 9.75 9"/><path id="svg_4" data-name="svg 4" class="cls-1" d="M11.66 16.65h41.25V53.4H11.66z"/>
          </svg>
        {%- else -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64">
            <defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="cls-1" d="M24.23 18c0-7.75 3.92-14 8.75-14s8.74 6.29 8.74 14M14.74 18h36.51l3.59 36.73h-43.7z"/>
          </svg>
        {%- endif -%}
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
          <span class="cart-link__bubble-num">{{ cart.item_count }}</span>
        </span>
      </span>
      <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text{% endif %}">
        {{ 'layout.cart.title' | t }}
      </span>
    </a>

    <div class="tw-h-full tw-inline-flex tw-align-middle tw-items-center language-drpodown">
      {% render '[location]-dropdown', class: '' %}
    </div>

    <button
      type="button"
      aria-controls="MobileNav"
      class="site-nav__link site-nav__link--icon medium-up--hide mobile-nav-trigger"
    >
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64">
        <path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path>
      </svg>
      <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
    </button>
  </div>

  <div class="site-nav__close-cart">
    <button type="button" class="site-nav__link site-nav__link--icon js-close-header-cart">
      <span>{{ 'general.accessibility.close' | t }}</span>
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
        <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/>
      </svg>
    </button>
  </div>
</div>
