<div>
  {{ settings.iso_1 | image_url: height: 30 | image_tag }}
  {{ settings.iso_2 | image_url: height: 30 | image_tag }}
  {{ settings.iso_3 | image_url: height: 30 | image_tag }}
  {{ settings.iso_4 | image_url: height: 30 | image_tag }}
  {{ settings.iso_5 | image_url: height: 30 | image_tag }}
</div>
