<ul style="display:none" id="product-inventory-instock" class="sales-points">
  {% for variant in product.variants %}
    <hr>
    {{ variant.title }} ({{ variant.inventory_quantity }})
    {% assign isBundle = false %}
    {% assign instock = true %}
    {% for v in variant.metafields.custom.bundle.value %}
      {% assign isBundle = true %}
      {{ v.title }} : {{ v.inventory_quantity -}}
      <br>
      {% if v.inventory_quantity < 1 %}
        {% assign instock = false %}
      {% endif %}
    {% endfor %}
    {% unless isBundle %}
      {% assign instock = false %}
      {% if variant.inventory_quantity > 0 %}
        {% assign instock = true %}
      {% endif %}
    {% endunless %}
    {% if instock %}
      <li class="sales-point">
        <span class="icon-and-text">
          <span class="icon icon--inventory" style="margin-right:0"></span>
          <span>{{ 'products.product.in_stock_label' | t }}</span>
        </span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<script>
          document.addEventListener('variant:change', function (evt) {
            try {
              console.log(evt.detail.variant)
              let e = document.querySelector(`#product-inventory-instock`)
              e.dataset.variant="{{ evt.detail.variant.id }}"
            } catch (error) {
              console.log({ error })
            }

          });
</script>
