<style>
  .sales-point{
    display:none
  }
</style>
<ul id="product-inventory-instock" class="sales-points" data-variant="{{ current_variant.id }}">
  {% for variant in product.variants %}
    {% assign isBundle = false %}
    {% assign instock = true %}
    {% for v in variant.metafields.custom.bundle.value %}
      {% assign isBundle = true %}
      {% if v.inventory_quantity < 1 %}
        {% assign instock = false %}
      {% endif %}
    {% endfor %}
    {% unless isBundle %}
      {% assign instock = false %}
      {% if variant.inventory_quantity > 0 %}
        {% assign instock = true %}
      {% endif %}
    {% endunless %}
    <li style="display:none">
      instock: {{ instock -}}
      <br>
      inventory_quantity: {{ variant.inventory_quantity -}}
      <br>
    </li>
    {% if instock %}
      <li class="sales-point" id="product-inventory-instock-{{ variant.id }}">
        <style>
                    [data-variant="{{variant.id}}"] #product-inventory-instock-{{variant.id}} {
              display: block;

          }
        </style>
        <span class="icon-and-text" data>
          <span class="icon icon--inventory" style="margin-right:0"></span>
          <span>{{ 'products.product.in_stock_label' | t }}</span>
        </span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<script>
          document.addEventListener('variant:change', function (evt) {
            try {
              console.log(evt.detail.variant)
              let e = document.querySelector(`#product-inventory-instock`)
              e.dataset.variant=evt.detail.variant.id+""
            } catch (error) {
              console.log({ error })
            }

          });
</script>
