{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
-%}
{%- if product.metafields.custom.youtube_url.value contains 'youtube.com/watch' -%}
  {%- assign youtubeId = product.metafields.custom.youtube_url.value | split: 'v=' -%}
  {%- assign youtubeId = youtubeId[1] | split: '&' | first -%}
{%- endif -%}
{%- if product.metafields.custom.youtube_url.value contains 'youtu.be/' -%}
  {%- assign youtubeId = product.metafields.custom.youtube_url.value | split: '.be/' -%}
  {%- assign youtubeId = youtubeId[1] | split: '&' | first -%}
{%- endif -%}

{%- capture sizes -%}
(min-width: 1640px) 820px, (min-width: 990px) calc(50vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), 599px
{%- endcapture -%}
{%- capture new_label -%}
 {% render '[product-label]' product:product  %}{%- endcapture -%}
<style>
    .slick-initialized .slick-slide .gallery-wrap {
      display: none;
  }

    .slick-initialized .slick-slide.slick-current .gallery-wrap {
      display: block !important;
    }
  .thumbnail-slider-inner  .slick-current img{
    border: 1px solid #00000061!important
  }
  .thumbnail-slider-inner{
    display: none;

  }
  .thumbnail-slider{
    min-height: 54px;
  }
  .thumbnail-slider-inner.slick-initialized{
    display: block;
  }
  .image-gallery-block .gallery-wrap video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
  }
  .product-main-slider .thumbnail-gallery .thumbnail-wrap svg{
    position: absolute;
      width: 40%;
      height: 40%;
      left: 30%;
      opacity: 0.7;
      top: 30%;
  }
</style>

{%- unless product.empty? -%}
  <script type="application/json" id="ModelJson-{{ section_id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- else -%}
  <div data-product-images data-zoom="false" data-has-slideshow="false">
    <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">
      <div class="product__main-photos" style="width: 100%">
        <div data-product-photos class="product-slideshow">
          <div class="product-main-slide" data-index="{{ forloop.index0 }}">
            <a href="#">
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endunless -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign vaSku = current_variant.sku | strip -%}
{%- assign slide_count = 0 -%}
{%- assign imgs = current_variant.metafields.global.images.value -%}
{%- assign videos = current_variant.metafields.global.videos.value -%}

{%- unless imgs -%}
  {%- assign imgs = product.images | where: 'alt', vaSku -%}
{%- endunless -%}
{%- assign slide_count = imgs.size -%}

{% capture youtubeopener %}
  {% if youtubeId %}
    <div class="image-gallery-block">
      <div
        class="gallery-wrap"
          style="display:none ;"
      >
      <label
      for="youtube-modal-input-{{ youtubeId }}"
      style="width:100%;position:absolute;height:100%; pointer-events: auto;    display: flex; justify-content: center; align-items: center;">
      <img  width="80" height="80" src="https://img.youtube.com/vi/{{youtubeId}}/0.jpg"   
      style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;pointer-events: none;"/>
            <svg style="overflow: visible;z-index: 1;" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 32 32">
              <path fill="currentColor" d="M31.328 8.271a4.006 4.006 0 0 0-2.787-2.781c-2.495-.667-12.525-.667-12.525-.667S6.005 4.807 3.484 5.49A4.005 4.005 0 0 0 .703 8.271a41.574 41.574 0 0 0-.697 7.745a42.136 42.136 0 0 0 .697 7.708a4.022 4.022 0 0 0 2.781 2.787c2.495.667 12.532.667 12.532.667s10.005 0 12.525-.667a4.023 4.023 0 0 0 2.787-2.787c.459-2.541.683-5.125.667-7.708c.016-2.6-.203-5.188-.667-7.745zM12.812 20.803v-9.595l8.349 4.808z"/>
            </svg>
      </label>
        {{ new_label }}
      </div>
    </div>
  {% endif %}
{% endcapture %}
{% capture youtubeopenerthumb %}
  {% if youtubeId %}
    <div style="order:3"  class="thumnail-gallery-block"      style="pointer-events: none;">
      <div class="thumbnail-wrap">
        <label
        for="youtube-modal-input-{{ youtubeId }}"
        style="width:100%;position:absolute;height:100%; pointer-events: auto;"
      >
      <img  width="80" height="80" src="https://img.youtube.com/vi/{{youtubeId}}/0.jpg"   
      style="position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;"
      />
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 32 32">
              <path fill="currentColor" d="M31.328 8.271a4.006 4.006 0 0 0-2.787-2.781c-2.495-.667-12.525-.667-12.525-.667S6.005 4.807 3.484 5.49A4.005 4.005 0 0 0 .703 8.271a41.574 41.574 0 0 0-.697 7.745a42.136 42.136 0 0 0 .697 7.708a4.022 4.022 0 0 0 2.781 2.787c2.495.667 12.532.667 12.532.667s10.005 0 12.525-.667a4.023 4.023 0 0 0 2.787-2.787c.459-2.541.683-5.125.667-7.708c.016-2.6-.203-5.188-.667-7.745zM12.812 20.803v-9.595l8.349 4.808z"/>
            </svg>
      </label>
      </div>
    </div>
  {% endif %}
{% endcapture %}
<div class="product-main-slider">
  <div class="slider-wrap">
    <div class="image-gallery-main">
      {%- assign had_images = false -%}

      {%- for image in imgs -%}
        {%- assign had_images = true -%}
        {%- assign alt = product.title | append: current_variant.title | strip -%}
        <div class="image-gallery-block">
          {%- unless forloop.first -%}
            {%- assign lazy = 'lazy' -%}
          {%- endunless -%}
          <div
            class="gallery-wrap"
            {%- if lazy -%}
              style="display:none ;"
            {%- endif -%}
          >
            {% if forloop.first == true %}
              {{
                image
                | image_url: width: 800
                | image_tag:
                  preload: true,
                  class: 'photoswipe__image',
                  sizes: sizes,
                  widths: '246, 493, 600, 713, 823, 990',
                  alt: alt
                | escape
              }}
            {% else %}
              {{
                image
                | image_url: width: 1900
                | image_tag:
                  loading: lazy,
                  class: 'photoswipe__image',
                  sizes: sizes,
                  widths: '246, 493, 600, 713, 823, 990',
                  alt: alt
                | escape
              }}
            {% endif %}
            {{ new_label }}
          </div>
        </div>
        {% if forloop.index == 2 %}
          {{ youtubeopener }}
        {% endif %}
        {% if forloop.index < 2 and forloop.last %}
          {{ youtubeopener }}
        {% endif %}
      {%- endfor -%}
      {%- for video in videos -%}
        {%- assign had_images = true -%}
        {%- assign alt = image.alt | strip -%}
        <div class="image-gallery-block">
          {%- unless forloop.first -%}
            {%- assign lazy = 'lazy' -%}
          {%- endunless -%}
          <div
            class="gallery-wrap"
            {%- if lazy -%}
              style="display:none ;"
            {%- endif -%}
          >
            {{ video | media_tag: class: 'photoswipe__image', autoplay: true, loop: true, controls: false }}
            {{ new_label }}
          </div>
        </div>
      {%- endfor -%}

      {%- unless had_images -%}
        <div class="image-gallery-block">
          {%- assign lazy = 'lazy' -%}
          <div
            class="gallery-wrap"
            {%- if lazy -%}
              style="display:none ;"
            {%- endif -%}
          >
            {{ 'product-1' | placeholder_svg_tag }}
            {{ new_label }}
          </div>
        </div>
      {%- endunless -%}
    </div>

    <div class="thumbnail-gallery">
      <div class="thumbnail-slider">
        <div class="thumbnail-slider-inner {%- if slide_count > 4 -%}arrows_in_slider{%- endif -%}">
          {%- for image in imgs -%}
            <div style="order:{{ forloop.index }}" class="thumnail-gallery-block">
              <div class="thumbnail-wrap">
                <img
                  loading="lazy"
                  src="{{ image | image_url : width: 100 }}"
                  width="100"
                  height="100"
                  alt="{{ image.alt | default:  'product thumb'  | escape }}"
                >
              </div>
            </div>
            {% if forloop.index == 2 %}
              {{ youtubeopenerthumb }}
            {% endif %}
            {% if forloop.index < 2 and forloop.last %}
              {{ youtubeopenerthumb }}
            {% endif %}
          {%- endfor -%}
          {%- for video in videos -%}
            <div style="order:{{ forloop.index }}" class="thumnail-gallery-block">
              <div class="thumbnail-wrap">
                <img
                  src="{{ video | image_url : width: 100 }}"
                  loading="lazy"
                  width="100"
                  height="100"
                  alt="{{ image.alt | default: 'product thumb' | escape }}"
                >
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 1024 1024"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm144.1 454.9L437.7 677.8a8.02 8.02 0 0 1-12.7-6.5V353.7a8 8 0 0 1 12.7-6.5L656.1 506a7.9 7.9 0 0 1 0 12.9z"></path>
                </svg>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% assign page360url = product.metafields.custom.page360.value.url %}
{%- if page360url -%}
  <style>
        .btn-360{
    gap: 0.4em;
    border-radius: 99em;
        transform: translateX(calc(-50% + 40px));
      position: absolute;
      bottom: -12px;
      left: 50%;
      max-width: unset;

    }
    .btn-360:hover{
    opacity: 0.7;

    }
    .btn-360 img{
        width: 2em;
        max-width: unset;
        margin-left: 0.3em;
      vertical-align: text-top;
    }
    @media only screen and (max-width: 860px){
      .btn-360{
        transform: translateX(-50%);
        bottom: 22.5%;
        font-size: 10px;
        padding: 0.5em 1em;
      }
    }
  </style>
  <a
    type="button"
    href="{{page360url}}"
    class="btn-360 btn btn--secondary"
  >
    {{ 'strings.general.step-inside' | t }}
    <img
      class=""
      alt="step inside image"
      width="28"
      height="14"
      loading="lazy"
      src="https://cdn.shopify.com/s/files/1/0631/9892/0929/files/360degree.svg?v=1664532487"
    >
  </a>
{%- endif -%}
{%- if first_3d_model -%}
  {% render 'model-3d', first_3d_model: first_3d_model %}
{%- endif -%}
{%- for current_variant in product.variants -%}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign vaSku = current_variant.sku | strip -%}
  {%- assign slide_count = 0 -%}
  {%- assign imgs = current_variant.metafields.global.images.value -%}
  {%- assign videos = current_variant.metafields.global.videos.value -%}
  {%- assign alt = product.title | append: current_variant.title | strip -%}
  {%- unless imgs -%}
    {%- assign imgs = product.images | where: 'alt', vaSku -%}
  {%- endunless -%}
  {%- assign slide_count = imgs.size -%}
  <template data-id="{{ current_variant.id }}" data-videos="{{videos | json}}">
    <div class="slider-wrap">
      <div class="image-gallery-main">
        {%- assign had_images = false -%}
        {%- for image in imgs -%}
          {%- assign had_images = true -%}

          <div class="image-gallery-block">
            {%- unless forloop.first -%}
              {%- assign lazy = 'lazy' -%}
            {%- endunless -%}
            <div
              class="gallery-wrap"
              {%- if lazy -%}
                style="display:none ;"
              {%- endif -%}
            >
              {{
                image
                | image_url: width: 1900
                | image_tag:
                  loading: lazy,
                  class: 'photoswipe__image',
                  sizes: sizes,
                  widths: '246, 493, 600, 713, 823, 990',
                  alt: alt
                | escape
              }}
              {{ new_label }}
            </div>
          </div>
          {% if forloop.index == 2 %}
            {{ youtubeopener }}
          {% endif %}
          {% if forloop.index < 2 and forloop.last %}
            {{ youtubeopener }}
          {% endif %}
        {%- endfor -%}
        {%- for video in videos -%}
          {%- assign had_images = true -%}
          {%- assign alt = image.alt | strip -%}
          <div class="image-gallery-block">
            {%- unless forloop.first -%}
              {%- assign lazy = 'lazy' -%}
            {%- endunless -%}
            <div
              class="gallery-wrap"
              {%- if lazy -%}
                style="display:none ;"
              {%- endif -%}
            >
              {{ video | media_tag: class: 'photoswipe__image', autoplay: true, loop: true, controls: false }}
              {{ new_label }}
            </div>
          </div>
        {%- endfor -%}
        {%- unless had_images -%}
          <div class="image-gallery-block">
            {%- assign lazy = 'lazy' -%}
            {%- assign image = current_variant.image -%}
            <div
              class="gallery-wrap"
              {%- if lazy -%}
                style="display:none ;"
              {%- endif -%}
            >
              {{
                image
                | image_url: width: 1900
                | image_tag:
                  loading: lazy,
                  data-orgin-url: image.url,
                  class: 'photoswipe__image',
                  sizes: sizes,
                  widths: '246, 493, 600, 713, 823, 990',
                  alt: alt
                | escape
              }}
              {{ new_label }}
            </div>
          </div>
        {%- endunless -%}
      </div>

      <div class="thumbnail-gallery">
        <div class="thumbnail-slider">
          <div class="thumbnail-slider-inner {%- if slide_count > 4 -%}arrows_in_slider{%- endif -%}">
            {%- for image in imgs -%}
              <div style="order:{{ forloop.index }}" class="thumnail-gallery-block">
                <div class="thumbnail-wrap">
                  <img
                    src="{{ image | image_url : width: 100 }}"
                    loading="lazy"
                    width="100"
                    height="100"
                    alt="{{ image.alt | default: 'product thumb' | escape }}"
                  >
                </div>
              </div>
              {% if forloop.index == 2 %}
                {{ youtubeopenerthumb }}
              {% endif %}
              {% if forloop.index < 2 and forloop.last %}
                {{ youtubeopenerthumb }}
              {% endif %}
            {%- endfor -%}
            {%- for video in videos -%}
              <div style="order:{{ forloop.index }}" class="thumnail-gallery-block">
                <div class="thumbnail-wrap">
                  <img
                    src="{{ video | image_url : width: 100 }}"
                    loading="lazy"
                    width="100"
                    height="100"
                    alt="{{ image.alt | default: 'product thumb' | escape }}"
                  >
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm144.1 454.9L437.7 677.8a8.02 8.02 0 0 1-12.7-6.5V353.7a8 8 0 0 1 12.7-6.5L656.1 506a7.9 7.9 0 0 1 0 12.9z"></path>
                  </svg>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </template>
{%- endfor -%}

<script>
  window.product = {{ product | json }}
</script>

{% if youtubeId %}
  <div
    style="
      position: fixed;z-index: 9999999; overflow:hidden;    width: 0;
      height: 0;
    "
  >
    {% render 'youtube-popup', blockid: 'blockid', video_id: youtubeId %}
  </div>
{% endif %}
