{% assign isResserllerOrTradeAccount = false %}
{% if request.design_mode %}
  {% if settings.isreseller %}
    {% assign isResserllerOrTradeAccount = true %}
  {% endif %}
{% endif %}
{% if customer %}
  {% if customer.metafields['custom-register'].trade_account_type == 'credit' %}
    {% if customer.metafields['custom-register'].trade_account_status == '1' %}
      {% assign isResserllerOrTradeAccount = true %}
    {% endif %}
  {% endif %}
{% endif %}
{%- liquid
  assign enableSuperScript = false
  unless shop.money_format contains 'money' or shop.money_format contains '.'
    if settings.superscript_decimals
      if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}'
        assign enableSuperScript = true
      elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}'
        assign enableSuperScript = true
      endif
    endif
  endunless
-%}
<!doctype html>
<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  dir="{{ settings.text_direction }}"
  country="{{  localization.country.iso_code }}"
  currency="{{  localization.country.currency.iso_code }}"
>
  <head>
    {% render 'yett' %}

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <meta http-equiv="Expires" content="30">

    <link rel="canonical" href="{{ canonical_url }}">

    <link href="https://cdn.shopify.com" rel="preconnect">

    <link href="https://fonts.shopifycdn.com" rel="preconnect">
    <link href="https://ajax.googleapis.com" rel="dns-prefetch">
    <link href="https://maps.googleapis.com" rel="dns-prefetch">
    <link href="https://maps.gstatic.com" rel="dns-prefetch">
    <link href="https://static.klaviyo.com" rel="preconnect">
    <link href="https://crmplus.zoho.eu" rel="preconnect">
    {{ 'jquery.min.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'slick.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'custom.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'vendor-scripts-v1.js' | asset_url | preload_tag: as: 'script' }}

    {{ 'theme_index.css' | asset_url | stylesheet_tag: preload: true }}

    <link
      rel="preload"
      as="script"
      href="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Rs39V4"
    >
    {%- if settings.favicon != blank -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | img_url: '32x32' }}"
        type="image/png"
      >
    {%- endif -%}

    {%- render 'seo-title' -%}

    <meta name="description" content="{{ page_description | escape }}">

    {%- render 'social-meta-tags' -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};
      theme.routes = {
        home: "{{ routes.root_url }}",
        collections: "{{ routes.collections_url }}",
        cart: "{{ routes.cart_url | append: '.js' }}",
        cartPage: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
        cartChange: "{{ routes.cart_change_url | append: '.js' }}",
        search: "{{ routes.search_url }}"
      };
      theme.strings = {
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
        stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
        searchCollections: {{ 'general.search.collections' | t | json }},
        searchProducts: {{ 'general.search.products' | t | json }},
        searchPages: {{ 'general.search.pages' | t | json }},
        searchArticles: {{ 'general.search.articles' | t | json }},
        viewLess: {{ 'strings.others.view_less' | t | json }},
        viewMore: {{ 'strings.others.view_more' | t | json }}
      };
      theme.settings = {
        dynamicVariantsEnable: true,
        cartType: {{ settings.cart_type | json }},
        isCustomerTemplate:{% if request.page_type contains 'customers/' %}true
        {% else %}
          false
        {% endif %},
        moneyFormat: {{ shop.money_format | json }},
        saveType: {{ settings.product_save_type | json }},
        productImageSize: {{ settings.product_grid_image_size | json }},
        productImageCover: {{ settings.product_grid_image_fill }},
        predictiveSearch: {{ settings.predictive_search_enabled }},
        predictiveSearchType: {{ settings.search_type | json }},
        superScriptSetting: {{ settings.superscript_decimals }},
        superScriptPrice: {{ enableSuperScript }},
        quickView: {{ settings.quick_shop_enable }},
        quickAdd: {{ settings.quick_add_enable }},
        themeName: 'Expanse',
        themeVersion: "2.0.0"
      };
    </script>
    <!-- content_for_header -->
    {{ content_for_header }}
    <!-- end content_for_header -->
    <style>
      label[for='_gcl_au'],
      label[for='_gcl_au'] + .grfq__popupForm__formLabelOptional,
      .grfq__popupForm__formInput input[name='_gcl_au'] {
        display: none !important;
      }
    </style>
    {{ 'jquery.min.js' | asset_url | script_tag  defer:true }}
  </head>

  <body
    {% if isResserllerOrTradeAccount %}
      data-reseller
    {% endif %}
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %} page-{{ page.handle }} {% if page.handle == 'silence-booth' %}topbar-page{% endif %}"
    data-transitions="{{ settings.animate_page_transitions }}"
    data-button_style="{{ settings.button_style }}"
    data-edges="{{ settings.roundness }}"
    data-type_header_capitalize="{{ settings.type_header_capitalize }}"
    data-swatch_style="{{ settings.swatch_style }}"
    data-grid-style="{{ settings.product_grid_style }}"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W3VDBP8N"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NGK2QSL"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {%- section 'toolbar' -%}
    {%- section 'header' -%}
    <main class="main-content" id="MainContent">
      {{ content_for_layout }}
    </main>
    {%- section 'footer-promotions' -%}
    {%- section 'footer' -%}

    {%- section 'newsletter-popup' -%}

    {{ 'https://crmplus.zoho.eu/crm/javascript/zcga.js' | script_tag  defer:true }}
    {{ 'https://cdn-eu.pagesense.io/js/soundboxstore/46720b15a74e407f8cd2306128512707.js' | script_tag  defer:true }}
    {{ 'youtubeplayer.js' | asset_url  | script_tag  defer:true }}
    {{ 'slick.js' | asset_url | script_tag  defer:true }}
    {{ 'theme.js' | asset_url | script_tag  defer:true }}
    {{ 'custom.js' | asset_url | script_tag  defer:true }}
    {{ 'https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Rs39V4' | script_tag  defer:true }}
    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script>
      forceProductPriceSelector = '.grfq-price';
      document.addEventListener('GRFQ:Popup_Form_rendered', function () {
        let currencyField = document.querySelector(".grfq__popupForm__formInput [name=\"Currency\"]")
        if(currencyField){
          document.querySelector(".grfq__popupForm__formInput [name=\"Currency\"]").value="{{ localization.country.currency.iso_code }}"
        }
      });
    </script>
    <style>
      .grid-item-meta .rfq-btn {
        max-width: 200px;
      }
      .grfq__popupForm__formGroup:last-child {
        display: none !important;
      }
    </style>

    <script>
      function getCookie(cname) {
        let name = cname + '=';
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return '';
      }

      document.addEventListener('GRFQ:Popup_Form_rendered', function () {
        const _gcl_awCookie = getCookie('_gcl_aw').split('.')
        document.querySelector('input[name="_gcl_aw"]').value = _gcl_awCookie[_gcl_awCookie.length-1];
      });
    </script>
    {% section 'zoho-form-popup' %}

    <script>
      var isReplaced = false;
      function MeroxIO_Function(){
        if(!isReplaced){
          window.yett.unblock();
          console.log("apps lazyloaded successfully");
          isReplaced=true;

          (function zsiqchat(){
            window['$zoho'] = window['$zoho'] || {};
            $zoho.salesiq = $zoho.salesiq || {
              widgetcode:
                "00f33205e195e32084969fefc7d2a574e9697c3e44cf4024b87b8f147c4f8bb0",
              values: {},
              ready: function () {},
            };
            var d = document;
            s = d.createElement("script");
            s.type = "text/javascript";
            s.id = "zsiqscript";
            s.defer = true;
            s.src = "https://salesiq.zoho.eu/widget";
            t = d.getElementsByTagName("script")[0];
            t.parentNode.insertBefore(s, t);
          })()
          const event = new Event("app:ready");
          document.dispatchEvent(event);
        }
      }
      document.addEventListener("click", MeroxIO_Function);
      document.addEventListener("scroll", MeroxIO_Function);
      document.addEventListener("touchstart", MeroxIO_Function);
      document.addEventListener("mousemove", MeroxIO_Function);
    </script>
    <!--
      <script>
          jQuery.event.special.touchstart = {
            setup: function( _, ns, handle ) {
                this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
            }
        };
        jQuery.event.special.touchmove = {
            setup: function( _, ns, handle ) {
                this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
            }
        };
        jQuery.event.special.wheel = {
            setup: function( _, ns, handle ){
                this.addEventListener("wheel", handle, { passive: true });
            }
        };
        jQuery.event.special.mousewheel = {
            setup: function( _, ns, handle ){
                this.addEventListener("mousewheel", handle, { passive: true });
            }
        };
      </script>
    -->
  </body>
</html>
