{% assign isResserllerOrTradeAccount = false %}
{% if request.design_mode %}
  {% if settings.isreseller %}
    {% assign isResserllerOrTradeAccount = true %}
  {% endif %}
{% endif %}
{% if customer %}
  {% if customer.metafields['custom-register'].trade_account_type == 'credit' %}
    {% if customer.metafields['custom-register'].trade_account_status == '1' %}
      {% assign isResserllerOrTradeAccount = true %}
    {% endif %}
  {% endif %}
{% endif %}
<!doctype html>
<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  dir="{{ settings.text_direction }}"
  country="{{  localization.country.iso_code }}"
  currency="{{  localization.country.currency.iso_code }}"
>
  <head>
    {% render 'yoast-seo' %}

    {% render 'gcm-integration-script' %}
    {% render 'pandectes-rules' %}

    {% render 'pre-header' %}
    {% render 'yett' %}

    <script>
      (function(w,d,t,r,u)
      {
          var f,n,i;
          w[u]=w[u]||[],f=function()
          {
              var o={ti:"187133965", enableAutoSpaTracking: true};
              o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")
          },
          n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()
          {
              var s=this.readyState;
              s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)
          },
          i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)
      })
      (window,document,"script","//bat.bing.com/bat.js","uetq");
    </script>
    <!-- append core web vitals -->
    <script>
  (function () {
    var script = document.createElement('script');
    script.src =
      'https://unpkg.com/web-vitals@4/dist/web-vitals.attribution.iife.js';
    script.onload = function () {
      function sendToAnalytics(metric) {
        // Replace with whatever serialization method you prefer.
        // Note: JSON.stringify will likely include more data than you need.
        const body = JSON.stringify(metric);
      
        // Use `navigator.sendBeacon()` if available, falling back to `fetch()`.
        (navigator.sendBeacon && navigator.sendBeacon('https://snowy-waterfall-4a75.hieunguyenel2686.workers.dev/', body)) ||
          fetch('https://snowy-waterfall-4a75.hieunguyenel2686.workers.dev/', {body, method: 'POST', keepalive: true});
      }
      // When loading `web-vitals` using a classic script, all the public
      // methods can be found on the `webVitals` global namespace.
      webVitals.onCLS(console.log, {reportAllChanges: true});
      webVitals.onINP(sendToAnalytics, {reportAllChanges: true});
      webVitals.onLCP(console.log);
    };
    document.head.appendChild(script);
  })();
    </script>
    <!-- append core web vitals -->

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W3VDBP8N');
    </script>

    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <!--
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0HET6EXHTH"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

              gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });

          gtag('config', 'G-0HET6EXHTH');
        </script>
    -->

    <!-- Google Analytics 4 integration- script from Consentmo GDPR Compliance App -->
    <script async id="gaf-loading-script"></script>
    <script id="gdpr-gaf-blocking-script">
      let isGAFExecuted = false;
      let gafScript = document.getElementById('gaf-loading-script');
      let gafLink = 'https://www.googletagmanager.com/gtag/js?id=G-0HET6EXHTH' ;

      function executeGAF() {
        if(!isGAFExecuted) {
          gafScript.setAttribute('src', gafLink);
          // The content of Google Analytics 4 script goes here
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

            gtag('consent', 'default', {
          'ad_storage': 'denied',
          'analytics_storage': 'denied' });

          gtag('config', 'G-0HET6EXHTH');
          isGAFExecuted = true;
        }
      }
      function checkConsentForGAF(adittionalChecks = 0) {
        let cpdCookie=(document.cookie.match(/^(?:.*;)?\s*cookieconsent_preferences_disabled(\s*=\s*([^;]+)?)(?:.*)?$/)||[,null])[1];
        if(cpdCookie != null) {
          if(parseInt(cpdCookie.indexOf('analytics')) === -1) {
            executeGAF();
          }
        } else {
          let gdprCache = localStorage.getItem('gdprCache') ? JSON.parse(localStorage.getItem('gdprCache')) : null;
          let gdprCacheConsentSettings = gdprCache && gdprCache.getCookieConsentSettings ? JSON.parse(gdprCache.getCookieConsentSettings) : null;
          let gdprCacheCountryDetection = gdprCache && gdprCache.countryDetection ? JSON.parse(gdprCache.countryDetection) : null;
          let ccsCookie = (document.cookie.match(/^(?:.*;)?\s*cookieconsent_status\s*=\s*([^;]+)(?:.*)?$/)||[,null])[1];
          if((gdprCacheConsentSettings || (gdprCacheCountryDetection && gdprCacheCountryDetection.disable === '1')) && !ccsCookie) {
            if((gdprCacheConsentSettings && gdprCacheConsentSettings.status === 'disabled') || gdprCacheCountryDetection.disable === '1'){
              executeGAF();
            } else {
              let initPreferences = parseInt(gdprCacheConsentSettings.checkboxes_behavior);
              if(initPreferences === 1 || initPreferences === 2 || initPreferences === 4 || initPreferences === 5) {
                executeGAF();
              }
            }
          } else {
            if (adittionalChecks > 0) {
              setTimeout(function() {
                checkConsentForGAF(adittionalChecks - 1);
              }, 1000);
            } else {
              executeGAF();
            }
          }
        }
      }

      checkConsentForGAF(3);
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NGK2QSL');
    </script>
    <!-- End Google Tag Manager -->

    {% comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{% endcomment -%}
    {%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value
      | default: shop.metafields.yoast_seo.settings
    -%}
    {%- if disabled_by_yoast_seo
      or yoast_seo_settings.integrations.webmasterVerification.google == blank
      or yoast_seo_settings.integrations.webmasterVerification.google == null
    -%}
      <meta
        content="TJozjrNtNRmGCvySYAsbMofMzu2Gzw8syMzHROEY_QY"
        name="google-site-verification"
      >
      {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
    {%- endif -%}

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <meta http-equiv="Expires" content="30">
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
    {%- if disabled_by_yoast_seo -%}
      <link rel="canonical" href="{{ canonical_url }}">
      {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
    {%- endif -%}

    <link href="https://cdn.shopify.com" rel="preconnect">

    <link href="https://fonts.shopifycdn.com" rel="preconnect">
    <link href="https://ajax.googleapis.com" rel="dns-prefetch">
    <link href="https://maps.googleapis.com" rel="dns-prefetch">
    <link href="https://maps.gstatic.com" rel="dns-prefetch">
    <link href="https://static.klaviyo.com" rel="preconnect">
    <link href="https://crmplus.zoho.eu" rel="preconnect">
    {{ 'jquery.min.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'slick.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'vendor-scripts-v1.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'custom-v2.js' | asset_url | preload_tag: as: 'script' }}

    {{ 'theme_index.css' | asset_url | stylesheet_tag: preload: true }}

    <link
      rel="preload"
      as="script"
      href="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Rs39V4"
    >

    {%- if settings.favicon != blank -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | img_url: '32x32' }}"
        type="image/png"
      >
    {%- endif -%}

    {% if template.name == 'index' %}
      <title>
        {{ page_title -}}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      </title>
    {% else %}
      {%- render 'seo-title', page_title: page_title -%}
    {% endif %}

    {%- if page_description -%}
      {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
      {%- if disabled_by_yoast_seo -%}
        <meta name="description" content="{{ page_description | escape }}">
        {%- comment -%} End Yoast auto-disable. {%- endcomment -%}
      {%- endif -%}
    {%- endif -%}

    {%- render 'social-meta-tags' -%}
    <style>
      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Semibold.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Semibold.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Semibold.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Semibold.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Semibold.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Semibold.svg#BananaGrotesk-Semibold' | file_url }}') format('svg');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Medium.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Medium.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Medium.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Medium.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Medium.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Medium.svg#BananaGrotesk-Medium' | file_url }}') format('svg');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Regular.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Regular.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Regular.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Regular.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Regular.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Regular.svg#BananaGrotesk-Regular' | file_url }}') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Thin.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Thin.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Thin.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Thin.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Thin.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Thin.svg#BananaGrotesk-Thin' | file_url }}') format('svg');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Light.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Light.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Light.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Light.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Light.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Light.svg#BananaGrotesk-Light' | file_url }}') format('svg');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Bold.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Bold.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Bold.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Bold.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Bold.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Bold.svg#BananaGrotesk-Bold' | file_url }}') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Extrabold.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Extrabold.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Extrabold.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Extrabold.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Extrabold.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Extrabold.svg#BananaGrotesk-Extrabold' | file_url }}') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Banana Grotesk';
        src: url('{{ 'BananaGrotesk-Extralight.eot' | file_url }}');
        src: url('{{ 'BananaGrotesk-Extralight.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'BananaGrotesk-Extralight.woff2' | file_url }}') format('woff2'), url('{{ 'BananaGrotesk-Extralight.woff' | file_url }}') format('woff'), url('{{ 'BananaGrotesk-Extralight.ttf' | file_url }}') format('truetype'), url('{{ 'BananaGrotesk-Extralight.svg#BananaGrotesk-Extralight' | file_url }}') format('svg');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Helvetica Neue';
        src: url('{{ 'HelveticaNeue.eot' | file_url }}');
        src: url('{{ 'HelveticaNeue.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'HelveticaNeue.woff2' | file_url }}') format('woff2'), url('{{ 'HelveticaNeue.woff' | file_url }}') format('woff'), url('{{ 'HelveticaNeue.ttf' | file_url }}') format('truetype'), url('{{ 'HelveticaNeue.svg#HelveticaNeue' | file_url }}') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'HelveticaNeue';
        src: url('{{ 'HelveticaNeueMedium.eot' | file_url }}');
        src: url('{{ 'HelveticaNeueMedium.eot?#iefix' | file_url }}') format('embedded-opentype'), url('{{ 'HelveticaNeueMedium.woff2' | file_url }}') format('woff2'), url('{{ 'HelveticaNeueMedium.woff' | file_url }}') format('woff'), url('{{ 'HelveticaNeueMedium.ttf' | file_url }}') format('truetype'), url('{{ 'HelveticaNeueMedium.svg#HelveticaNeueMedium' | file_url }}') format('svg');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
    </style>

    {%- liquid
      assign enableSuperScript = false
      unless shop.money_format contains 'money' or shop.money_format contains '.'
        if settings.superscript_decimals
          if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}'
            assign enableSuperScript = true
          elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}'
            assign enableSuperScript = true
          endif
        endif
      endunless
    -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};
      theme.routes = {
        home: "{{ routes.root_url }}",
        collections: "{{ routes.collections_url }}",
        cart: "{{ routes.cart_url | append: '.js' }}",
        cartPage: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
        cartChange: "{{ routes.cart_change_url | append: '.js' }}",
        search: "{{ routes.search_url }}"
      };
      theme.strings = {
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
        stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
        searchCollections: {{ 'general.search.collections' | t | json }},
        searchProducts: {{ 'general.search.products' | t | json }},
        searchPages: {{ 'general.search.pages' | t | json }},
        searchArticles: {{ 'general.search.articles' | t | json }},
        viewLess: {{ 'strings.others.view_less' | t | json }},
        viewMore: {{ 'strings.others.view_more' | t | json }}
      };
      theme.settings = {
        dynamicVariantsEnable: true,
        cartType: {{ settings.cart_type | json }},
        isCustomerTemplate:{% if request.page_type contains 'customers/' %}true
        {% else %}
          false
        {% endif %},
        moneyFormat: {{ shop.money_format | json }},
        saveType: {{ settings.product_save_type | json }},
        productImageSize: {{ settings.product_grid_image_size | json }},
        productImageCover: {{ settings.product_grid_image_fill }},
        predictiveSearch: {{ settings.predictive_search_enabled }},
        predictiveSearchType: {{ settings.search_type | json }},
        superScriptSetting: {{ settings.superscript_decimals }},
        superScriptPrice: {{ enableSuperScript }},
        quickView: {{ settings.quick_shop_enable }},
        quickAdd: {{ settings.quick_add_enable }},
        themeName: 'Expanse',
        themeVersion: "2.0.0"
      };
    </script>
    <!-- content_for_header -->
    {{ content_for_header }}
    <!-- end content_for_header -->
    <style>
      label[for='_gcl_au'],
      label[for='_gcl_au'] + .grfq__popupForm__formLabelOptional,
      .grfq__popupForm__formInput input[name='_gcl_au'] {
        display: none !important;
      }
    </style>

    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script
      async
      type="text/javascript"
      src="https://crmplus.zoho.eu/crm/javascript/zcga.js"
    ></script>
    <script src="{{ 'youtubeplayer.js' | asset_url }}" defer="defer"></script>
    <script
      defer
      src="https://cdn-eu.pagesense.io/js/soundboxstore/46720b15a74e407f8cd2306128512707.js"
    ></script>
    <script type="text/javascript" src="https://secure.24-astute.com/js/796186.js"></script>
    <noscript><img src="https://secure.24-astute.com/796186.png" style="display:none;"></noscript>
  </head>

  <body
    {% if isResserllerOrTradeAccount %}
      data-reseller
    {% endif %}
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %} page-{{ page.handle }} {% if page.handle == 'silence-booth' %}topbar-page{% endif %}"
    data-transitions="{{ settings.animate_page_transitions }}"
    data-button_style="{{ settings.button_style }}"
    data-edges="{{ settings.roundness }}"
    data-type_header_capitalize="{{ settings.type_header_capitalize }}"
    data-swatch_style="{{ settings.swatch_style }}"
    data-grid-style="{{ settings.product_grid_style }}"
  >
    <script>
      (()=>{
        if(window.innerWidth>1024){
          window.document.body.classList.add('desktop')
        }
      })()
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W3VDBP8N"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NGK2QSL"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% if settings.animate_page_transitions %}
      <script type="text/javascript">
        window.setTimeout(function () {
          document.body.className += ' loaded';
        }, 25);
      </script>
    {% endif %}

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    <div class="page-container" id="PageContainer">
      <div class="transition-body">
        {%- section 'toolbar' -%}
        {%- section 'header' -%}

        {%- section 'quick-search' -%}
        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>
        {%- section 'footer-promotions' -%}
        {%- section 'footer' -%}
      </div>
    </div>
    {% if settings.header_show_quote_request %}
      {% render '[quote-form-modal]' %}
    {% endif %}
    {%- section 'newsletter-popup' -%}
    {% render 'dataLayer-allPages' %}

    <script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'vendor-scripts-v1.js' | asset_url  }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script
      async
      defer="defer"
      src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Rs39V4"
      type="text/javascript"
    ></script>
    <script src="{{ 'custom-v2.js' | asset_url }}" defer="defer"></script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script type="text/javascript">
      window.smartlook ||
        (function (d) {
          var o = (smartlook = function () {
              o.api.push(arguments);
            }),
            h = d.getElementsByTagName('head')[0];
          var c = d.createElement('script');
          o.api = new Array();
          c.async = true;
          c.type = 'text/javascript';
          c.charset = 'utf-8';
          c.src = 'https://web-sdk.smartlook.com/recorder.js';
          h.appendChild(c);
        })(document);
      smartlook('init', '0d821aa743fb104f806561a25692ed54dcf086cc', { region: 'eu' });
    </script>
    <script>
      forceProductPriceSelector = '.grfq-price';
      document.addEventListener('GRFQ:Popup_Form_rendered', function () {
        let currencyField = document.querySelector(".grfq__popupForm__formInput [name=\"Currency\"]")
        if(currencyField){
          document.querySelector(".grfq__popupForm__formInput [name=\"Currency\"]").value="{{ localization.country.currency.iso_code }}"
        }
      });
    </script>
    <style>
      .grid-item-meta .rfq-btn {
        max-width: 200px;
      }
      .grfq__popupForm__formGroup:last-child {
        display: none !important;
      }
    </style>

    <script>
      function getCookie(cname) {
        let name = cname + '=';
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return '';
      }

      document.addEventListener('GRFQ:Popup_Form_rendered', function () {
        const _gcl_awCookie = getCookie('_gcl_aw').split('.')
        document.querySelector('input[name="_gcl_aw"]').value = _gcl_awCookie[_gcl_awCookie.length-1];
        try{
          const contriesMap = {
            "UK":"United Kingdom",
            "DE":"Germany",
            "FR":"France",
            "IT":"Italy",
            "ES":"Spain",
            "PT":"Portugal",
            "UA":"Ukraine",
            "RO":"Romania",
            "PL":"Poland",
            "NL":"Netherlands",
            "BE":"Belgium",
            "SE":"Sweden",
            "GR":"Greece",
            "CH":"Switzerland",
            "AT":"Austria",
            "RS":"Serbia",
            "NO":"Norway",
            "US":"United States",
            "CA":"Canada",
            Other:"Other"
          }
          const country = contriesMap[{{ localization.country.iso_code | json }}];
          let countriesSelectInput =  document.querySelector('.grfq__popupForm__formInput [name="Country"]')
          if(countriesSelectInput){
            countriesSelectInput.value=country
          }
        }catch(e){
          console.error(e)
        }
      });
    </script>
    {% section 'zoho-form-popup' %}

    <script>
      (()=>{
          var isReplaced = false;

          function MeroxIO_Function(){
            if(!isReplaced){
              window.yett.unblock();
              window.yett.lazyloaded=true
              console.log("apps lazyloaded successfully");
              isReplaced=true;

              (function zsiqchat(){
                window['$zoho'] = window['$zoho'] || {};
                $zoho.salesiq = $zoho.salesiq || {
                  widgetcode:
                    "00f33205e195e32084969fefc7d2a574e9697c3e44cf4024b87b8f147c4f8bb0",
                  values: {},
                  ready: function () {},
                };
                var d = document;
                s = d.createElement("script");
                s.type = "text/javascript";
                s.id = "zsiqscript";
                s.defer = true;
                s.src = "https://salesiq.zoho.eu/widget";
                t = d.getElementsByTagName("script")[0];
                t.parentNode.insertBefore(s, t);
              })()
              const event = new Event("app:ready");
              document.dispatchEvent(event);
            }
          }
          document.addEventListener("click", MeroxIO_Function,{ once: true });
          document.addEventListener("scroll", MeroxIO_Function,{ once: true });
          document.addEventListener("touchstart", MeroxIO_Function,{ once: true });
          document.addEventListener("mousemove", MeroxIO_Function,{ once: true });
      })()
    </script>
    <script>
        jQuery.event.special.touchstart = {
          setup: function( _, ns, handle ) {
              this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
          }
      };
      jQuery.event.special.touchmove = {
          setup: function( _, ns, handle ) {
              this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
          }
      };
      jQuery.event.special.wheel = {
          setup: function( _, ns, handle ){
              this.addEventListener("wheel", handle, { passive: true });
          }
      };
      jQuery.event.special.mousewheel = {
          setup: function( _, ns, handle ){
              this.addEventListener("mousewheel", handle, { passive: true });
          }
      };
    </script>
    {% render 'linkedin_insights_tag' %}

    <script>
      (function(ss,ex){ window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments));}; (function(d,s){ fs=d.getElementsByTagName(s)[0]; function ce(src){ var cs=d.createElement(s); cs.src=src; cs.async=1; fs.parentNode.insertBefore(cs,fs); }; ce('https://sc.lfeeder.com/lftracker_v1_'+ss+(ex?'_'+ex:'')+'.js'); })(document,'script'); })('bElvO73QlzEaZMqj');
    </script>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "33fccb99ae914e9792dbbb82260a0cbe"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
    {% render 'ClickCease' %}
    {% render 'samita-custom' %}
  </body>
</html>
