<style>
      .acoustic-environment {
        position: relative;
        font-size: min(3vw, 16px);
        font-family: "Banana Grotesk";
        isolation: isolate;

      }
      .acoustic-environment .custom-content {
        row-gap: 1.4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
      }
      .acoustic-environment .index-section,
      .acoustic-environment .page-width {
        padding-top: 60px;
        padding-bottom: 60px;
          display:flex;

      }
      .acoustic-environment h2 {
        font-size: 2.6em;
        font-weight: 600;
        margin-bottom: 0.8em
      }
      .acoustic-environment h2 + p {
        font-size: 1.5em;
      }
      .acoustic-environment p {
        font-size: 1.5em;
      }
      .acoustic-environment p + p, .acoustic-environment .custom__item-subheading p {
        font-size: 1.1em;
      }
      .acoustic-environment h3 {
        font-size: 2.6em;
        font-weight: bold;
        margin: 0;
      }
      .acoustic-environment .custom-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
        width: 100%;
        max-width: unset;

      }
      .acoustic-environment .custom__item-inner {
        position: unset
      }
      .acoustic-environment .custom-content>div:first-child {
        margin: 0
      }
       .acoustic-environment .custom-content .custom__item{
           margin-bottom: 0.6em
       }
      .cutom-parent {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    grid-column-gap: 1.5rem;
                    grid-row-gap: 1.5rem;
                    grid-auto-rows: min-content;
                  }
    @media only screen and (max-width: 767px){
          .acoustic-environment .custom-content {

        width: 100%;
            font-size:2.3vw;

      }
     .acoustic-environment .page-width  {
        padding-bottom: 80vw;

      }
      .acoustic-environment .custom-background {
       object-position: bottom;
  }
    }
</style>
<div class="page-width ">
  <div class="custom-content">
    {% assign imgMobile = section.settings['mobile-bg_image'] | default: section.settings.bg_image %}
    <img
      loading="lazy"
      src="{{ section.settings.bg_image | image_url }}"
      width="1404"
      height="687"
      alt="background"
      class="custom-background desktop-only"
    >
    <img
      loading="lazy"
      src="{{ imgMobile | image_url: width: 687, crop: "center" }}"
      width="1404"
      height="687"
      alt="background"
      class="custom-background mobile-only"
    >
    <div class="custom__item small--one-whole ">
      <div class="custom__item-inner custom__item-inner--html">
        <div class="rte">
          <h2>{{ section.settings.heading }}</h2>
          {{ section.settings.subheading }}
        </div>
      </div>
    </div>
    <div class="custom__item small--one-whole">
      <div class="custom__item-inner custom__item-inner--html">
        <div class="rte">
          <div class="cutom-parent ">
            {%- for block in section.blocks -%}
              <div>
                <h3>{{ block.settings.heading }}</h3>
                {{ block.settings.subheading }}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    <div class="custom__item small--one-whole custom__item-subheading">
      {{ section.settings.subheading2 }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Acoustic Environment Next",
  "class": "acoustic-environment",
  "settings": [
     {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
     {
      "type": "image_picker",
      "id": "mobile-bg_image",
      "label": "Background Image (Mobile)"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Acoustic Environment especially important in office space"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub Heading",
      "default": "<p>By creating a workplace with a good acoustics environment, you can develop an office that workers will enjoy working within.</p>"
    },
    {
      "type": "richtext",
      "id": "subheading2",
      "label": "Sub Heading 2",
      "default": "<p>Sykes, David M., PhD., 2004,“Productivity: How Acoustics Affect Workers’ Performance in Open Areas”</p>"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Acoustic Environment especially important in office space"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Sub Heading",
          "default": "<p>By creating a workplace with a good acoustics environment, you can develop an office that workers will enjoy working within.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Acoustic Environment Next",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "heading": "62%",
            "subheading": "<p>Increase work motivation by more than 62%.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "44%",
            "subheading": "<p>Increase the ability to focus on tasks by more than 44%.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "52%",
            "subheading": "<p>In tasks that require full concentration, increase task performance by up to 52%.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "29%",
            "subheading": "<p>Reduce the pressure level by 29%.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "55%",
            "subheading": "<p>Reduce session interference by more than 55%.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "18%",
            "subheading": "<p>Reduce the error rate by 18%.</p>"
          }
        }
      ],
      "settings": {
        "bg_image": "shopify://shop_images/acoustic-environment-main-bg_5ae9d929-8f94-4b80-ac0a-bfa0e9594710.jpg",
        "heading": "Acoustic Environment especially important in office space",
        "subheading": "<p>By creating a workplace with a good acoustics environment, you can develop an office that workers will enjoy working within.</p>",
        "subheading2": "<p>Sykes, David M., PhD., 2004, “Productivity: How Acoustics Affect Workers’ Performance in Open Areas”</p>"
      }
    }
  ]
}
{% endschema %}
