{% comment %}
   {%- paginate blog.articles by 20 -%}

    <div data-section-id="{{ section.id }}" data-section-type="blog">
    <div class="new-grid">
    {%- for article in blog.articles -%}
    {%- liquid
    assign style = 'medium'
    if forloop.first
    assign style = 'large'
    endif
    -%}
    {%- render 'article-grid-item',
    blog: blog,
    article: article,
    style: style,
    show_tags: section.settings.blog_show_tags,
    show_date: section.settings.blog_show_date,
    show_comments: section.settings.blog_show_comments,
    show_author: section.settings.blog_show_author,
    image_size: section.settings.blog_image_size -%}
    {%- endfor -%}
    </div>

    {%- liquid
    if paginate.pages > 1
    render 'pagination', paginate: paginate
    endif
    -%}
    </div>
  {%- endpaginate -%}
{% endcomment %}
<style>
  .page-width.blog-layout {
    padding: 0;
  }

  .blog-wrap>div {
  }

  .grid-article-first {
    border-bottom: 1px solid #efefef;
    margin-bottom: 110px;
  }

  .blog-wrap .blog-grid-item {
    padding: 0;
  }

  .blog-wrap .image-wrap {
    position:
      relative;
    padding-bottom: 65%;
  }

  .blog-wrap .image-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .blog-wrap .grid-article-first .image-wrap {
    height: 50vw;
    max-height: 900px;
    position: relative;
    overflow: unset;

  }

  .grid-article__image {
    margin: 0;
  }

  .blog-wrap .grid-article-first .image-wrap img {
    position: absolute;
    top: 0;
    left:
      30%;
    width: 70vw;
    height: 100%;
    object-fit: cover;
  }

  .blog-wrap .grid-article-first {
    position: relative;
  }

  .blog-wrap .grid-article-first a {
    color: black;
  }

  .blog-wrap .grid-article-first h2 a {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-family: Banana Grotesk, sans-serif;
    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 110%;
    display: block;
  }

  .grid-article-first .blog-grid-article__meta {
    position: absolute;
    bottom: 10vw;
    width: 100%;
    max-width: 900px;
  }

  .grid-article-first .blog-grid-article__meta>div {
    max-width: 653px;
    margin: auto;
    position: relative;
    isolation: isolate;
  }

  .grid-article-first .blog-article__sub-meta-date {
    font-size: 16px;
    font-weight: bold;
  }

  .grid-article-first .blog-article__sub-meta {
    font-size: 16px;
  }

  .grid-article-first .blog-article__sub-meta .blog-article-tag {
    font-weight: bold;
  }

  .grid-article-first .blog-article__sub-meta-bg {
    isolation: isolate;
    z-index: -1;
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0.2;
  }

  .blog-grid {

    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 28px;
  }

  .blog-grid .blog-grid-item {
    grid-column-start: 0;
    display: flex;
    flex-direction: column;
    grid-column-end: span 6;
  }

  .blog-grid .blog-grid-item {
    font-size: 12px;
  }

  .blog-grid .blog-grid-item a {
    font-weight:
      bold;
  }

  .blog-grid .blog-grid-item .blog-article__sub-meta-bg {
    margin-top: 1.4em;
  }

  .blog-grid .blog-grid-item h3 {
    font-size: 36px;
    margin: 0.2em 0;
  }

  .blog-group {
    display: flex;
    gap: 28px;
    align-items: flex-start;
  }

  .blog-group>div:first-child {
    width: 70%;
    position: sticky;
    flex-shrink: 0;
    top: 100px;
  }

  .blog-group>div:first-child .image-wrap {
    height: calc(100vh - 100px);

    position: relative;
    overflow: unset;
  }

  .blog-group>div:first-child .image-wrap img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    max-width: unset;
    height: 100%;
    object-fit: cover;
  }

  .blog-group>div:first-child h2 a {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 110%;
    display: block;
  }

  .blog-group>div:first-child .blog-grid-article__meta {
    position: absolute;
    top: 10vw;
    width: 100%;
    max-width: 900px;
  }

  .blog-group>div:first-child .blog-grid-article__meta>div {
    max-width: 653px;
    margin: auto;
    position: relative;
    isolation:
      isolate;
  }

  .blog-group>div:first-child .blog-article__sub-meta-date {
    font-size: 16px;
    font-weight: bold;
  }

  .blog-group>div:first-child .blog-article__sub-meta {
    font-size: 16px;
  }

  .blog-group>div:first-child .blog-article__sub-meta .blog-article-tag {
    font-weight: bold;
  }

  .blog-group>div:first-child .blog-article__sub-meta-bg {
    isolation: isolate;
    z-index: -1;
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0.2;
  }

  .blog-grid.blog-col {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1080px) {
    .blog-wrap>div {
      margin-bottom: 40px;
    }
    .blog-layout{
      flex-direction: column;
    }
    .grid-article-first {
      display: block;
    }

    .blog-wrap .grid-article-first .image-wrap {
      max-height: 600px;
    }

    .blog-wrap .grid-article-first h2 a {
      font-size: 32px;
      font-size: calc(min(32px, 5vw));
    }

    .grid-article-first .blog-grid-article__meta {
      bottom: 6vw;
    }

    .grid-article-first .blog-article__sub-meta-date {
      font-size: 12px;
      font-weight:
        bold;
    }

    .grid-article-first .blog-article__sub-meta {
      font-size: 14px;
    }

    .blog-grid {
      grid-gap: 2em;
      display: flex;
      flex-direction: column;
    }

    .blog-grid .blog-grid-item {
      font-size: 12px;
    }

    .blog-grid .blog-grid-item a {
      font-weight:
        bold;
    }

    .blog-grid .blog-grid-item .blog-article__sub-meta-bg {
      margin-top: 1.4em;
    }

    .blog-grid .blog-grid-item h3 {
      font-size: 2.2em;
      margin: 0.2em 0;
    }

  }
</style>
{% comment %}
   {%- for tag in blog.tags -%}
    {% if tag contains "_" %}
      {%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}
        {% if tag_count %}
          {%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}
        {% continue %}{% endif %}
    {% endif %}
    <a class="blog-article-tag" href="{{ blog.url }}#{{ tag | handle }}">{{ tag }}</a>
  {%- endfor -%}
{% endcomment %}
{% assign article = section.settings.banner_article | default: blog.articles.first %}
{% assign img = section.settings.banner_image | default: article.iamge %}
{% assign variable = value %}
{% assign show_tags = section.settings.blog_show_tags %}
{% assign show_date = section.settings.blog_show_date %}
{% assign show_comments = section.settings.blog_show_comments %}
{% assign show_author = section.settings.blog_show_author %}
{% assign image_size = section.settings.blog_image_size %}

<div class="blog-wrap">
  <div class="page-width">
    <div class="blog-grid-item  grid-article-first">
      <div class="grid-article__image">
        {%- if article.empty? -%}
          <div class="image-wrap">
            <div class="grid__image-ratio grid__image-ratio--{{ image_size }}">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--no-padding' }}
            </div>
          </div>
        {%- else -%}
          {%- if article.image -%}
            {%- if fixed_aspect_ratio -%}
              <div class="image-wrap">
                <div class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                  {% assign img_url = img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img
                    class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[360, 540, 720, 900, 1080, 1440, 1660]"
                    data-aspectratio="{{ article.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ article.image.alt | escape }}"
                  >
                </div>
                <noscript>
                  <img
                    class="lazyloaded"
                    src="{{ img | img_url: '400x' }}"
                    alt="{{ article.title | escape }}"
                  >
                </noscript>
              </div>
            {%- else -%}
              <div class="image-wrap">
                {%- assign img_url = img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img
                  class="lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1440, 1660]"
                  data-aspectratio="{{ img.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ img.alt | escape }}"
                >
                <noscript>
                  <img
                    class="lazyloaded"
                    src="{{ img | img_url: '400x' }}"
                    alt="{{ article.title | escape }}"
                  >
                </noscript>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      </div>

      <div class="blog-grid-article__meta ">
        <div>
          <div class="blog-article__sub-meta-bg"></div>
          {%- if article.empty? -%}
            <a href="{{ article.url }}" class="blog-article__title">Example blog post</a>
            <div class="blog-article__sub-meta">
              {%- if show_comments -%}
                <span>
                  <a href="#">
                    {{ 'blogs.comments.with_count' | t: count: 0 }}
                  </a>
                </span>
              {%- endif -%}
              {%- if show_date -%}
                <span class="blog-article__sub-meta-date">Jul 17, {{ 'now' | date: '%Y' }}</span>
              {%- endif -%}
              {%- if show_author -%}
                <span>by Themes</span>
              {%- endif -%}
            </div>
          {%- else -%}
            {%- if show_date -%}
              <span class="blog-article__sub-meta-date">
                {{- article.published_at | time_tag: format: 'month_day_year' -}}
              </span>
            {%- endif -%}
            <h2>
              <a href="{{ article.url }}" class="blog-article__title">{{ article.title }}</a>
            </h2>

            <div class="blog-article__sub-meta">
              {%- if show_comments and article.comments_count > 0 -%}
                <span>
                  <a href="{{ article.url }}#comments">
                    {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                  </a>
                </span>
              {%- endif -%}
              <div>
                {% if section.settings.blog_show_author %}
                  <span>SBS</span>
                  in
                {% endif %}
                {%- for tag in article.tags -%}
                  {% if tag contains '_' %}
                    {%- assign tag_starts_with = tag | slice: 0 -%}
                    {% if tag_starts_with == '_' %}
                      {% if tag_count %}
                        {%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}
                      {%- endif %}
                      {% continue -%}
                    {%- endif %}
                  {% endif %}
                  <a class="blog-article-tag" href="{{ blog.url }}#{{ tag | handle }}">{{ tag }}</a>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  <div class="page-width blog-grid">
    {% for block in section.blocks %}
      {% assign article = block.settings.article | default: blog.articles.first %}
      <div class="blog-grid-item ">
        <div class="blog-grid-article__image">
          {%- if article.empty? -%}
            <div class="image-wrap">
              <div class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--no-padding' }}
              </div>
            </div>
          {%- else -%}
            {%- if article.image -%}
              {%- if fixed_aspect_ratio -%}
                <div class="image-wrap">
                  <div class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                    {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img
                      class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ article.image.alt | escape }}"
                    >
                  </div>
                  <noscript>
                    <img
                      class="lazyloaded"
                      src="{{ article.image | img_url: '400x' }}"
                      alt="{{ article.title | escape }}"
                    >
                  </noscript>
                </div>
              {%- else -%}
                <div class="image-wrap">
                  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img
                    class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080]"
                    data-aspectratio="{{ article.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ article.image.alt | escape }}"
                  >
                  <noscript>
                    <img
                      class="lazyloaded"
                      src="{{ article.image | img_url: '400x' }}"
                      alt="{{ article.title | escape }}"
                    >
                  </noscript>
                </div>
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
        </div>

        <div class="blog-grid-article__meta ">
          <div>
            <div class="blog-article__sub-meta-bg"></div>
            {%- if article.empty? -%}
              <a href="{{ article.url }}" class="blog-article__title">Example blog post</a>
              <div class="blog-article__sub-meta">
                {%- if show_comments -%}
                  <span>
                    <a href="#">
                      {{ 'blogs.comments.with_count' | t: count: 0 }}
                    </a>
                  </span>
                {%- endif -%}
                {%- if show_date -%}
                  <span class="blog-article__sub-meta-date">Jul 17, {{ 'now' | date: '%Y' }}</span>
                {%- endif -%}
                {%- if show_author -%}
                  <span>by Themes</span>
                {%- endif -%}
              </div>
            {%- else -%}
              {%- if show_date -%}
                <span class="blog-article__sub-meta-date">
                  {{- article.published_at | time_tag: format: 'month_day_year' -}}
                </span>
              {%- endif -%}
              <h3>
                <a href="{{ article.url }}" class="blog-article__title">{{ article.title }}</a>
              </h3>

              <div class="blog-article__sub-meta">
                {%- if show_comments and article.comments_count > 0 -%}
                  <span>
                    <a href="{{ article.url }}#comments">
                      {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                    </a>
                  </span>
                {%- endif -%}
                <div>
                  <span>SBS</span>
                  in
                  {%- for tag in article.tags -%}
                    {% if tag contains '_' %}
                      {%- assign tag_starts_with = tag | slice: 0 -%}
                      {% if tag_starts_with == '_' %}
                        {% if tag_count %}
                          {%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}
                        {%- endif %}
                        {% continue -%}
                      {%- endif %}
                    {% endif %}
                    <a class="blog-article-tag" href="{{ blog.url }}#{{ tag | handle }}">{{ tag }}</a>
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Blog pages",
  "class": "blog-layout__main",
  "settings": [
    {
      "type":"header",
      "content" :"Banner"
    },
    {
      "type":"image_picker",
      "id":"banner_image",
      "label":"Banner"
    },
    {
      "type": "article",
      "id":"banner_article",
      "label":"Article"
    },
    {
      "type":"header",
      "content" :"Article"
    },
    {
      "type": "checkbox",
      "id": "blog_show_rss",
      "label": "Show RSS link"
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_comments",
      "label": "Show comment count",
      "default": true
    }, {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author"
    }, {
      "type": "select",
      "id": "blog_image_size",
      "label": "Force image size",
      "default": "wide",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "landscape",
          "label": "Landscape (4:3)"
        },
        {
          "value": "portrait",
          "label": "Portrait (2:3)"
        }, {
          "value": "wide",
          "label": "Wide (16:9)"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
    }
  ]
}
{% endschema %}
