<script type="text/javascript">
        jQuery(document).ready( function( $ ) {
            
            /*
            * Handle Blog Masonry
            */
            function doMasonry() {

                var $grid = $( ".mason" ).imagesLoaded(function () {
                    $grid.masonry({
                        itemSelector: '.article',
                        columnWidth: '.article',
                        fitWidth: true,
                    });
                });
                              
            }

            /**
            * Call Masonry on window resize and load
            */
            $( window ).resize( function() {
                doMasonry();
            });
            doMasonry();
                        
        });

</script>

{%- paginate blog.articles by 9 -%}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <header class="section-header{% if section.settings.blog_show_tag_filter and blog.tags.size > 0 %} section-header--with-link{% endif %}">
    <h1 class="section-header__title">
      {{ blog.title }}

      {%- if section.settings.blog_show_rss -%}
        <a href="{{ shop.url }}{{ blog.url }}.atom" class="rss-link">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-rss" viewBox="0 0 20 20"><path fill="#444" d="M5.903 16.586a2.489 2.489 0 1 1-4.977 0 2.489 2.489 0 0 1 4.977 0zM12.956 19.075H9.43c0-4.688-3.817-8.505-8.505-8.505V7.044c6.638 0 12.031 5.393 12.031 12.031z"/><path fill="#444" d="M15.445 19.075c0-8.028-6.493-14.52-14.52-14.52V.925c10.019 0 18.15 8.131 18.15 18.15h-3.63z"/></svg>
          <span class="icon__fallback-text">RSS</span>
        </a>
      {%- endif -%}
    </h1>
  </header>

  <div class="mason {% if sidebar %}twelve{% else %}sixteen{% endif %} columns" >
      {% for article in blog.articles %}
        {% if section.settings.blog_articles_per_row == "1" %}
          {% if article.image %}
            <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns alpha article_image">
              <a href="{{ article.url }}" title="{{ article.title | escape }}">
                <img src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.title | escape }}" />
              </a>
            </div>
            <div class="{% if sidebar %}five{% else %}seven{% endif %} columns omega article">
          {% else %}
            <div class="{% if sidebar %}eight{% else %}sixteen{% endif %} columns alpha omega article">
          {% endif %}
        {% else %}
            <div class="article one-third column">
        {% endif %}

   		<a href="{{ article.url }}" title="{{ article.title | escape }}">              
		{% if article.image %}
			<img src="{{ article.image | img_url: 'grande' }}" alt="{{ article.title | escape }}" />
	    {% else %}
			{% if article.content contains "<img " %}
   	 			{% assign src = article.content | split: 'src="' %}
   	 			{% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
     			<img src="{{ src }}" alt="{{ article.title | escape }}" />
    		{% endif %}    
		{% endif %}              
        </a></div></div></div>
  {% endfor %}</div>

          </div>

{%- endpaginate -%}

{% schema %}
  {
    "name": "Blog pages",
    "class": "blog-layout__main",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_rss",
        "label": "Show RSS link"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Force image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      }
    ]
  }
{% endschema %}
