<style>
  .blog-group {
    display: flex;
    gap: 28px;
    align-items: flex-start;
  }
  .blog-group > div:first-child {
    width: 70%;
    position: sticky;
    flex-shrink: 0;
    top: 100px;
  }
  .blog-group > div:first-child .image-wrap {
    height: calc(100vh - 100px);

    position: relative;
    overflow: unset;
  }

  .blog-group > div:first-child .image-wrap img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    max-width: unset;
    height: 100%;
    object-fit: cover;
  }
  .blog-group > div:first-child h2 a {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 110%;
    display: block;
  }
  .blog-group > div:first-child .blog-grid-article__meta {
    position: absolute;
    top: 10vw;
    width: 100%;
    max-width: 900px;
  }
  .blog-group > div:first-child .blog-grid-article__meta > div {
    max-width: 653px;
    margin: auto;
    position: relative;
    isolation: isolate;
  }
  .blog-group > div:first-child .blog-article__sub-meta-date {
    font-size: 16px;
    font-weight: bold;
  }
  .blog-group > div:first-child .blog-article__sub-meta {
    font-size: 16px;
  }
  .blog-group > div:first-child .blog-article__sub-meta .blog-article-tag {
    font-weight: bold;
  }
  .blog-group > div:first-child .blog-article__sub-meta-bg {
    isolation: isolate;
    z-index: -1;
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0.2;
  }
  .blog-grid.blog-col {
    display: flex;
    flex-direction: column;
  }
  .blog-article-dashes {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 16px;
    margin-left: 12px;
    margin-right: 12px;
    border-top: 1px solid;

  }
  .blog-group > div:first-child .blog-article__sub-meta-date {
    font-size: 12px;
  }
  .blog-group > div:first-child .blog-article-content {
    font-size: 28px;
  }
  .blog-group .grid-item{
    padding: 0;
  }
  @media screen and (max-width: 1080px) {

    .blog-group {
      display: flex;
      gap: 1.6em;
      flex-direction: column;
    }

    .blog-group>div:first-child {
      position: relative;
      top: unset;
    }

    .blog-group>div:first-child .image-wrap {
      height:
        calc(100vh - 100px);
      max-height: 500px;
      position: relative;
      overflow: unset;
    }

    .blog-group>div:first-child h2 a {
      font-size: 32px;
      font-size: calc(min(32px, 5vw));
    }

    .blog-group>div:first-child .blog-grid-article__meta {
      top: 6vw;
      padding: 2em;
    }
    .blog-group>div:first-child{
      width: 100%;

    }
    .blog-group > div:first-child .image-wrap img{
      width: 100%;
    }
    .blog-group>div:first-child .blog-article__sub-meta-date {
      font-size: 12px;
      font-size: calc(min(12px, 3vw));
    }

    .blog-group>div:first-child .blog-article-content {
      font-size: 16px;
      font-size: calc(min(16px, 4vw));
    }

    .blog-group>div:first-child .blog-article__sub-meta .blog-article-tag {
      font-weight: bold;
    }

    .blog-grid.blog-col {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

  }
</style>

{% assign product = collection.products.first %}
{% assign image = section.settings.banner_image | default: product.featured_image %}

<div id="{{section.settings.tag | handle}}" class="blog-wrap blog-feature">
  <div class="page-width blog-group">
    <div>
      <div class="grid-item">
        <div class="grid-article__image">
          {%- if article.empty? -%}
            <div class="image-wrap">
              <div class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--no-padding' }}
              </div>
            </div>
          {%- else -%}
            {%- if image -%}
              <div class="image-wrap">
                <div class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                  {{
                    img
                    | image_url: width: image.width
                    | image_tag: widths: '360, 540, 720, 900, 1080, 1440, 1660', loading: 'lazy', alt: collection.title
                    | escape
                  }}
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
        <div class="blog-grid-article__meta ">
          <div>
            <span class="blog-article-dashes"></span>
            <span class="blog-article__sub-meta-date">{{ section.settings.subtitle }}</span>
            <h2 class="blog-article__title">
              {{ section.settings.title }}
            </h2>
            <div class="blog-article-content">{{ section.settings.content }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="blog-grid blog-col">
      {% for product in collection.products %}
        <div class="blog-grid-item ">
          <div class="blog-grid-article__image">
            <div class="image-wrap">
              <div class="grid__image-ratio grid__image-ratio--{{ image_size }}">
                {{
                  product.featured_image
                  | image_url: width: product.featured_image.width
                  | image_tag: widths: '360, 540, 720, 900, 1080, 1440, 1660', loading: 'lazy', alt: product.title
                  | escape
                }}
              </div>
            </div>
          </div>

          <div class="blog-grid-article__meta ">
            <div>
              <div class="blog-article__sub-meta-bg"></div>
              <h3>
                <a href="{{ product.url }}" class="blog-article__title">{{ product.title }}</a>
              </h3>
              <div class="blog-article__sub-meta">
                {%- for tag in product.tags -%}
                  {% if tag contains '_' %}
                    {%- assign tag_starts_with = tag | slice: 0 -%}
                    {% if tag_starts_with == '_' %}
                      {% if tag_count %}
                        {%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}
                      {% endif %}
                      {% continue -%}
                    {%- endif %}
                  {% endif %}
                  <a class="blog-article-tag" href="{{ blog.url }}#{{ tag | handle }}">{{ tag }}</a>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Category Feature",
  "class": "blog-layout__main",
  "settings": [
    {
      "type": "text",
      "id": "tag",
      "label": "Tag",
      "default": "Title"
    },
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "TOPIC"
    }, {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "<p>If the open office dies, as its critics predict, what will be the new norm? We take a look at how the workplace is evolving and what's next.</p>"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
         {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
         {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
         {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }

      ]
    }
  ],
  "presets": [
    {
      "name": "Category feature",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
