<style>
  .{{ section.id }}-slider.product-list-group{
    padding-left:var(--pageWidthPadding);
    height:503px;
    display:flex
  }
  .{{ section.id }}-slider.product-list-group .slick-arrow.slick-prev{
    left:0;
  }
  .{{ section.id }}-slider.product-list-group .slick-arrow.slick-next{
    right:0
  }
  .{{ section.id }}-slider.product-list-group .col-image img{
    height:382px
  }
</style>
<section class="{{ section.id }}-section collections-product-list">
  {% if section.settings.title != blank or section.settings.description != blank %}
    <div class="page-width">
      <div class="section-header">
        {% if section.settings.title != blank %}
          <div class="left-col">
            <h2 class="title-font">{{ section.settings.title }}</h2>
          </div>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="right-col">
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="{{ section.id }}-slider  product-list-group">
    {% for block in section.blocks %}
      {% capture productId %}product{% endcapture %}
      {% capture productImgId %}image{% endcapture %}
      {% if block.settings[productId] != blank %}
        {% assign product = all_products[block.settings[productId]] %}
        <div class="col">
          <div class="col-wrap">
            <div class="col-image">
              <a href="{{ all_products[block.settings[productId]].url }}">
                <img
                  loading="lazy"
                  src="{% if block.settings[productImgId] != blank %}{{ block.settings[productImgId] | img_url:'700x' }}{% else %}{{ all_products[block.settings[productId]].featured_image | img_url:'master' }}{% endif %}"
                  alt="Product Image"
                >
              </a>
            </div>
            <div class="product-details">
              <h4>
                <a href="{{ all_products[block.settings[productId]].url }}">
                  {{- all_products[block.settings[productId]].title -}}
                </a>
              </h4>
              {%- if section.settings.show_price -%}
                <p class="price">
                  <span class="price-title">{{ 'strings.others.starting_from' | t }} </span>
                  {%- if product.price_varies -%}
                    {{ product.price_min | money_without_trailing_zeros }}
                  {%- else -%}
                    {{ product.price | money_without_trailing_zeros }}
                  {%- endif -%}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
<script>
    $(document).ready(function() {
      $('.{{ section.id }}-slider').slick({
      infinite: false,
      slidesToShow: 3.3,
      arrows: true,
      dots: true,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 860,
          settings: {
            slidesToShow: 2.3
          }
        }, {
          breakpoint: 768,
          settings: {
            slidesToShow: 2.3,
            arrows: false,
            dots: false
          }
        }, {
          breakpoint: 540,
          settings: {
            slidesToShow: 1.3,
            arrows: false,
            dots: false
          }
        }
      ]
    });
  });
</script>
{% schema %}
{
  "name": "Collections Scroller",
  "class": "index-section",
  "settings": [ {
        "type": "checkbox",
        "id": "show_price",
        "label": "Show price"
      },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }

  ],
  "blocks":[{
        "type": "item",
        "name": "Item",
        "settings": [
          {
      "type":"product",
      "id":"product",
      "label":"Assign Product 1"
    },
	{
	  "type":"image_picker",
	  "id":"image",
	  "label":"Image"
	}
        ]
  }],
  "presets": [
    {
      "name": "Collections scroller",
      "blocks": []
    }
  ]
}
{% endschema %}
