<section class=" my-6 flex flex-col justify-between gap-6 p-4 md:my-12 md:flex-row page-width px-[var(--pageWidthPadding)]">
  <div class="block max-w-sm flex-1  md:max-w-[52rem] ">
    <h3 class="block max-w-sm flex-1 text-2xl font-semibold md:max-w-[52rem] md:text-4xl 2xl:text-5xl">
      {{ section.settings.heading }}
    </h3>
  </div>
  <div class="flex flex-col flex-1 flex-wrap gap-2  items-start">
    {%- assign form_id = 'contact-' | append: section.id -%}
    <style>
      #{{form_id}}{
        --color-error:red
      }
      #{{form_id}} .input.blured:invalid{
        border-color: var(--color-error);
      }
      #{{form_id}} .input.blured:invalid+label{
        color: var(--color-error);
      }
      #{{form_id}} .input:not([required])+label::after{
        content: ' (Optional)';
      }
      #{{form_id}} .grid__item{
        display: flex;
        flex-direction: column-reverse;
      }
      .form-vertical #{{form_id}} label{
        font-weight: 700;
        font-size: calc(var(--typeBaseSize) - 10%);
        margin-bottom: 0.2em;
      }
      .form-vertical #{{form_id}} input{
            margin-bottom: 4%;
      }
    </style>
    <div
      class="form-vertical"
      style="
        width: 100%;
        max-width: 500px;
      "
    >
      <div class=" prose prose-a:underline">
        {{ section.settings.content }}
      </div>
      <!-- Calendly link widget begin -->
      <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
      <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
      <a
        class="btn btn--full bg-[var(--colorBtnPrimary)] mt-6"
        href=""
        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/d/2v8-tdk-bb5/customer-training-support-call?hide_event_type_details=1&hide_gdpr_banner=1'});return false;"
        >Schedule time with me</a
      >
      <!-- Calendly link widget end -->
    </div>
  </div>
</section>
{% schema %}
{
  "name": "consultancy-calendly",
  "settings":[{
          "type": "text",
          "id": "heading",
          "label": "Heading",
    "default":"Embracing Sustainability"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
            "default":"<p>As a pioneer in crafting soundproof phone booths, office pods, and meeting rooms for businesses, we take pride in our unwavering commitment to eco-friendly manufacturing practices. Join us as we embark on a journey toward agreener future, one sustainable product at a time.</p>"
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
  },{
          "type": "url",
          "id": "url",
          "label": "Url"
  }],
  "presets": [
    {
      "name": "consultancy-calendly",
      "blocks": []
    }
  ]
}
{% endschema %}
