{%- assign form_id = 'contact-' | append: section.id -%}
<style>
  #{{form_id}}{
    --color-error:red
  }
  #{{form_id}} .input.blured:invalid{
    border-color: var(--color-error);
  }
  #{{form_id}} .input.blured:invalid+label{
    color: var(--color-error);
  }
  #{{form_id}} .input:not([required])+label::after{
    content: ' (Optional)';
  }
  #{{form_id}} .grid__item{
    display: flex;
    flex-direction: column-reverse;
  }
</style>
<div
  id="{{section.id}}"
  class="index-section newsletter-{{ section.id }} color-scheme-{{ section.settings.color_scheme }}"
>
  {%- if section.settings.color_scheme != 'none' -%}
    {%- render 'color-scheme-texture', color_scheme: section.settings.color_scheme -%}
  {%- endif -%}
  <div class="page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
    {%- if section.settings.title != blank or section.settings.text != blank -%}
      <div class="section-header text-center">
        {%- if section.settings.title != blank -%}
          <h2 class="title-font">{{ section.settings.title }}</h2>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          {%- capture phone -%}
              {%- render '[phone-number]' -%}
              {%- endcapture -%}
          {%- assign content = section.settings.text | replace: '+44 (0) 20 4586 3800', phone -%}
          <div class="rte section-header__rte">{{ content }}</div>
        {%- endif -%}
      </div>
    {% endif %}

    <div class="form-vertical">
      {%- form 'contact', id: form_id -%}
        {%- if form.posted_successfully? -%}
          <p class="note note--success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {%- endif -%}

        {{ form.errors | default_errors }}

        <div class="grid grid--small">
          <div class="grid__item">
            <input
              type="text"
              required
              {% comment %} oninvalid="this.setCustomValidity('Enter First Name Here')" {% endcomment %}

              placeholder="{{ 'contact.form.fname' | t }}"
              class="input-full input"
              name="contact[fname]"
              autocapitalize="words"
              value="{% if form.fname %}{{ form.fname }}{% elsif customer %}{{ customer.fname }}{% endif %}"
            >
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.fname' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              type="text"
              required

              class="input-full input"
              placeholder="{{ 'contact.form.lname' | t }}"
              name="contact[lname]"
              autocapitalize="words"
              value="{% if form.lname %}{{ form.lname }}{% elsif customer %}{{ customer.lname }}{% endif %}"
            >
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.lname' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              type="text"
              required

              class="input-full input"
              required
              placeholder="{{ 'contact.form.subject' | t }}"
              name="contact[subject]"
              autocapitalize="words"
              value="{% if form.subject %}{{ form.subject }}{% elsif customer %}{{ customer.subject }}{% endif %}"
            >
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.subject' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              type="text"
              required

              class="input-full input"
              placeholder="{{ 'contact.form.company' | t }}"
              name="contact[company]"
              autocapitalize="words"
              value="{% if form.company %}{{ form.company }}{% elsif customer %}{{ customer.company }}{% endif %}"
            >
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.company' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              type="text"
              required

              class="input-full input"
              placeholder="{{ 'contact.form.address' | t }}"
              name="contact[address]"
              autocapitalize="words"
              value="{% if form.address %}{{ form.address }}{% elsif customer %}{{ customer.address }}{% endif %}"
            >
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.address' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              type="text"
              required

              class="input-full input"
              placeholder="{{ 'contact.form.postcode' | t }}"
              name="contact[postcode]"
              autocapitalize="words"
              value="{% if form.postcode %}{{ form.postcode }}{% elsif customer %}{{ customer.postcode }}{% endif %}"
            >
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.postcode' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              type="text"

              class="input-full input"
              placeholder="{{ 'contact.form.website-url' | t }}"
              name="contact[website-url]"
              autocapitalize="words"
              value="{% if form.website-url %}{{ form.website-url }}{% elsif customer %}{{ customer.website-url }}{% endif %}"
            >
            <label for="ContactFormName-{{ section.id }}">{{ 'contact.form.website-url' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              class="input-full input"
              autocomplete="email"
              type="email"
              required
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"aria-describedby="ContactForm-email-error"
              {% endif -%}
              placeholder="{{ 'contact.form.email' | t }}"
            >
            <label for="ContactFormEmail-{{ section.id }}">{{ 'contact.form.email' | t }}</label>
          </div>
          <div class="grid__item">
            <input
              type="tel"
              required
              id="ContactFormPhone-{{ section.id }}"
              class="input-full input"
              name="contact[phone]"
              placeholder="{{ 'contact.form.phone' | t }}"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            >
            <label for="ContactFormPhone-{{ section.id }}">{{ 'contact.form.phone' | t }}</label>
          </div>
          <div class="grid__item">
            <style>
              .form-radio label{
                display:inline-block
              }
            </style>
            <!--
              Reseller
              Architect
              Design & Build,
              Interior Designer
              Government
              Media / Marketing Agency
              Health Care
              Energy / Utilities
              Business Service
              Financial Industries
              Charties
              Educational
              Other
            -->
            <div
              class="form-radio"
              style="display: grid;     grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); "
            >
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-reseller"
                  class="input-full"
                  value="reseller"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-reseller">
                  {{- 'contact.form.industry.reseller' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-architects"
                  class="input-full"
                  value="architects"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-architects">
                  {{- 'contact.form.industry.architect' | t -}}
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-design_and_build"
                  class="input-full"
                  value="design_and_build"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-design_and_build">
                  {{- 'contact.form.industry.design-build' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-interior_designer"
                  class="input-full"
                  value="interior_designer"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-interior_designer">
                  {{- 'contact.form.industry.interior-designer' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-government"
                  class="input-full"
                  value="government"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-government">
                  {{- 'contact.form.industry.government' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-media_marketing_agency"
                  class="input-full"
                  value="media_marketing_agency"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-media_marketing_agency">
                  {{- 'contact.form.industry.media-marketing-agency' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-Health_Care"
                  class="input-full"
                  value="Health_Care"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-Health_Care">
                  {{- 'contact.form.industry.health-care' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-Energy_Utilities"
                  class="input-full"
                  value="Energy_Utilities"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-Energy_Utilities">
                  {{- 'contact.form.industry.energy-utilities' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-Business_Service"
                  class="input-full"
                  value="Business_Service"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-Business_Service">
                  {{- 'contact.form.industry.business-service' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-Financial_Industries"
                  class="input-full"
                  value="Financial_Industries"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-Financial_Industries">
                  {{- 'contact.form.industry.financial-industries' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-Charties"
                  class="input-full"
                  value="Charties"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-Charties">
                  {{- 'contact.form.industry.charties' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-Educational"
                  class="input-full"
                  value="Educational"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-Educational">
                  {{- 'contact.form.industry.educational' | t -}}
                </label>
              </div>

              <div>
                <label style="width: 100%;" class="text-label" for="details-company-industry-other">
                  {{- 'contact.form.industry.other' | t -}}
                  :
                  <input
                    type="text"
                    name="details-company-industry-other"
                    id="details-company-industry-other"
                    class="input-full"
                    autocapitalize="words"
                  >
                </label>
              </div>
            </div>
            <label for="details-company-industry-{{ section.id }}">{{ 'contact.form.industry.title' | t }}</label>
          </div>
          <div class="grid__item">
            <textarea
              rows="5"
              required
              id="ContactFormMessage-{{ section.id }}"
              class="input-full input"
              placeholder="{{ 'contact.form.message' | t }}"
              name="contact[body]"
              value="{%- if form.body -%}{{ form.body }}{%- endif -%}"
            ></textarea>
            <label for="ContactFormMessage-{{ section.id }}">{{ 'contact.form.message' | t }}</label>
          </div>

          <div class="submit-btn-wrap">
            <button type="submit" class="btn btn--full">
              {{ 'contact.form.send' | t }}
            </button>
          </div>
          {% comment %}
            Remove the following three lines of code to remove the note
            about being protected by Google's reCAPTCHA service.
            By removing it, the small reCAPTCHA widget will appear in the
            bottom right corner of the page.
            {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
          {% endcomment %}
        </div>
      {%- endform -%}
    </div>
  </div>
</div>
<script>
  function logSubmit(event) {
    console.log(event);
  }
  const form = document.getElementById('{{form_id}}');
  form.querySelectorAll('input').forEach((e) => {
    form.addEventListener(
      'focus',
      (event) => {
        event.target.classList.add('focused');
      },
      true
    );

    form.addEventListener(
      'blur',
      (event) => {
        event.target.classList.add('blured');
      },
      true
    );
  });
</script>
{% schema %}
{
  "name": "Contact form",
  "class": "contact-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "All submissions are sent to the customer email address of your store. [Learn more](https://help.shopify.com/en/manual/using-themes/change-the-layout/add-contact-form#view-contact-form-submissions)."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Contact us"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "Narrow column",
      "default": true
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "1",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact form"
    }
  ]
}
{% endschema %}
