<link rel="preload" href="https://cdn.tailwindcss.com?plugins=typography,forms" as="script">
<style type="text/tailwindcss">
  @layer base {
    h2 {
          font-size: calc(var(--typeHeaderSize)*.85);
    }
  }
  .relative{
  position:relative
  }
</style>
<style>
  .relative{
  position:relative
  }
</style>
<div style="display:hidden;transition:opacity 0.3s linear;opacity:0" class="!block !opacity-100">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'header' %}
        <section class=" my-6 flex flex-col justify-between gap-6 p-4 md:my-12 md:flex-row page-width px-[var(--pageWidthPadding)] sm:items-center">
          <div class="block  flex-1  md:max-w-[52rem] ">
            <h3 class="block  flex-1 text-2xl font-semibold md:max-w-[52rem] md:text-4xl 2xl:text-5xl">
              {{ section.settings.heading }}
            </h3>
            <div class="my-4 md:my-8 prose prose-a:underline">
              {{ section.settings.content }}
            </div>
          </div>
          <ul class="flex md:max-w-[50%] flex-wrap gap-2 md:w-[640px] lg:text-base text-xs">
            {% for block in section.blocks %}
              <li class="rounded border border-gray-300 py-1 px-2 leading-none hover:border-gray-500">
                <a href="#section-{{ section.id }}-{{ forloop.index }}">{{ block.settings.heading }}</a>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% else %}
        {% assign isLeft = forloop.index | modulo: 2 %}
        {% assign heading = block.settings.heading | default: '' %}
        {% assign content = block.settings.content | default: '' %}
        {% if isLeft == 1 %}
          <section
            class="relative   my-12 min-h-[40vw] flex items-center   text-base lg:text-lg"
            id="section-{{ section.id }}-{{ forloop.index }}"
            {{ block.shopify_attributes }}
          >
            <div class="md:px  page-width w-full items-center md:flex md:px-[var(--pageWidthPadding)] md:py-24">
              <div
                alt=""
                class="absolute bottom-0 left-0 h-[70%] w-full bg-[{{ block.settings.color | default:"#f7f7f7" }}] md:left-auto md:right-0 md:h-full md:w-[70%]"
              ></div>
              <div class="px-[var(--pageWidthPadding)] md:w-1/2 relative">
                {% if block.settings.external_video_url != blank %}
                  {%- if block.settings.external_video_url contains 'youtube.com/watch' -%}
                    {%- assign video_id = block.settings.external_video_url | split: 'v=' -%}
                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                  {%- endif -%}
                  {%- if block.settings.external_video_url contains 'youtu.be/' -%}
                    {%- assign video_id = block.settings.external_video_url | split: '.be/' -%}
                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                  {%- endif -%}
                  <div class="mx-auto max-w-[880px] relative  w-full ">
                    {% render 'youtube-popup', video_id: video_id %}
                    <label
                      for="youtube-modal-input-{{ video_id }}"
                      style="position:absolute;top:0;left:0;width:100%;height:100%; pointer-events: none;"
                    >
                      {{
                        block.settings.image
                        | image_url: width: 880
                        | image_tag:
                          style: 'position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;border-radius: 8px;'
                      }}
                      <div
                        class="text-wrap"
                        style="
                          position: absolute;
                              top: 0;
                              left: 0;
                              width: 100%;
                              height: 100%;
                              transition: all 0.7s cubic-bezier(0.4, 0, 1, 1);
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              height: 100%;
                              color: #0006;
                          }
                        "
                      >
                        <svg
                          style="
                            backdrop-filter: blur(5px);
                            padding: 6px;
                          "
                          xmlns="http://www.w3.org/2000/svg"
                          width="100"
                          height="100"
                          viewBox="0 0 32 32"
                        >
                          <path fill="currentColor" d="M31.328 8.271a4.006 4.006 0 0 0-2.787-2.781c-2.495-.667-12.525-.667-12.525-.667S6.005 4.807 3.484 5.49A4.005 4.005 0 0 0 .703 8.271a41.574 41.574 0 0 0-.697 7.745a42.136 42.136 0 0 0 .697 7.708a4.022 4.022 0 0 0 2.781 2.787c2.495.667 12.532.667 12.532.667s10.005 0 12.525-.667a4.023 4.023 0 0 0 2.787-2.787c.459-2.541.683-5.125.667-7.708c.016-2.6-.203-5.188-.667-7.745zM12.812 20.803v-9.595l8.349 4.808z"></path>
                        </svg>
                      </div>
                    </label>
                  </div>
                {% else %}
                  {% if block.settings.image %}
                    {{
                      block.settings.image
                      | image_url: width: 880
                      | image_tag: class: 'mx-auto max-w-[880px]  w-full'
                    }}
                  {% else %}
                    <div class="mx-auto max-w-[640px]"></div>
                  {% endif %}
                {% endif %}
              </div>

              <div class="flex-1 relative">
                <div class="mx-auto max-w-[700px] p-4 pb-8 md:flex-1 md:px-[var(--pageWidthPadding)]">
                  <h3 class="text-lg font-semibold  md:text-3xl 2xl:text-5xl">{{ heading }}</h3>
                  <div class="my-4 lg:my-8">
                    {{ content }}
                  </div>
                  <a
                    class="btn  bg-[var(--colorBtnPrimary)]"
                    href="{{block.settings.btn_url }}"
                  >
                    {{- block.settings.btn_text | default: 'Schedule time with me' -}}
                  </a>
                </div>
              </div>
            </div>
          </section>
        {% else %}
          <section
            id="section-{{ section.id }}-{{ forloop.index }}"
            class="relative  my-12 min-h-[40vw]  flex items-center"
            {{ block.shopify_attributes }}
          >
            <div class="md:px  page-width w-full items-center md:flex-row-reverse md:flex md:px-[var(--pageWidthPadding)] md:py-24">
              <div
                alt=""
                class="absolute bottom-0 left-0  h-[70%] w-full  bg-[{{ block.settings.color | default:"#fce3df" }}]  md:h-full md:w-[70%]"
              ></div>
              <div class="px-[var(--pageWidthPadding)] md:w-1/2 relative">
                {% if block.settings.external_video_url != blank %}
                  {%- if block.settings.external_video_url contains 'youtube.com/watch' -%}
                    {%- assign video_id = block.settings.external_video_url | split: 'v=' -%}
                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                  {%- endif -%}
                  {%- if block.settings.external_video_url contains 'youtu.be/' -%}
                    {%- assign video_id = block.settings.external_video_url | split: '.be/' -%}
                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                  {%- endif -%}
                  <div class="mx-auto max-w-[880px] relative  w-full">
                    {% render 'youtube-popup', video_id: video_id %}
                    <label
                      for="youtube-modal-input-{{ video_id }}"
                      style="position:absolute;top:0;left:0;width:100%;height:100%; pointer-events: none;"
                    >
                      {{
                        block.settings.image
                        | image_url: width: 880
                        | image_tag:
                          style: 'position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;border-radius: 8px;'
                      }}
                      <div
                        class="text-wrap"
                        style="
                          position: absolute;
                              top: 0;
                              left: 0;
                              width: 100%;
                              height: 100%;
                              transition: all 0.7s cubic-bezier(0.4, 0, 1, 1);
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              height: 100%;
                              color: #0006;
                          }
                        "
                      >
                        <svg
                          style="
                            backdrop-filter: blur(5px);
                            padding: 6px;
                          "
                          xmlns="http://www.w3.org/2000/svg"
                          width="100"
                          height="100"
                          viewBox="0 0 32 32"
                        >
                          <path fill="currentColor" d="M31.328 8.271a4.006 4.006 0 0 0-2.787-2.781c-2.495-.667-12.525-.667-12.525-.667S6.005 4.807 3.484 5.49A4.005 4.005 0 0 0 .703 8.271a41.574 41.574 0 0 0-.697 7.745a42.136 42.136 0 0 0 .697 7.708a4.022 4.022 0 0 0 2.781 2.787c2.495.667 12.532.667 12.532.667s10.005 0 12.525-.667a4.023 4.023 0 0 0 2.787-2.787c.459-2.541.683-5.125.667-7.708c.016-2.6-.203-5.188-.667-7.745zM12.812 20.803v-9.595l8.349 4.808z"></path>
                        </svg>
                      </div>
                    </label>
                  </div>
                {% else %}
                  {% if block.settings.image %}
                    {{
                      block.settings.image
                      | image_url: width: 880
                      | image_tag: class: 'mx-auto max-w-[880px]  w-full'
                    }}
                  {% else %}
                    <div class="mx-auto max-w-[640px]"></div>
                  {% endif %}
                {% endif %}
              </div>

              <div class="flex-1 relative">
                <div class="mx-auto max-w-[700px] p-4 pb-8 md:flex-1 md:px-[var(--pageWidthPadding)]">
                  <h3 class="text-lg font-semibold md:text-3xl 2xl:text-5xl">{{ heading }}</h3>
                  <div class="my-4 lg:my-8">
                    {{ content }}
                  </div>
                  <a
                    class="btn  bg-[var(--colorBtnPrimary)]"
                    href="{{block.settings.btn_url }}"
                  >
                    {{- block.settings.btn_text | default: 'Schedule time with me' -}}
                  </a>
                </div>
              </div>
            </div>
          </section>
        {% endif %}
    {% endcase %}
  {% endfor %}
</div>

<script>
     (()=>{
       let loaded = false
    let options = {
       root: document,
       rootMargin: "1000px",
       threshold: 1.0,
     };


     let observer = new IntersectionObserver((entities)=>{
       if(entities[0].isIntersecting){
                     var d = document;
            s = d.createElement("script");
            s.type = "text/javascript";
            s.defer = true;
            s.src = "https://cdn.tailwindcss.com?plugins=typography,forms";
            t = d.getElementsByTagName("script")[0];
            t.parentNode.insertBefore(s, t);
         loaded= true
    observer.disconnect()
       }
     }, options);
     let target = document.querySelector("#shopify-section-{{section.id}}");
  observer.observe(target);
     })()
</script>
{% schema %}
{
  "name": "custome-blocks",
  "class":"custome-blocks",
  "settings": [

  ],
  "blocks": [

    {
      "type": "header",
      "name": "header",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Embracing Sustainability"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>As a pioneer in crafting soundproof phone booths, office pods, and meeting rooms for businesses, we take pride in our unwavering commitment to eco-friendly manufacturing practices. Join us as we embark on a journey toward agreener future, one sustainable product at a time.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "block",
      "name": "block",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "default": "default",
          "options": [
             {
              "value": "default",
              "label": "Default"
            },
             {
              "value": "image-left",
              "label": "Image left"
            },
            {
              "value": "image-right",
              "label": "Image Right"
            },

          ]
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video_url",
          "id": "external_video_url",
          "label": "Youtube video",
          "accept": [
            "youtube"
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Embracing Sustainability"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>As a pioneer in crafting soundproof phone booths, office pods, and meeting rooms for businesses, we take pride in our unwavering commitment to eco-friendly manufacturing practices. Join us as we embark on a journey toward agreener future, one sustainable product at a time.</p>"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Schedule time with me"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custome-blocks",
      "blocks": []
    }
  ]
}
{% endschema %}
