{% if section.settings.image != blank or section.settings.productid != blank %}
<section class="details-hero-section">
  <div class="section-wrap">
    {% if section.settings.image != blank %}
    <div class="slide-image">
      <div class="image-wrap">
        <img src="{{ section.settings.image | img_url: '1920x' }}" {% if section.settings.mobile_image != blank %}class="desktop-only"{% endif %} alt="hero image">
        {% if section.settings.mobile_image != blank %}<img src="{{ section.settings.mobile_image | img_url: "767x" }}" class="mobile-only" alt="hero image">{% endif %}
      </div>
    </div>
    {% endif %}
    {% if section.settings.productid != blank or section.settings.productText != blank or section.settings.btn-txt != blank %}
    <div class="slide-contnet">
      <div class="contnet-wrap page-width">
        {% if section.settings.productText != blank %}<h1>{{ section.settings.productText }}</h1>{% endif %}
        {% if section.settings.productid != blank %}
        <div class="price-wrap">
          {% if section.settings.startingAt != blank %}<h5>{{ section.settings.startingAt }}</h5>{% endif %}
          <p class="price title-font" id = "bannerPrice">{{ all_products[section.settings.productid].price | money }}</p>
        </div>
        {% endif %}
        {% if section.settings.btn-txt != blank %}
        <div class="section-btn">
          <a href="{{ all_products[section.settings.productid].url }}" class="btn">{{ section.settings.btn-txt }}</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
		{
			"type":"product",
			"id":"productid",
			"label":"Product"
			
		},
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
		{
			"type":"text",
			"id":"productText",
			"label":"Text 1"
		},
		{
			"type":"text",
			"id":"startingAt",
			"label":"Text 2"
		},
		{
			"type":"text",
			"id":"btn-txt",
			"label":"Button Label"
		}
	]
  }
{% endschema %}