<style>
  .image-loop-description {
    text-align: center;
    margin-bottom: 60px;
  }
  .image-loop-description h3 {
    font-weight: 500;
  }
  .image-loop .image-text-row:nth-child(2n + 1) .flexbox {
    flex-direction: row-reverse;
  }
  .image-loop .image-text-row:nth-child(2n) .flexbox {
    flex-direction: row;
  }
  .image-loop .col.left-col .col-wrap:after {
    padding-bottom: 100%;
  }
  .image-loop .image-text-row {
    background: transparent;
  }
  .image-loop .image-text-row img {
    object-position: left;
  }
  .image-loop .image-text-row:nth-child(2n) img {
    object-position: right;
  }
  .section-wrap .image-text-row{
    margin-bottom:60px
  }
  .image-loop .col.right-col .col-wrap{
    padding: 0 var(--pageWidthPadding)
  }
  .image-loop .image-text-row:nth-child(2n) .flexbox .col.right-col .col-wrap{
       padding: 0 var(--pageWidthPadding)
  }
</style>
<section class="image-loop">
  {% if section.settings.title %}
    <h2>{{ section.settings.title }}</h2>
  {% endif %}
  {% if section.settings.description %}
    <div class="image-loop-description">{{ section.settings.description }}</div>
  {% endif %}
  <div class="section-wrap">
    {%- for block in section.blocks -%}
      {% if block.settings.image != blank %}
        <div class="image-text-row">
          <div class="flexbox">
            <div class="col left-col">
              <div class="col-wrap">
                {{ block.settings.image | image_url: width: 900 | image_tag: widths: '400, 600, 800', loading: 'lazy' }}
              </div>
            </div>
            <div class="col right-col">
              <div class="col-wrap">
                {% if block.settings.title != blank %}
                  <h2 class="title-font">{{ block.settings.title }}</h2>
                {% endif %}
                {% if block.settings.description != blank %}{{ block.settings.description }}{% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% if section.settings.bg_color != blank %}
  <style>
    .image-loop .image-text-row{background-color:{{ section.settings.bg_color }}}
  </style>
{% endif %}
{% schema %}
 {
   "name": "Image loop Section new",
   "settings": [
     {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
         {
           "type": "richtext",
           "id": "description",
           "label": "Description"
         },
       {
         "type": "color",
         "id": "bg_color",
         "label": "Background Color"
       }
],
   "blocks": [
     {
       "type": "image_section",
       "name": "Image section new",
       "settings": [
	  {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
         {
           "type": "richtext",
           "id": "description",
           "label": "Description"
         }
	]
     }
   ],
   "presets": [
     {
       "name": "Image loop Section",
       "blocks": []
     }
   ]
 }
{% endschema %}
