<style>
  .image-text-section .image-wrap .mobile-only {
    display: none;
  }

  #{{section.id}}-slider.section-image {
    display: flex;
    overflow: hidden;
  }
  #{{section.id}}-slider .image-wrap {
    width: 100%;
    flex-shrink: 0;
  }
  .section-content {
    pointer-events: none;
  }
  .content-wrap {
    pointer-events: all;
  }
  #{{section.id}}-slider .image-wrap img {
   min-height: 500px;
  }
  #{{section.id}}-slider  img.desktop-only {
    object-position: 70% 0;
  }
  @media only screen and (max-width:767px) {
    .image-text-section .image-wrap img {
      display: block;
      min-height: 337px;
      object-fit: cover;
      max-height: 500px;
    }
    .image-text-section .image-wrap .desktop-only {
      display: none!important;
    }
  }
</style>
{% if section.settings.image != blank %}
  <section class="image-text-section {{ section.settings.section_class }} image-text-section--product">
    <div class="section-wrap">
      <div id="{{section.id}}-slider" class="section-image">
        {%- for block in section.blocks -%}
          {%- assign image = block.settings.image -%}
          {%- assign imageMb = block.settings.image_mobile -%}
          <div class="image-wrap{% if section.settings.overlay %} overlay overlay_range_{{ section.settings.overlay_range }}{% endif %}">
            {%- if block.settings.image != blank -%}
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              <img
                class="hero__image hero__image--{{ block.id }} lazyload{% if has_mobile_image %} small--hide{% endif %}"
                src="{{ block.settings.image | img_url: '300x' }}"
                data-src="{{ img_url }}"
                data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ block.settings.image.alt | escape }}"
              >
              {%- if imageMb -%}
                {%- assign img_url_mobile = block.settings.image_mobile
                  | img_url: '1x1'
                  | replace: '_1x1.', '_{width}x.'
                -%}
                <img
                  class="hero__image hero__image--{{ block.id }} lazyload medium-up--hide"
                  src="{{ block.settings.image_mobile | img_url: '300x' }}"
                  data-src="{{ img_url_mobile }}"
                  data-aspectratio="{{ block.settings.image_mobile.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image_mobile.alt | escape }}"
                >
              {%- endif -%}
              <noscript>
                <img
                  class="hero__image hero__image--{{ block.id }}"
                  src="{{ block.settings.image | img_url: '1400x' }}"
                  alt="{{ block.settings.image.alt | escape }}"
                >
              </noscript>
            {%- else -%}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
      <div class="section-content page-width text-{{ section.settings.text_alignment }}">
        <div
          class="content-wrap "
          {% if section.settings.description_width %}
            style="max-width: {{ section.settings.description_width }};"
          {% else %}

          {% endif %}
        >
          {% if section.settings.title != blank %}
            <h2
              {% if section.settings.title_width %}
                style="max-width: {{ section.settings.title_width }};"
              {% else %}

              {% endif %}
              class="title-font"
            >
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.description != blank %}
            {{ section.settings.description }}
          {% endif %}
          {% if section.settings.button_link != blank and section.settings.button_text != blank %}
            <div class="section-btn">
              <a href="{{ section.settings.button_link }}" class="btn">
                {{- section.settings.button_text }}
              </a>

              {% if section.settings.button_text_2 != blank %}
                <button type="button" class="btn btn--secondary specBtn">
                  {{ section.settings.button_text_2 }}
                </button>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
<script>
  $(document).ready(function() {
    let slider = $('#{{section.id}}-slider')
    $('#{{section.id}}-slider').slick({
      slidesToShow: 1,
      infinite: true,
      lazyLoad: true,
      slidesToScroll: 1,
      arrows: false,
      adaptiveHeight: true,
      autoplay: true,
      fade: true,
      speed: 1500,
      autoplaySpeed: 3000,
      cssEase: 'ease-in-out',
      touchThreshold: 100
    });

    $(window).on('resize', function() {
      slider.slick('resize');
    });
  })
</script>
{% schema %}
{
  "name": "Image Slider section",
  "settings": [
    {
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "checkbox",
      "id": "overlay",
      "label": "Overlay",
      "default": true
    }, {
      "type": "range",
      "id": "overlay_range",
      "label": "Overlay range",
      "min": 0,
      "max": 100,
      "unit": "%",
      "step": 10,
      "default": 60
    }, {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "text",
      "id": "title_width",
      "label": "Title width"
    }, {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }, {
      "type": "text",
      "id": "description_width",
      "label": "description width"
    }, {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    }, {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }, {
      "type": "text",
      "id": "button_text_2",
      "label": "Get Specs Sheet Text"
    }, {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "center-left",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "center-left",
          "label": "Center left"
        }, {
          "value": "center-center",
          "label": "Center center"
        }, {
          "value": "bottom-left",
          "label": "Bottom left"
        }, {
          "value": "bottom-center",
          "label": "Bottom center"
        }, {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ]
    }, {
      "type": "text",
      "id": "section_class",
      "label": "Section class"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }, {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (mobile)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Slider section",
      "blocks": []
    }
  ]
}
{% endschema %}
