{% capture mediaitem %}
  {% for block in section.blocks %}
    {% if block.type == 'youtube-popup' %}
      <div style="width:100%;max-width:528px">
      {% render 'youtube-popup' ,block :block %}
      {% assign hadmedia = true %}
      </div>
    {% endif %}
  {% endfor %}
{% endcapture %}
<section class="image-text-column" style="margin:60px 0">
  <div class="section-wrap page-width">
    <div class="flexbox {% if section.settings.image_position == "right" %}row-reverse{% endif %} {% if section.settings.mobile_image_position  == "bottom"%}mobile-column-reverse{% endif %}">
      {% if section.settings.video %}
        <div class="col right-col">
          <div class="col-wrap" style="width:100%;max-width:528px">
            {{ section.settings.video | video_tag: image_size: '600x', controls: true, style: 'width:100%' }}
          </div>
        </div>
      {% endif %}
      {% if section.settings.image != blank %}
        <div class="col right-col">
          <div class="col-wrap" style="width:100%; display: flex; justify-content: center;">
            {% if hadmedia %}
              {{ mediaitem }}
            {% else %}
              {% if section.settings.mobile_image != blank %}
                {{
                  section.settings.image
                  | image_url: width: 528
                  | image_tag: class: 'desktop-only', alt: section.settings.image.alt
                  | default: section.settings.title
                }}
                {{
                  section.settings.mobile_image
                  | image_url: width: 450
                  | image_tag: class: 'mobile-only', alt: section.settings.image.alt
                  | default: section.settings.title
                }}
              {% else %}
                {{
                  section.settings.image
                  | image_url: width: 528
                  | image_tag: alt: section.settings.image.alt
                  | default: section.settings.title
                }}
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="col left-col">
        <div class="col-wrap">
          {% if section.settings.title != blank %}
            <h2 class="title-font">
              {% if section.settings.title_icon != blank -%}
                <span class="title-icon"
                  ><img
                    loading="lazy"
                    src="{{ section.settings.title_icon | img_url: "50x" }}"
                    alt="{{ section.settings.title_icon.alt }}"
                ></span>
              {%- endif %}
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.detection != blank %}
            <div class="column-content">
              {{ section.settings.detection }}
            </div>
          {% endif %}
          {% if section.settings.button_text != blank and section.settings.button_link != blank %}
            <div class="column-btn">
              <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image Text Column",
  "class": "index-section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_image_position",
      "label": "Mobile Image Position",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "title_icon",
      "label": "Title Icon"
    },
    {
      "type": "richtext",
      "id": "detection",
      "label": "Detection"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "youtube-popup",
      "name": "youtube-popup",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Youtube image"
        },
        {
          "type": "video_url",
          "id": "external_video_url",
          "label": "Youtube video",
          "accept": ["youtube"]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text Column",
      "blocks": [],
      "settings": {
         "image": "shopify:\/\/shop_images\/Folio-Phone-Booth.png",
        "image_position": "left",
        "mobile_image_position": "top",
        "title": "Modern Applications",
        "detection": "<p>Lights, Power, Action! Within the Folio Task Booth sits a mini sofa\/chair, cushioned slightly for comfort but primarily for support. An organically curved task desk compliments it.<br\/>A directional lighting bar and singular 220-240v power socket with 2 * USB and 1 * USB-C will power the devices required.<br\/>The PIR sensor will help save on power, automatically turning off the power after 5mins of not being occupied.<\/p>",
        "button_text": "",
        "button_link": ""
      }
    }
  ]
}
{% endschema %}
