<style>
  .main-collection-next{
    padding: 1em 0
  }
    .main-collection-next .collection-template-grid{
      display:grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1em;

    }
    .collection-template-grid-item{
      display:flex;
      gap:1em;

    }
    .collection-template-grid-item .image{
      width:50%;
      flex-shrink:0;
    }
     .collection-template-grid-item .image img{
          max-width: 100%;
      object-fit: contain;
      height: auto;
  }
    }
</style>
{% assign collection = section.settings.collection | default: collections.all %}
<div
  id="CollectionAjaxResult"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
  data-collection-template="true"
>
  <div>
    <div class="page-width collection-template-grid">
      {% for block in section.blocks %}
        {% if block.type == 'product_grid' %}
          {%- for product in collection.products -%}
            {% assign image = product.featured_image %}
            {% assign title = product.title %}
            {% assign content = product.description | strip_html | slice: 0, 150 | append: '...' %}
            {% assign url = product.url %}
            <div class="collection-template-grid-item">
              <a class="image" href="{{ url }}">
                {{
                  image
                  | image_url: width: 700
                  | image_tag: widths: '400, 600, 800', loading: 'lazy', class: 'js-lazy-image', alt: title
                }}
              </a>
              <div class="content">
                <h3>{{ title }}</h3>
                <div>{{ content }}</div>
                <div class="collection-btn-group">
                  <a href="{{ product.url }}" class="btn buy-btn">
                    {{- 'strings.others.explore_now' | t -}}
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        {% endif %}
        {% if block.type == 'product' %}
          {% assign image = block.settings.image | default: product.featured_image %}
          {% assign title = block.settings.title | default: product.title %}
          {% assign content = block.settings.content | default: product.description %}
          {% assign url = block.settings.url | default: product.url %}
          <div class="collection-template-grid-item">
            <a class="image" href="{{ url }}">
              {{
                image
                | image_url: width: 700
                | image_tag: widths: '400, 600, 800', loading: 'lazy', class: 'js-lazy-image', alt: title
              }}
            </a>
            <div class="content">
              <h3>{{ title }}</h3>
              <div>{{ content }}</div>
              <div class="collection-btn-group">
                <a href="{{ product.url }}" class="btn buy-btn">
                  {{- 'strings.others.explore_now' | t -}}
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    {% if collection.description != blank %}
      "description": {{ collection.description | strip_html | json }},
    {% endif %}
    {% if page_image %}
      {% assign image_size = page_image.width | append: 'x' %}
      "image": {
        "@type": "ImageObject",
        "height": {{ page_image.height | json }},
        "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ page_image.width | json }}
      },
    {% endif %}
    "name": {{ collection.title | json }}
  }
</script>

{% schema %}
{
  "name": "Product grid next",
  "class": "main-collection-next",
  "settings": [
  {
    "type":"collection",
    "id":"collection",
    "label":"Collection"
  }
  ],
  "blocks": [
    {
      "type": "product_grid",
      "name": "Products",
      "settings": [
        {
          "type": "select",
          "id": "grid_style",
          "label": "Default product layout",
          "default": "small",
          "options": [
            {
              "value": "large",
              "label": "Large grid"
            },
            {
              "value": "small",
              "label": "Small grid"
            }
          ]
        }
      ],
      "limit": 1
    },
     {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label" :"Product"
        },{
            "type": "image_picker",
          "id": "image",
          "label" :"Image"
        },{
            "type": "text",
          "id": "title",
          "label" :"Title"
        },
        {
            "type": "richtext",
          "id": "content",
          "label" :"Content"
        },
        {
            "type": "url",
          "id": "url",
          "label" :"Url"
        }
      ]
    }
  ]
}
{% endschema %}
