<style>
        .search-bar--page{
             width: 100%;
          display: flex;
          justify-content: center;
          max-width: 684px;
          padding: 32px 0 16px 0;
          margin: auto;
      }
      .new-grid{
            display: flex;
          flex-direction: column;
        flex-wrap:nowrap;flex:1;
      }
      .new-grid .grid-item-wrap{
        display: flex;
        padding: 1em 1em 1em 0;
      }
      .new-grid .product-image-wrap{
        max-width: 240px;
        width: 30%;
        flex-shrink: 0;
      }
       .new-grid .title-font{
        font-size: 1.1em;
        font-weight: bold;
      }
     .new-grid  .product-tag-sale{
        display: none;
      }
      .new-grid .grid-product-dec{
        display: none;
      }
      .new-grid .price-title{
        margin: 0 ;
        font-size: 0.8em;
      }
      .new-grid .collection-btn-group{
        margin-top: 0.5em;
      }
      .new-grid .grid-product__price--original{
       opacity: 0.5;
       font-weight: 300;
     }
      .new-grid .grid-item-meta{
       font-size:min(1rem,4vw)
     }
        .new-grid .grid-item{
  flex:auto
     }
     @media screen and (min-width: 800px) {
      .search-results-layout{
       display: flex;
       gap: 2em;
     }
   }

     .result-others{
           width: 33%;
       max-width: 360px;
     }
     .result-others>div:not(:first-child) h3{
       margin-top:2em
     }
</style>
{%- paginate search.results by 20 -%}
  <div class="page-width page-content">
    {%- render 'breadcrumbs' -%}
    <form action="{{ routes.search_url }}" method="get" class="input-group search-bar search-bar--page" role="search">
      <input type="hidden" name="type" value="{{ settings.search_type }}">
      <input
        type="search"
        name="q"
        value="{{ search.terms | escape | replace: '*', '' }}"
        placeholder="{{ 'general.search.placeholder' | t }}"
        class="input-group-field"
        aria-label="{{ 'general.search.placeholder' | t }}"
      >
      <div class="input-group-btn">
        <button type="submit" class="btn btn--large btn--icon">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
            <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/>
          </svg>
          <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </div>
    </form>
    {% assign productsresult = '' %}
    {% assign pageresult = '' %}
    {% assign othersresult = '' %}
    {%- for item in search.results -%}
      {%- if item.object_type == 'product' -%}
        {% capture productsresult %}
              {{ productsresult }}
            {%- liquid
              render 'product-grid-item', product: item
            -%}
              {% endcapture %}
      {%- elsif item.object_type == 'page' -%}
        {% capture pageresult %}
            {{ pageresult }}
            <div class="grid-item grid-product">
              <div class="grid-item__content">
                <a href="{{ item.url }}" class="grid-item__link">
                  <div class="grid-item__meta">
                    <span class="h4">
                      {{- item.title }}
                    </span>
                  </div>
                </a>
              </div>
            </div>
        {% endcapture %}
      {%- else -%}
        {% capture othersresult %}
          {{ othersresult }}
          <div class="grid-item grid-product">
            <div class="grid-item__content">
              <a href="{{ item.url }}" class="grid-item__link">
                <div class="grid-item__meta">
                  <span class="h4">
                    {{- item.title }}
                  </span>
                </div>
              </a>
            </div>
          </div>
        {% endcapture %}
      {%- endif -%}
    {%- endfor -%}
    {%- if search.performed -%}
      <hr class="hr--medium">
      <div class="section-header">
        <h2 class="section-header__title">
          {{ 'general.search.result_count' | t: count: search.results_count }}
        </h2>
        {%- if search.results_count == 0 -%}
          <p>
            {{ 'general.search.no_results_html' | t: terms: search.terms | replace: '*', '' }}
          </p>
        {%- endif -%}
      </div>
      <div class="search-results-layout">
        <div class="new-grid search-grid result-products" data-view="xsmall">
          {{ productsresult }}
        </div>
        <div class="result-others">
          {% if pageresult != blank %}
            <div class="result-pages">
              <h3>Pages</h3>
              {{ pageresult }}
            </div>
          {% endif %}
          {% if othersresult != blank %}
            <div class="result-articles">
              <h3>Articles</h3>
              {{ othersresult }}
            </div>
          {% endif %}
        </div>
      </div>

      {%- liquid
        if paginate.pages > 1
          render 'pagination', paginate: paginate
        endif
      -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Search"
}
{% endschema %}
