<section class="meeting-rooms-features">
  
  <div class="page-width">
    <div class="flexbox">
      
      <div class="col left-col">
        <div class="col-wrap">
         <div class="features-list">
            {% for block in section.blocks %}
           {% if block.type == "features_list_left" %}
           
            {% if block.settings.title != blank %}
            <div class="features-list-row" data-type="{{ block.settings.title }}">
                <div id="feature-{{ block.settings.title | handleize }}" class="features-list-row-wrap">
                <h5>{{ block.settings.title }}</h5>
                {{ block.settings.description }}
              </div>
            </div>
            {% endif %}
           
           {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
 
      {%- assign current_variant = product.selected_or_first_available_variant -%}
      	{%- capture images_for_currentVar -%}
          {%- for image in product.images -%}
           {%- if image.alt == current_variant.sku -%}
            {{ image | img_url:'master' }}
            {%- if forloop.last == false -%}::{%- endif -%}
      		{%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}
      
      {% assign prod_img_array = images_for_currentVar | split: '::'%}
      <div class="col center-col">
          <div class="col-wrap">
            <img src="{{prod_img_array[1] }}" alt="product_features_image"/>
            
            
           {% for block in section.blocks %}
            {% if block.type == "hotspot_point" %}
            
              <span class="hotspot-icon unique-{{- block.id -}}" data-tooltip="{{ block.settings.hotspot_title }}" data-target="feature-{{  block.settings.hotspot_title | handleize }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="395.71px" height="395.71px" viewBox="0 0 395.71 395.71" style="enable-background:new 0 0 395.71 395.71;" xml:space="preserve">
<g>
	<path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738   c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388   C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191   c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            </span>
            
            {% endif %}
          {% endfor %}
            
            
            
          </div>
      </div>
      
      <div class="col right-col">
        <div class="col-wrap">
          
          {% comment %}
          {% if section.settings.title != blank %}
          <h2 class="title-font">{{ section.settings.title }}</h2>
          {% endif %}
          {% endcomment %}
          

          <div class="features-list">
            {% for block in section.blocks %}
            {% if block.type == "features_list_right" %}
            {% if block.settings.title != blank %}
            <div class="features-list-row" data-type="{{ block.settings.title }}">
              <div id="feature-{{ block.settings.title | handleize }}" class="features-list-row-wrap">
                <h5>{{ block.settings.title }}</h5>
                {{ block.settings.description }}
              </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<style>
  {% for block in section.blocks %}
     {% if block.type == "hotspot_point" %}
        {% if block.settings.point_x != blank or block.settings.point_y != blank  %}
              .meeting-rooms-features .hotspot-icon.unique-{{- block.id -}}{left:{{- block.settings.point_x -}}% ; top:{{- block.settings.point_y -}}% }
        {% endif %}
    {% endif %}
  {% endfor %}
  .ping {
	 position: relative;
}
.ping::before{
  position: absolute;
  top:-0.5em;
  bottom: -0.5em  ;
  left: -0.5em;
  right:-0.5em;
  content: '';
  animation:ping 2s cubic-bezier(0, 0, 0.2, 1) 3 forwards;
  border: 2px solid lightblue;
}
 @keyframes ping {
  75%, 100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
</style>
<script>
  document.querySelectorAll(".hotspot-icon").forEach(node=>{
    node.addEventListener("click", (e)=>{
        console.log(node.dataset.target)
   const targetE=document.querySelector("#"+node.dataset.target)    ; targetE.scrollIntoView();
        targetE.classList.remove('ping');
        targetE.classList.add('ping');
    })
})
</script>

{% schema %}
  {
    "name": "Meeting Rooms Features",
    "settings": [
	],
    "blocks": [
      {
        "type": "features_list_left",
        "name": "Features List Left",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
		]
      },
		{
        "type": "feature_middle_image",
        "name": "Features Middle Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "middle-img",
            "label": "Features Middle Image"
          }
         
		]
      },
	{
        "type": "features_list_right",
        "name": "Features List Right",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
		]
      },
		{
			"type" : "hotspot_point",
			"name" : "Hotspot Points",
			"settings": [
				{

				"type": "range",
				"id": "point_x",
				"label": "Left Position",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 0

				},
				{

				"type": "range",
				"id": "point_y",
				"label": "Top Position",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "%",
                "default": 0

				},
				{
				"type" : "text",
				"id" : "hotspot_title",
				"label" : "Enter Feature Title"
		
				}
			]
		
		}
    ]
  }
{% endschema %}