{% assign id = section.id %}
{% assign img = section.settings.image %}
<div class="{{ id }}-wrap">
  <div class="{{ id }}-left">
    {{
      img
      | image_url: width: 800
      | image_tag: widths: '400, 600, 800', loading: 'lazy', alt: section.settings.content
    }}
  </div>
  <div class="{{ id }}-right">
    <div class="{{ id }}-content">
      {{ section.settings.content }}
      <div class="section-btn">
        <a href="{{ section.settings.button_link }}" class="btn">Explore Products </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
 {
   "name": "Image Text Column",
"class": "index-section",
   "settings": [
	{
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
	{
         "type": "image_picker",
         "id": "mobile_image",
         "label": "Mobile Image"
       },
	{
         "type": "richtext",
         "id": "content",
         "label": "Content"
       },
	{
         "type": "url",
         "id": "button_link",
         "label": "Button Link"
       }
],
   "presets": [
     {
       "name": "Quote success",
       "blocks": []
     }
   ]
 }
{% endschema %}
