{% assign id = section.id %}
{% assign img = section.settings.image %}
<style>
          .{{id}}-wrap{
            position: relative;
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          height: calc(100vh - 100px);
          align-items: center;
          isolation: isolate;
          }
          .{{id}}-left,.{{id}}-right{
            flex:1
          }

          .{{id}}-left{
            width: 700px;
            margin: auto;
            max-width: 70%;
            box-shadow: 0px 2px 16px 2px #00000021;
          }
          .{{id}}-left img{
            object-fit: cover;
    display:block;

          }
          .{{id}}-right{
          width: 600px;
            margin: auto;
            max-width: 70%;
          }
          .{{id}}-right p{
            color:#aeaeae
          }
    .{{id}}-right .section-btn{
          display: flex;
      column-gap: 1em;
      flex-wrap: wrap;
    }
          .{{id}}-right .section-btn a{
         width: 100%;
      line-height: 2.4;min-width:240px;
      font-size: 0.7em;
      flex: 1;
      margin-top: 20px;
          }
          .{{id}}-right .h2,.{{id}}-right h2{
              font-size: min(calc(var(--typeHeaderSize)*1),5vw);
              margin-bottom: 1em;
          }
          .{{id}}-wrap::before{
          content:'';
          position: absolute;
          right: 50% ;
          top: 0;
          bottom: 0;
          width:100vw  ;
          background: #f5f5f5;
          z-index: -1;
          }
          @media screen and  (max-width: 900px) {
          .{{id}}-wrap{
          display: flex;
          text-align: center;
        }
        .{{id}}-left{
         position: absolute;
      left:0;
         width: 100%    ;
         height: 100%;
         max-width: unset;
        }
        .{{id}}-left *:nth-child(2){
          display: none!important;
        }
        .{{id}}-left img{
         position: absolute;
         left: 0;

         width: 100%    ;
         height: 100%;
         max-width: unset;
         z-index: -1;
        }
        .{{id}}-right {
         max-width: 90%;
            z-index: 1 !important;
            padding: 3em 2em !important;
            background:#ffffffe8 !important;
            backdrop-filter: blur(4px);

        }
        .{{id}}-wrap::before{
          display: none;
        }
        .{{id}}-right p{
          color: #696969;
                   font-size: min(16px,3vw);
        }
        }
     .{{id}}-right  ul {margin:0;padding:0;list-style:none;display:flex;gap: 1em;flex-wrap:wrap}
   .{{id}}-right  ul li {
  flex:1;
      display:flex ;
      min-width:min(50vw,240px);
      width:100%
  }
   .{{id}}-right  ul li a{
  text-decoration: none;
      text-align: center;
      white-space: normal;
      font-size: calc(var(--typeBaseSize) + 2px);
      padding: var(--btnPadding);
      margin: 0;
      min-width: 90px;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      -webkit-user-select: none;
      user-select: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: var(--buttonRadius);
      color: #fff;
      color: var(--colorBtnPrimaryText);
      background: #313652;
      background: var(--colorBtnPrimary);
      font-family: "Banana Grotesk",var(--typeBasePrimary),var(--typeBaseFallback),system-ui;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 1.2;
      padding: 11px 17px;
      text-align:center;
      width:100%;
      font-family: "Banana Grotesk",var(--typeBasePrimary),var(--typeBaseFallback),system-ui;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 1.2;
      padding: 11px 17px;
      min-height:3.4rem;
      display:flex ;
      justify-content:center;
      align-items:center
  }
</style>
{%- capture phone -%}
              {%- render '[phone-number]' -%}
              {%- endcapture -%}
<div class="{{ id }}-wrap page-width">
  <div class="{{ id }}-left">
    {{
      img
      | image_url: width: 800
      | image_tag: widths: '400, 600, 800', loading: 'lazy', alt: section.settings.content
    }}
  </div>
  <div class="{{ id }}-right">
    <div class="{{ id }}-content">
      {{ section.settings.content | replace: '+44 (0) 20 4586 3800', phone }}
    </div>
  </div>
</div>

{% schema %}
 {
   "name": "Quote success v2",
   "settings": [
	{
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
	{
         "type": "image_picker",
         "id": "mobile_image",
         "label": "Mobile Image"
       },
	{
         "type": "richtext",
         "id": "content",
         "label": "Content"
       }

],
   "presets": [
     {
       "name": "Quote success v2",
       "blocks": []
     }
   ]
 }
{% endschema %}
