{% comment %}
  **CUSTOMER DETAILS
  Company name:
  Address:
  Address:
  Postcode:
  Type of company: Limited Company | Sole Trader | Partnership
  Registration number:
  Registered Office Address (if
  different from above)
  Telephone:
  Fax:
  Email:
  Purchasing contact:
  Accounts contact:

  **TRADE REFERENCES
  Company 1:
  Contact name:
  Address:
  Postcode:
  Telephone:
  Email:
  Company 2:
  Contact name:
  Address:
  Postcode:
  Telephone:
  Email:

  **BANK DETAILS
  Bank Name:
  Branch:
  Account number:
  Sort code:

  I hereby authorise DWIR Limited to obtain references from the above, as and when
  appropriate. I agree to abide by the Terms and Condition as set out by DWIR Limited
  which include that all invoices are due to be paid within 30 days from the date of
  invoice, and that a Purchase Order must be given for services rendered.

  Signed:
  Printed name:
  Position:
  Date:
{% endcomment %}
<style>
         .form-section{
          display: grid;
          gap:2em;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .form-vertical .form-section{

              padding-bottom: 3rem;
        }
        .form-section:not(:first-child){
          margin-top: 3em;
        }

        .form-section .section-header{
          margin:0;
        }
        .form-radio>div{
          display: flex;
          align-items: flex-start;
        }
        .form-radio input{
          margin-top: 0.6em;
        }
        .form-radio{
          margin-bottom: 30px;
        }
        .form-section h4{
          line-height: 30.24px;
        }
        @media (min-width: 768px){
          .form-section{
            display: grid;
              grid-template-columns: repeat(3,  minmax(0, 1fr));
        }
        .form-section h3{
        text-align: right;
        }
     .form-section>div:nth-child(2) {
        grid-column: span 2 / 4;
    }
        }
    div#shopify-section-{{section.id}}:before {
      content:'';
      position: absolute;
      inset:0;
      background:url({{ section.settings.image | image_url : width: 1900 }});
      background-repeat:no-repeat;
      background-size: cover;
      background-position:center;
      /* height:100vh; */
      background-attachment: fixed;
      z-index:-1;
  }
  #shopify-section-{{section.id}}{
      isolation:isolate;
      overflow:hidden;
      position: relative;
  }
  #shopify-section-{{section.id}} .page-content{
  max-width:min(600px,100vw - 2em);
      background:white;
      margin:2em auto;
      padding:1em 2em
  }
  .form-section{
      display:block
  }
  .section-header__title{
      text-align:center
  }
  .form-section>div:nth-child(2){
      margin:auto
  }
</style>
<div class="page-width page-content">
  <div class="form-section">
    <div></div>
    <header class="section-header" style="margin:2em 0 3em 0">
      <h1 class="section-header__title">{{ 'customer.application.title' | t }}</h1>
    </header>
  </div>
  {% capture content %}
      <div class="form-section">
        <div>
          <!-- <h3>{{ 'customer.application.details-heading' | t }}</h3> -->
        </div>
        <div>
          <div class="form-group">
            <label for="details-company-name">{{ 'customer.application.details-company-name' | t }}</label>
            <input
              type="text" 
              name="details-company-name"
              id="details-company-name"
              class="input-full"
              autocapitalize="words"
            >
          </div>
           <div>
                 
         <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input
            type="text" required
            name="customer[first_name]"
            id="FirstName"
            class="input-full"
            {% if form.first_name %}
              value="{{ form.first_name }}"
            {% endif %}
            autocapitalize="words"
            autofocus
          >

          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input
            type="text" required
            name="customer[last_name]"
            id="LastName"
            class="input-full"
            {% if form.last_name %}
              value="{{ form.last_name }}"
            {% endif %}
            autocapitalize="words"
          >

          <label for="Email">{{ 'customer.register.email' | t }}</label>
          <input
            type="email" required
            name="customer[email]"
            id="Email"
            class="input-full{% if form.errors contains 'email' %} error{% endif %}"
            {% if form.email %}
              value="{{ form.email }}"
            {% endif %}
            autocorrect="off"
            autocapitalize="off"
          >
          <div class="form-group">
            <label for="details-telephone">{{ 'customer.application.details-telephone' | t }}</label>
            <input
              type="text" required
              name="details-telephone"
              id="details-telephone"
              class="input-full"
              autocapitalize="words"
            >
          </div>
        </div>
            <div class="form-group">
            <label for="details-company-industry">{{ 'customer.application.details-company-industry' | t }}</label>
            <div class="form-radio">
             

<div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-architects"
                  class="input-full"
                  value="architects"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-architects">
                  {{- 'customer.application.details-company-industry-options.architects' | t -}}
                </label>
              </div>

<div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-design_and_build"
                  class="input-full"
                  value="design_and_build"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-design_and_build">
                  {{- 'customer.application.details-company-industry-options.design_and_build' | t -}}
                </label>
              </div>


<div>

                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-commercial_out_fitter"
                  class="input-full"
                  value="commercial_out_fitter"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-commercial_out_fitter">
                  {{- 'customer.application.details-company-industry-options.commercial_out_fitter' | t -}}
                </label>
               
              </div>

<div>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-furniture_dealer"
                  class="input-full"
                  value="furniture_dealer"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-company-industry-furniture_dealer">
                  {{- 'customer.application.details-company-industry-options.furniture_dealer' | t -}}
                </label>
              </div>

<div>
    <style>
    .form-vertical input[name="details-company-industry-other"]{
      display:none  
    }
    .form-vertical [name="details-company-industry"]:checked ~ label input[name="details-company-industry-other"]{
      display:block
    }
  </style>
                <input
                  type="radio"
                  name="details-company-industry"
                  id="details-company-industry-other"
                  class="input-full"
                  value="other"
                  autocapitalize="words"
                >
                <label style="width: 100%;" class="text-label" for="details-company-industry-other">
                  {{- 'customer.application.details-company-industry-options.other' | t -}}
            <input
                      type="text"
                      name="details-company-industry-other"
                      id="details-company-industry-other"
                      class="input-full"
                      autocapitalize="words"
                    >
                </label>
   
              </div>
            </div>
          </div>
         
          <div class="form-group">
            <label for="details-address">{{ 'customer.application.details-address' | t }}</label>
            <input
              type="text"
              name="details-address"
              id="details-address"
              class="input-full"
              autocapitalize="words"
            >
          </div>

          <div class="form-group">
            <label for="details-address-2">{{ 'customer.application.details-address-2' | t }}</label>
            <input
              type="text"
              name="details-address-2"
              id="details-address-2"
              class="input-full"
              autocapitalize="words"
            >
          </div>

          <div class="form-group">
            <label for="details-postcode">{{ 'customer.application.details-postcode' | t }}</label>
            <input
              type="text"
              name="details-postcode"
              id="details-postcode"
              class="input-full"
              autocapitalize="words"
            >
          </div>

          <div class="form-group">
            <div class="label label-info">{{ 'customer.application.details-type-of-company' | t }}</div>
            <div class="form-radio">
              <div>
                <input
                  type="radio"
                  name="details-type-of-company"
                  id="details-type-of-company-limited"
                  class="input-full"
                  value="limited-company"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-type-of-company-limited">
                  {{- 'customer.application.details-type-of-company-limited' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-type-of-company"
                  id="details-type-of-company-sole-trader"
                  class="input-full"
                  value="sole-trader"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-type-of-company-sole-trader">
                  {{- 'customer.application.details-type-of-company-sole-trader' | t -}}
                </label>
              </div>
              <div>
                <input
                  type="radio"
                  name="details-type-of-company"
                  id="details-type-of-company-partnership"
                  class="input-full"
                  value="partnership"
                  autocapitalize="words"
                >
                <label class="text-label" for="details-type-of-company-partnership">
                  {{- 'customer.application.details-type-of-company-partnership' | t -}}
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div  class="form-section form-section-register" style="margin:0;padding:0;border:none">
        <div style="display:flex; align-items:baseline">
                <input
                  type="checkbox" required
                  name="terms_and_conditions"
                  id="terms_and_conditions"
                  class="input-full"
                >
                <label class="text-label" for="terms_and_conditions">
                  Agree to <a download href="https://cdn.shopify.com/s/files/1/0631/9892/0929/files/Reseller_terms_and_Conditions.pages?v=1701940127" >terms and conditions</a>
                </label>
              </div>
        <div>
          <p>
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
          </p>
        </div>
      </div>
    {% endcapture %}

  <div class="form-vertical">
    <form
      data-shopify-captcha="true"
      id="form-{{ section.id }}"
      method="POST"
      action=""
    >
      {{ content }}
    </form>
  </div>
</div>
<script>
  (() => {
    function formSubmit(e) {
      if (e.preventDefault) e.preventDefault();
      window.Shopify.captcha.protect(e.target, () => {
        console.log(e.target);
        fetch(
          "https://shopify-plugin-reseller-manager.hieunguyen.dev/api/createResellerHandle?redirectUrl=https://{{ request.host | append:'/pages/thankpage' }}",
          {
            method: "POST", // or 'PUT'
            // body: new FormData(e.target),
            // headers: {
            //   "Content-Type": "application/x-www-form-urlencoded",
            //   // "Content-Type": "multipart/form-data",
            // },
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(Object.fromEntries(new FormData(e.target))),
          }
        ).then((res) => {
          location.href =
            "https://{{ request.host | append:'/pages/thankpage' }}";
        });

      });


      return false;
    }

    let formE = document
      .getElementById("form-{{ section.id }}")
      .addEventListener("submit", formSubmit);
  })();
</script>
{% schema %}
{
  "name": "Section Register",
  "settings": [{
    "type":"image_picker",
    "id":"image",
    "label":"image"
  }],
   "presets": [
  {
    "name": "Section Register",
    "blocks": []
  }
]
}
{% endschema %}
