{% if customer %}
  {% comment %}
    **CUSTOMER DETAILS
    Company name:
    Address:
    Address:
    Postcode:
    Type of company: Limited Company | Sole Trader | Partnership
    Registration number:
    Registered Office Address (if
    different from above)
    Telephone:
    Fax:
    Email:
    Purchasing contact:
    Accounts contact:

    **TRADE REFERENCES
    Company 1:
    Contact name:
    Address:
    Postcode:
    Telephone:
    Email:
    Company 2:
    Contact name:
    Address:
    Postcode:
    Telephone:
    Email:

    **BANK DETAILS
    Bank Name:
    Branch:
    Account number:
    Sort code:

    I hereby authorise DWIR Limited to obtain references from the above, as and when
    appropriate. I agree to abide by the Terms and Condition as set out by DWIR Limited
    which include that all invoices are due to be paid within 30 days from the date of
    invoice, and that a Purchase Order must be given for services rendered.

    Signed:
    Printed name:
    Position:
    Date:
  {% endcomment %}
  <style>
         .form-section{
          display: grid;
          gap:2em;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .form-vertical .form-section{

              padding-bottom: 3rem;
              border-bottom: 1px solid rgb(17 24 39 / 0.1);
        }
        .form-section:not(:first-child){
          margin-top: 3em;
        }

        .form-section .section-header{
          margin:0;
        }
        .form-radio>div{
          display: flex;
          align-items: flex-start;
        }
        .form-radio input{
          margin-top: 0.6em;
        }
        .form-radio{
          margin-bottom: 30px;
        }
        .form-section h4{
          line-height: 30.24px;
        }
        @media (min-width: 768px){
          .form-section{
            display: grid;
              grid-template-columns: repeat(3,  minmax(0, 1fr));
        }
        .form-section h3{
        text-align: right;
        }
     .form-section>div:nth-child(2) {
        grid-column: span 2 / 4;
        max-width: 500px;
    }
        }
  </style>
  {% assign reUrl = routes.root_url | append: '/pages/register' | replace: '//pages/', '/pages/' %}
  <div
    style="
      position:relative;isolation: isolate;min-height:700px;
      padding: 6em 0;
    "
  >
    {{
      section.settings.image
      | image_url: width: 1440
      | image_tag: style: 'position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;object-fit:cover'
    }}

    <div class="page-width">
      <div class="page-width page-width--tiny page-content" style="background:white">
        <header class="section-header">
          <h1 style="text-align:center" class="section-header__title">{{ 'strings.general.welcome' | t }}</h1>
        </header>
        <div>
          <div style="margin-bottom:3em">Email : {{ customer.email }}</div>
          {% unless request.design_mode %}
            {% assign isResserllerOrTradeAccount = false %}
            {% if customer %}
              {% if customer.metafields['custom-register'].trade_account_type == 'credit' %}
                {% if customer.metafields['custom-register'].trade_account_status == '1' %}
                  {% assign isResserllerOrTradeAccount = true %}
                {% endif %}
              {% endif %}
            {% endif %}
            {% unless isResserllerOrTradeAccount %}
              <a type="submit" href="{{ reUrl }}" class="btn btn--full">NOT A RESELLER APPLY HERE </a>
            {% else %}
              <a type="submit" href="{{ routes.root_url }}" class="btn btn--full">RETURN HOME</a>
            {% endunless %}
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <style>
    #form-login,#form-register{
    background:white
    }
      #form-login{
         display:none
      }
      #input-login:checked~#form-login{
        display:block
      }
      #input-login:checked~#form-register{
        display:none
      }
  </style>
  {% assign reUrl = routes.root_url | append: '/pages/register' | replace: '//pages/', '/pages/' %}
  <div
    style="
      position:relative;isolation: isolate;
      padding: 6em 0;
    "
  >
    {{
      section.settings.image
      | image_url: width: 1440
      | image_tag: style: 'position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;object-fit:cover'
    }}

    <div class="page-width">
      <div id="RecoverPasswordForm" class="hide">
        <div class="form-vertical">
          <h2>{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>

          {%- form 'recover_customer_password' -%}
            {{ form.errors | default_errors }}

            {%- if form.posted_successfully? -%}
              <span class="hide reset-password-success"></span>
            {%- endif -%}

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full"
              autocorrect="off"
              autocapitalize="off"
            >

            <p>
              <button type="submit" class="btn">
                {{ 'customer.recover_password.submit' | t }}
              </button>
            </p>
            <button type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Reseller forgot password",
  "settings": [{
    "type":"image_picker",
          "id": "image",
          "label": "Image"
  }],
   "presets": [
  {
    "name": "Reseller forgot password",
    "blocks": []
  }
]
}
{% endschema %}
