{% if customer %}
  {% comment %}
    **CUSTOMER DETAILS
    Company name:
    Address:
    Address:
    Postcode:
    Type of company: Limited Company | Sole Trader | Partnership
    Registration number:
    Registered Office Address (if
    different from above)
    Telephone:
    Fax:
    Email:
    Purchasing contact:
    Accounts contact:

    **TRADE REFERENCES
    Company 1:
    Contact name:
    Address:
    Postcode:
    Telephone:
    Email:
    Company 2:
    Contact name:
    Address:
    Postcode:
    Telephone:
    Email:

    **BANK DETAILS
    Bank Name:
    Branch:
    Account number:
    Sort code:

    I hereby authorise DWIR Limited to obtain references from the above, as and when
    appropriate. I agree to abide by the Terms and Condition as set out by DWIR Limited
    which include that all invoices are due to be paid within 30 days from the date of
    invoice, and that a Purchase Order must be given for services rendered.

    Signed:
    Printed name:
    Position:
    Date:
  {% endcomment %}
  <style>
         .form-section{
          display: grid;
          gap:2em;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .form-vertical .form-section{

              padding-bottom: 3rem;
              border-bottom: 1px solid rgb(17 24 39 / 0.1);
        }
        .form-section:not(:first-child){
          margin-top: 3em;
        }

        .form-section .section-header{
          margin:0;
        }
        .form-radio>div{
          display: flex;
          align-items: flex-start;
        }
        .form-radio input{
          margin-top: 0.6em;
        }
        .form-radio{
          margin-bottom: 30px;
        }
        .form-section h4{
          line-height: 30.24px;
        }
        @media (min-width: 768px){
          .form-section{
            display: grid;
              grid-template-columns: repeat(3,  minmax(0, 1fr));
        }
        .form-section h3{
        text-align: right;
        }
     .form-section>div:nth-child(2) {
        grid-column: span 2 / 4;
        max-width: 500px;
    }
        }
  </style>
  {% assign reUrl = routes.root_url | append: '/pages/register' | replace: '//pages/', '/pages/' %}
  <div
    style="
      position:relative;isolation: isolate;min-height:700px;
      padding: 6em 0;
    "
  >
    {{
      section.settings.image
      | image_url: width: 1440
      | image_tag: style: 'position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;object-fit:cover'
    }}

    <div class="page-width">
      <div class="page-width page-width--tiny page-content" style="background:white">
        <header class="section-header">
          <h1 style="text-align:center" class="section-header__title">Wellcome</h1>
        </header>
        <div>
          <div style="margin-bottom:3em">Email : {{ customer.email }}</div>
          {% unless request.design_mode %}
            {% assign isResserllerOrTradeAccount = false %}
            {% if customer %}
              {% if customer.metafields['custom-register'].trade_account_type == 'credit' %}
                {% if customer.metafields['custom-register'].trade_account_status == '1' %}
                  {% assign isResserllerOrTradeAccount = true %}
                {% endif %}
              {% endif %}
            {% endif %}
            {% unless isResserllerOrTradeAccount %}
              <a type="submit" href="{{ reUrl }}" class="btn btn--full">NOT A RESELLER APPLY HERE </a>
            {% else %}
              <a type="submit" href="{{ routes.root_url }}" class="btn btn--full">RETURN HOME</a>
            {% endunless %}
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <style>
    #form-login,#form-register{
    background:white
    }
      #form-login{
         display:none
      }
      #input-login:checked~#form-login{
        display:block
      }
      #input-login:checked~#form-register{
        display:none
      }
  </style>
  {% assign reUrl = routes.root_url | append: '/pages/register' | replace: '//pages/', '/pages/' %}
  <div
    style="
      position:relative;isolation: isolate;
      padding: 6em 0;
    "
  >
    {{
      section.settings.image
      | image_url: width: 1440
      | image_tag: style: 'position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;object-fit:cover'
    }}

    <div class="page-width">
      <input type="checkbox" hidden class="hidden" name="input-login" id="input-login" checked>
      <div id="form-register" class="page-width page-width--tiny page-content">
        <header class="section-header">
          <h1 style="text-align:center" class="section-header__title">{{ 'customer.register.title' | t }}</h1>
        </header>

        <div class="form-vertical">
          {%- form 'create_customer' -%}
            {{ form.errors | default_errors }}

            <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
            <input
              type="text"
              name="customer[first_name]"
              id="FirstName"
              class="input-full"
              {% if form.first_name %}
                value="{{ form.first_name }}"
              {% endif %}
              autocapitalize="words"
              autofocus
            >

            <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
            <input
              type="text"
              name="customer[last_name]"
              id="LastName"
              class="input-full"
              {% if form.last_name %}
                value="{{ form.last_name }}"
              {% endif %}
              autocapitalize="words"
            >

            <label for="Email">{{ 'customer.register.email' | t }}</label>
            <input
              type="email"
              name="customer[email]"
              id="Email"
              class="input-full{% if form.errors contains 'email' %} error{% endif %}"
              {% if form.email %}
                value="{{ form.email }}"
              {% endif %}
              autocorrect="off"
              autocapitalize="off"
            >

            <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
            <input
              type="password"
              name="customer[password]"
              id="CreatePassword"
              class="input-full{% if form.errors contains 'password' %} error{% endif %}"
            >

            <p>
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
              <label for="input-login">{{ 'layout.customer.log_in' | t }}</label>
            </p>
          {%- endform -%}
        </div>
      </div>
      <div id="form-login" class="page-width page-width--tiny page-content">
        <header class="section-header">
          <h1 class="section-header__title" style="text-align:center">Reseller login</h1>
        </header>
        <div class="note note--success hide" id="ResetSuccess">
          {{ 'customer.recover_password.success' | t }}
        </div>

        <div id="CustomerLoginForm" class="form-vertical">
          {%- form 'customer_login' -%}
            {{ form.errors | default_errors }}

            <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
            <input
              type="email"
              name="customer[email]"
              id="CustomerEmail"
              class="input-full{% if form.errors contains 'email' %} error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              autofocus
            >

            {%- if form.password_needed -%}
              <div class="grid">
                <div class="grid__item one-half">
                  <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
                </div>
                <div class="grid__item one-half text-right">
                  <small class="label-info">
                    <a href="#recover" id="RecoverPassword">
                      {{ 'customer.login.forgot_password' | t }}
                    </a>
                  </small>
                </div>
              </div>
              <input
                type="password"
                value=""
                name="customer[password]"
                id="CustomerPassword"
                class="input-full{% if form.errors contains 'password' %} error{% endif %}"
              >
            {%- endif -%}
            <p>
              <button type="submit" class="btn btn--full">
                {{ 'customer.login.sign_in' | t }}
              </button>
              <a style="text-decoration:underline" href="{{ reUrl }}">Not a reseller apply here</a>
            </p>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Reseller Register",
  "settings": [{
    "type":"image_picker",
          "id": "image",
          "label": "Image"
  }],
   "presets": [
  {
    "name": "Reseller Register",
    "blocks": []
  }
]
}
{% endschema %}
