{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
{%- assign collapable = true -%}
{%- if collapable -%}
  <style>
          .page-width-checkbox{
           display:none
         }
         #{{section.id}}{
           position: relative;
           isolation: isolate;
           max-height:250px;
           height:250px;
           overflow:hidden;
           position:relative;
           transition: all 0.7s cubic-bezier(0.95, 0.3, 0.56, 0.96);
         }
         #{{section.id}} .page-width{
           padding-bottom:70px ;

         }
         #{{section.id}}{
           --view-less:none;
           --view-more:block;
           padding:0
         }
        #{{section.id}} .page-width-inner{
          margin: 0;
        padding-top: 60px;
        padding-top: var(--indexSectionPadding);
        padding-bottom: 60px;
        padding-bottom: var(--indexSectionPadding);
    }
         #{{section.id}} .page-width-overlay {
           pointer-events:none;
             position: absolute;
             bottom: 0;
             left: 0;
             width: 100%;

             height: 250px;
             display: flex;
             z-index: 10;
             align-items: flex-end;
             justify-content: center;
             padding: 12px;
             transition: all 0.7s cubic-bezier(0.95, 0.3, 0.56, 0.96);
             /* box-shadow: 0px -24px 40px 1px #4242427a; */


         }
         #{{section.id}} .page-width-overlay:before{
           content:'';
           position:absolute;
             bottom: 0;
             left: 0;
             width: 100%;
           height:100%;
            background: rgb(255,255,255);
             background: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgb(255 255 255 / 0%) 100%)
             transition: all 0.7s cubic-bezier(0.95, 0.3, 0.56, 0.96);
               opacity: 1;
           z-index:-1;
         }
        .page-width-checkbox:checked~#{{section.id}}{
           max-height:var(--innerHeight);
           height:var(--innerHeight);
           --view-less:block;
           --view-more:none;
         }
         .page-width-checkbox:checked~#{{section.id}} .page-width-overlay::before{
               opacity: 0;
               visibility: hidden;
         }
         #{{section.id}} .page-width-overlay label{
           pointer-events:auto;
           text-transform: uppercase;
           padding: 0.3em 1em;
           border: 1px solid currentColor;
           border-radius: 99em;
           font-size: 0.7em;
         }
         @media only screen and (max-width: 540px){
           #{{section.id}} .page-width{
             padding-bottom:120px ;

           }
         }
  </style>
{%- endif -%}
{% assign iputRef = section.id | append: 'page-width-checkbox' %}
{%- if collapable -%}
  <input
    hidden
    type="checkbox"
    class="page-width-checkbox"
    name="name-{{ iputRef }}"
    id="{{ iputRef }}"
  >
{%- endif -%}
<div
  style="--innerHeight:720px"
  id="{{section.id}}"
  class="index-section color-scheme-{{ section.settings.color_scheme }} text-{{ section.settings.align_text }}"
>
  {%- if collapable -%}
    <div class="page-width-overlay">
      <label style="text-transform: uppercase;display:var(--view-more)" for="{{ iputRef }}">
        {{- 'strings.others.view_more' | t -}}
      </label>
      <label style="text-transform: uppercase;display:var(--view-less)" for="{{ iputRef }}">
        {{- 'strings.others.view_less' | t -}}
      </label>
    </div>
  {%- endif -%}

  <div class="page-width-inner">
    {%- if section.settings.color_scheme != 'none' -%}
      {%- render 'color-scheme-texture', color_scheme: section.settings.color_scheme -%}
    {%- endif -%}

    <div class="page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
      {%- for block in section.blocks -%}
        <div class="theme-block" {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h3 class="h2">{{ block.settings.title | escape }}</h3>
            {%- when 'page' -%}
              <div class="rte">
                {%- if block.settings.page_text != blank -%}
                  {{ pages[block.settings.page_text].content }}
                {%- else -%}
                  {{ 'home_page.onboarding.no_content' | t }}
                {%- endif -%}
              </div>
            {%- when 'text' -%}
              <div class="rte">
                {%- if block.settings.text != blank -%}
                  {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                  {{ block.settings.text }}
                  {%- if block.settings.enlarge_text %}</div>{% endif -%}
                {%- else -%}
                  {{ 'home_page.onboarding.no_content' | t }}
                {%- endif -%}
              </div>
            {%- when 'button' -%}
              <div class="rte">
                <a href="{{ block.settings.link }}" class="btn">
                  {{ block.settings.link_text }}
                </a>
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- if section.settings.divider -%}</div>{%- endif -%}
<script>
  (function(){
     function onCollapse(e){
       console.log(e)
    const containerE =  document.querySelector("#{{section.id}}")
    if(e.target.checked){
      console.log("checked")
      containerE.style.setProperty("--innerHeight",containerE.querySelector(".page-width-inner").clientHeight+"px")
    }else{
      containerE.style.setProperty("--innerHeight","250px")

    }
  }
    document.querySelector("#{{ iputRef }}").addEventListener("change", onCollapse);
  })()
</script>
{% schema %}
 {
   "name": "Rich text",
"class" : "rich-text-section",
   "settings": [
     {
       "type": "select",
       "id": "align_text",
       "label": "Text alignment",
       "default": "center",
       "options": [
         {
           "value": "left",
           "label": "Left"
         },
         {
           "value": "center",
           "label": "Centered"
         },
         {
           "value": "right",
           "label": "Right"
         }
       ]
     },
     {
       "type": "checkbox",
       "id": "narrow_column",
       "label": "Narrow column",
       "default": true
     },
     {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "default": "1",
       "options": [
         {
           "value": "none",
           "label": "None"
         },
         {
           "value": "1",
           "label": "1"
         },
         {
           "value": "2",
           "label": "2"
         },
         {
           "value": "3",
           "label": "3"
         }
       ]
     },
     {
       "type": "checkbox",
       "id": "divider",
       "label": "Show section divider",
       "default": false
     }
   ],
   "blocks" : [
     {
       "type": "heading",
       "name": "Heading",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Heading",
           "default": "Rich text"
         }
       ]
     },
     {
       "type": "text",
       "name": "Text",
       "settings": [
         {
           "type": "checkbox",
           "id": "enlarge_text",
           "label": "Enlarge text",
           "default": true
         },
         {
           "id": "text",
           "type": "richtext",
           "label": "Text",
           "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
         }
       ]
     },
     {
       "type": "button",
       "name": "Button",
       "settings": [
         {
           "type": "url",
           "id": "link",
           "label": "Button link"
         },
         {
           "type": "text",
           "id": "link_text",
           "label": "Button text",
           "default": "Button"
         }
       ]
     },
     {
       "type": "page",
       "name": "Page",
       "settings": [
         {
           "id": "page_text",
           "type": "page",
           "label": "Page"
         }
       ]
     }
   ],
   "presets": [{
     "name": "Rich text",
     "blocks": [
       {
         "type": "heading"
       },
       {
         "type": "text"
       }
     ]
   }]
 }
{% endschema %}
