{% if section.settings.heading != blank or section.settings.product_list != blank %}
<section class="shop-accessories">
  <div class="page-width">
    {% if section.settings.heading != blank %}
    <div class="section-title">
      <h2 class="title-font">{{ section.settings.heading }}</h2>
    </div>
    {% endif %}
    {% if section.settings.product_list != blank %}
    <div class="flexbox">
	{% for product in section.settings.product_list %}
      <div class="col">
        <div class="col-wrap">
          <div class="col-image">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url:'525x' }}" alt="">
            </a>
          </div>
          <div class="col-details">
            <h3 class="title-font">{{ product.title }}</h3>
            <div class="col-link">
              <a href="{{ product.url }}">Shop</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
<!--       <div class="col">
        <div class="col-wrap">
          <div class="col-image">
            <a href="">
              <img src="https://cdn.shopify.com/s/files/1/0631/9892/0929/files/the-stool.png?v=1651123521" alt="">
            </a>
          </div>
          <div class="col-details">
            <h3>The Stool</h3>
            <div class="col-link">
              <a href="">Shop</a>
            </div>
          </div>
        </div>
      </div> -->

    </div>
    {% endif %}
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Shop Accessories",
	"class": "index-section",
    "settings": [
		{
			"type":"text",
			"id":"heading",
			"label":"Heading"
		},
		{			
          "type": "product_list",
          "id": "product_list",
          "label": "Products",
          "limit":2
		}
	]
  }
{% endschema %}