<style>
  <!--
  .google-map-section{
    margin: 0;
  }
  .google-map-section .page-width{
    width: 100%;
    max-width: unset;
    padding: 0;
  }
  .google-map-section .col-right{
  padding: 0;
  }
  .google-map-section iframe{
    height: calc(100vh - 143px);
  }
  -->
</style>
<div class="google-map-section">
  <div class="page-width">
    <div class="flexbox">
      <div class="col col-left">
        <div class="calendly-app-data">
          <!-- Calendly inline widget begin -->
          <div
            class="calendly-inline-widget"
            data-url="{{section.settings.calendar_url}}"
            style="min-width: 320px; height: 630px;"
          ></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async=""></script>
          <!-- Calendly inline widget end -->
        </div>
      </div>
      <div class="col col-right">
        <div class="map-block">
          <iframe
            width="100%"
            src="{{section.settings.goolgemap_url}}"
            height="450"
            style="border: 0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
  {% if  section.blocks.size > 0 %}
  <input type="checkbox" name="slideshow-input" class="slideshow-input"  id="slideshow-input"/> 
  <div class="slideshow-section"
    data-section-id="{{ section.id }}"
    data-section-type="slideshow-section"
    {% if section.settings.parallax %}data-parallax="true"{% endif %}>

    {%- if section.blocks.size > 0 -%}
      <div class="slideshow-wrapper">
        {%- if section.settings.autoplay and section.settings.style == 'bars' and section.blocks.size > 1 -%}
          {%- style -%}
            [data-bars][data-autoplay="true"] .flickity-page-dots .dot:after {
              animation-duration: {{ section.settings.autoplay_speed | times: 1000 }}ms;
            }
          {%- endstyle -%}

          <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
            <span class="slideshow__pause-stop">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pause" viewBox="0 0 10 13"><g fill="#000" fill-rule="evenodd"><path d="M0 0h3v13H0zM7 0h3v13H7z"/></g></svg>
              <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
            </span>
            <span class="slideshow__pause-play">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
              <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
            </span>
          </button>
        {%- endif -%}

        {%- assign natural_height_ratio = '60%' -%}
        {%- assign natural_height_ratio_mobile = '100%' -%}
        {%- for block in section.blocks limit: 1 -%}
          {%- if block.settings.image != blank -%}
            {%- capture natural_height_ratio -%}{{ 100 | divided_by: block.settings.image.aspect_ratio }}%{% endcapture %}
            {%- assign natural_height_ratio_mobile = natural_height_ratio -%}
          {%- endif -%}
          {%- if block.settings.image_mobile != blank -%}
            {%- capture natural_height_ratio_mobile -%}{{ 100 | divided_by: block.settings.image_mobile.aspect_ratio }}%{% endcapture %}
          {%- endif -%}
        {%- endfor -%}

        {%- style -%}
          .hero-natural--{{ section.id }} {
            height: 0;
            padding-bottom: {{ natural_height_ratio }};
          }

          @media screen and (max-width: 768px) {
            .hero-natural--{{ section.id }} {
              padding-bottom: {{ natural_height_ratio_mobile }};
            }
          }
        {%- endstyle -%}

        <div class="hero-natural--{{ section.id }}">
          <div id="Slideshow-{{ section.id }}"
            class="hero hero--{{ section.id }} loading loading--delayed"
            data-natural="true"
            data-autoplay="{{ section.settings.autoplay }}"
            data-speed="{{ section.settings.autoplay_speed | times: 1000 }}"
             data-arrows="true"
            data-slide-count="{{ section.blocks.size }}">
            {%- for block in section.blocks -%}
              <div
                {{ block.shopify_attributes }}
                class="slideshow__slide slideshow__slide--{{ block.id }}"
                data-index="{{ forloop.index0 }}"
                data-id="{{ block.id }}">
                {%- liquid
                  assign has_mobile_image = false
                  if block.settings.image_mobile != blank
                    assign has_mobile_image = true
                  endif
                -%}
<button class="close-btn  flickity-button" type="button" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button>
                <div class="hero__image-wrapper">

                  {%- if section.settings.parallax -%}
                    <div class="parallax-container">
                      <div class="parallax-image">
                  {%- endif -%}

                    {%- if block.settings.image != blank -%}
                      {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                      <img class="hero__image hero__image--{{ block.id }} lazyload{% if has_mobile_image %} small--hide{% endif %}"
                        src="{{ block.settings.image | img_url: '300x' }}"
                        data-src="{{ img_url }}"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}">
                      {%- if has_mobile_image -%}
                        {%- assign img_url_mobile = block.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="hero__image hero__image--{{ block.id }} lazyload medium-up--hide"
                          src="{{ block.settings.image_mobile | img_url: '300x' }}"
                          data-src="{{ img_url_mobile }}"
                          data-aspectratio="{{ block.settings.image_mobile.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ block.settings.image_mobile.alt | escape }}">
                      {%- endif -%}
                      <noscript>
                        <img class="hero__image hero__image--{{ block.id }}"
                          src="{{ block.settings.image | img_url: '1400x' }}"
                          alt="{{ block.settings.image.alt | escape }}">
                      </noscript>
                    {%- else -%}
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}

                  {%- if section.settings.parallax -%}
                      </div>
                    </div>
                  {%- endif -%}
                </div>

                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}" class="hero__slide-link" aria-hidden="true"></a>
                {%- endif -%}

              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
      <div class="placeholder-noblocks">
        {{ 'home_page.onboarding.no_content' | t }}
      </div>
    {%- endif -%}
  </div>

      {% endif %}
{% schema %}
{
  "name": "Show Room",
  "settings": [
    {
      "type": "text",
      "id": "calendar_url",
      "label": "Calendar url",
      "default":"https://calendly.com/sound-box/beaconsfield?embed_domain=soundboxstore.com&embed_type=Inline"
    },
    {
      "type": "text",
      "id": "goolgemap_url",
      "label": "Google map url",
      "default":"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2477.594551146064!2d-0.6494887223883635!3d51.612317203032056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48766721d213ddd3%3A0xdd26ef6f7b7027b8!2sSound%20Box%20Store!5e0!3m2!1svi!2s!4v1678470266987!5m2!1svi!2"
    }

  ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile image"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "Show room"

    }
  ]
}
{% endschema %}
