<style>
  .subscribe-follow {
    padding: 1em 0;
  }
  .subscribe-follow .collection-template-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
    padding: 0 var(--pageWidthPadding);
  }
  .collection-template-grid-item {
    display: flex;
    border-radius: 0.8em;
    position: relative;
    isolation: isolate;
    scroll-margin-top: calc(100px + 1em);
  }
  .collection-template-grid-item h3 {
    font-size: 110%;
  }
  .collection-template-grid-item .image {
    width: 50%;
    flex-shrink: 0;
    display: flex;
  }
  .collection-template-grid-item .image img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
  .collection-template-grid-item .content {
    padding: 4em 4em 1em 0;
    max-width: calc(340px + 4em);
    margin: auto;
  }
  .collection-template-grid-item .description {
    font-size: 0.8em;
  }
  .collection-template-grid-item .collection-btn-group {
    margin-top: 1em;
  }
  .subscribe-follow .image_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .collection-template-grid-item .image_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8em;
    border-top-right-radius: 5em;
  }
  @media only screen and (max-width: 678px) {
    .subscribe-follow .collection-template-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .collection-template-grid-item .content {
      padding: 1em;
    }
    .collection-template-grid-item {
      gap: 0;
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 1em 0;
      font-size: 0.9em;
    }
    .collection-template-grid-item .content {
      padding: 1em;
    }
    .collection-template-grid-item .image {
      width: 100%;
    }
  }
</style>
{% assign collection = section.settings.collection | default: collections.all %}
<div>
  {% if block.settings.image_bg %}
    {{
      block.settings.image_bg
      | image_url: width: 700
      | image_tag: widths: '400, 600, 800 ', loading: 'lazy', class: 'js-lazy-image', alt: title, class: 'image_bg'
    }}
  {% endif %}
  <div>
    <div class="collection-template-grid">
      {% for block in section.blocks %}
        {% if block.type == 'product_grid' %}
          {%- for product in collection.products -%}
            {% assign image = product.featured_image %}
            {% assign title = product.title %}
            {% assign content = product.description | strip_html | slice: 0, 150 | append: '...' %}
            {% assign url = product.url %}
            <div
              id="{{ product.handle }}"
              class="collection-template-grid-item"
            >
              <a class="image" href="{{ url }}">
                {{
                  image
                  | image_url: width: 700
                  | image_tag: widths: '400, 600, 800', loading: 'lazy', class: 'js-lazy-image', alt: title
                }}
              </a>
              <div class="content">
                <h3>{{ title }}</h3>
                <div class="description">{{ content }}</div>
                <div class="collection-btn-group">
                  <a href="{{ product.url }}" class="btn buy-btn">
                    {{- block.settings.button_text -}}
                  </a>
                </div>
              </div>
            </div>
          {%- endfor -%}
        {% endif %}
        {% if block.type == 'product' %}
          {% assign image = block.settings.image %}
          {% assign image_bg = block.settings.image_bg %}
          {% assign title = block.settings.title | default: block.settings.product.title %}
          {% assign content = block.settings.content | default: block.settings.product.description %}
          {% assign url = block.settings.url | default: block.settings.product.url %}
          <div
            id="{{ block.settings.product.handle }}"
            class="collection-template-grid-item"
          >
            {% if image_bg %}
              {{
                image_bg
                | image_url: width: 700
                | image_tag: widths: '400, 600', loading: 'lazy', class: 'js-lazy-image', alt: title, class: 'image_bg'
              }}
            {% endif %}
            <a class="image" href="{{ url }}">
              {% if image %}
                {{
                  image
                  | image_url: width: 700
                  | image_tag: widths: '400, 600, 800', loading: 'lazy', class: 'js-lazy-image', alt: title
                }}
              {% endif %}
            </a>
            <div class="content">
              <h3>{{ title }}</h3>
              <div class="description">{{ content }}</div>
              <div class="collection-btn-group">
                <a href="{{ url }}" class="btn buy-btn">
                  {{- block.settings.button_text -}}
                </a>
              </div>
            </div>
          </div>
        {% endif %}
        {% if block.type == 'email' %}
          <div style="
                  position: relative;
                  isolation: isolate;
              display:flex;
              align-items:center
            ">
            {% if block.settings.image_bg %}
              {{
                block.settings.image_bg
                | image_url: width: 700
                | image_tag:
                widths: '400, 600, 800',
                loading: 'lazy',
                class: 'js-lazy-image',
                alt: title,
                class: 'image_bg'
              }}
            {% endif %}
            <div
              style="margin:auto"
              class="index-section newsletter-{{ section.id }} color-scheme-{{ section.settings.color_scheme }}"
            >
              {%- if section.settings.color_scheme != 'none' -%}
                {%- render 'color-scheme-texture', color_scheme: section.settings.color_scheme -%}
              {%- endif -%}
              <div class="page-width page-width--narrow text-center">
                <p class="h2">{{ block.settings.title | escape }}</p>
                <div class="rte" {{ block.shopify_attributes }}>
                  <div class="enlarge-text">
                    {{ block.settings.text }}
                  </div>
                </div>
                {%- render 'newsletter-form', section_id: section.id, snippet_context: 'section' -%}
              </div>
            </div>
          </div>
        {% endif %}
        {% if block.type == 'instagram' %}
          <div style="              position: relative;">
            {% if block.settings.image_bg %}
              {{
                block.settings.image_bg
                | image_url: width: 700
                | image_tag: widths: '400, 600', loading: 'lazy', alt: title, class: 'image_bg', style: 'z-index:1'
              }}
            {% endif %}
            <div
              class="index-section newsletter-{{ section.id }} color-scheme-{{ section.settings.color_scheme }}"
              style="z-index:2"
            >
              <div class="page-width page-width--narrow text-center">
                <p class="h2">{{ block.settings.title | escape }}</p>
                <div class="rte" {{ block.shopify_attributes }}>
                  <div class="enlarge-text">
                    {{ block.settings.text }}
                  </div>
                </div>
              </div>
            </div>
            <div
              id="feed-24765"
              class="instafeed-shopify"
              style="  z-index:2;  margin: 0 var(--pageWidthPadding) var(--pageWidthPadding) var(--pageWidthPadding)!important;"
            ></div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{%- comment -%}Yoast SEO schema control block: start.{%- endcomment -%}
{%-
  assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value
  | default: shop.metafields.yoast_seo.settings
-%}
{%-
  if disabled_by_yoast_seo
  or yoast_seo_settings.schema.useTheme.schema
  or yoast_seo_settings.schema.useTheme.webpage
-%}
  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "CollectionPage",
        {% if collection.description != blank %}
          "description": {{ collection.description | strip_html | json }},
        {% endif %}
        {% if page_image %}
          {% assign image_size = page_image.width | append: 'x' %}
          "image": {
            "@type": "ImageObject",
            "height": {{ page_image.height | json }},
            "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
            "width": {{ page_image.width | json }}
          },
        {% endif %}
        "name": {{ collection.title | json }}
      }
    {%- comment -%}Yoast SEO schema control block: end.{%- endcomment -%}
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Subscribe-follow",
  "class": "subscribe-follow",
  "settings": [],
  "blocks": [
    {
      "type": "email",
      "name": "Sign Up",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Sign up and save"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Subheading",
          "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        },
        {
          "type": "image_picker",
          "id": "image_bg",
          "label": "background Image"
        }
      ]
    },
    {
      "type": "instagram",
      "name": "In stagram",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow Us"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Subheading",
          "default": "<p><a href=\"https://www.instagram.com/soundboxstore/\" target=\"_blank\">@soundboxstore</a></p>"
        },
        {
          "type": "image_picker",
          "id": "image_bg",
          "label": "background Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "subscribe-follow",
      "blocks": [
        {
          "type": "email",
          "settings": {
            "title": "Thinking Outside The Box, Inside The Booth",
            "text": "<p>Stay ahead of the curve by subscribing to our newsletter. Don't miss out on exciting events, product launches, meet and greets, and valuable upgrades. Join our community and be a part of the workspace revolution.</p>",
            "image_bg": "shopify://shop_images/sbs-stn6-1-2-bg.jpg"
          }
        },
        {
          "type": "instagram",
          "settings": {
            "title": "Follow Us",
            "text": "<p><a href=\"https://www.instagram.com/soundboxstore/\" target=\"_blank\">@soundboxstore</a></p>",
            "image_bg": "shopify://shop_images/sbs-stn6-3-4-bg.jpg"
          }
        }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}
