{% assign id = section.id %}
<style></style>
<section class="image-text-column">
  <div class="section-wrap page-width">
    <div class="flexbox {% if section.settings.image_position == "right" %}row-reverse{% endif %} {% if section.settings.mobile_image_position  == "bottom"%}mobile-column-reverse{% endif %}">
      {% if section.settings.image != blank %}
        <div class="col right-col">
          <div class="col-wrap">
            <img
              loading="lazy"
              src="{{ section.settings.image | img_url:"750x" }}"
              {% if section.settings.mobile_image != blank %}
                class="desktop-only"
              {% endif %}
              alt="{{ section.settings.image.alt | default:section.settings.title }}"
            >
            {% if section.settings.mobile_image != blank %}
              <img
                loading="lazy"
                src="{{ section.settings.mobile_image | img_url:"520x" }}"
                class="mobile-only"
                alt="{{ section.settings.mobile_image.alt  |  default: section.settings.title}}"
              >
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="col left-col">
        <div class="col-wrap">
          {% if section.settings.title != blank %}
            <h2 class="title-font">
              {% if section.settings.title_icon != blank -%}
                <span class="title-icon"
                  ><img
                    loading="lazy"
                    src="{{ section.settings.title_icon | img_url: "50x" }}"
                    alt="{{ section.settings.title_icon.alt }}"
                ></span>
              {%- endif %}
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.detection != blank %}
            <div class="column-content">
              {{ section.settings.detection }}
            </div>
          {% endif %}
          {% if section.settings.button_text != blank and section.settings.button_link != blank %}
            <div class="column-btn">
              <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
 {
   "name": "Image Text Section",
"class": "index-section",
   "settings": [
	{
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
	{
         "type": "image_picker",
         "id": "mobile_image",
         "label": "Mobile Image"
       },
       {
         "type": "select",
         "id": "image_position",
         "label": "Image Position",
         "default": "left",
         "options": [
           {
             "value": "left",
             "label": "Left"
           },
           {
             "value": "right",
             "label": "Right"
           }
         ]
       },
       {
         "type": "select",
         "id": "mobile_image_position",
         "label": "Mobile Image Position",
         "default": "top",
         "options": [
           {
             "value": "top",
             "label": "Top"
           },
           {
             "value": "bottom",
             "label": "Bottom"
           }
         ]
       },
	{
         "type": "text",
         "id": "title",
         "label": "Title"
       },
	{
         "type": "image_picker",
         "id": "title_icon",
         "label": "Title Icon"
       },
	{
         "type": "richtext",
         "id": "detection",
         "label": "Detection"
       },
	{
         "type": "text",
         "id": "button_text",
         "label": "Button Text"
       },
	{
         "type": "url",
         "id": "button_link",
         "label": "Button Link"
       }
],
   "presets": [
     {
       "name": "Image Text Section",
       "blocks": []
     }
   ]
 }
{% endschema %}
