<style>
      .{{section.id}}-row {
        display: flex;
        gap: min(4vw ,6rem);
        flex-wrap: wrap;
    }

    .{{section.id}}-col-md-5 {
        flex: 1;
        min-width: 300px;
    }

    .{{section.id}}-col-md-5 ul {
        list-style: none;
        margin: 0;
    }

    .{{section.id}}-col-md-5 img {
        vertical-align: middle;
    }

    .{{section.id}}-page-width.page-width {
        font-size: 16px;
      padding-bottom:60px;
    }

    .page-width.page-width--narrow.page-content {
    }


    h1.section-header__title {
        text-align: center;
        padding: var(--sectionHeaderBottom);
    }


    .{{section.id}}-col-md-5 h3 {
        /* font-size: 1rem; */
        /* margin: 0; */
        font-weight: bold;
    }
    .{{section.id}}-col-md-5 ul li div:first-child{
  font-weight: bold;
    }
    .{{section.id}}-col-md-5 h3 + div {
        font-size: 0.9em;
        font-weight: 600;
    }
</style>

<div class="{{section.id}}-page-width page-width">
  <div class="{{section.id}}-row">
    {% assign block = section.blocks[0] %}
    {% assign index = '0' %}
    <div class="{{section.id}}-col-md-5" {{ block.shopify_attributes }}>
      <h3>{{ block.settings.title }}</h3>
      <div>
        {{ block.settings.content }}
      </div>
      <h3 style="text-align: left;"><span style="color: #fc1263; font-size: 1.75em;">—</span></h3>
      <ul>
        {% for block in section.blocks %}
          {% if block.settings.index == index %}
            <li {{ block.shopify_attributes }}>
              <div>
                <img
                  loading="eager"
                  width="50"
                  height="50"
                  src="{{ block.settings.image | img_url: '50px'}}"
                  alt="{{ block.settings.image.alt | default : block.settings.title }}"
                >
                {{ block.settings.title }}
              </div>
              <div>{{ block.settings.content }}</div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div style="text-align: center;" class="{{section.id}}-need-help">
        <a
          href="/form/{{shop.name}}_Credit_Application"
          id="click-me"
          >Apply for a Credit Account</a
        >
      </div>
    </div>
    {% assign block = section.blocks[1] %}
    {% assign index = '1' %}

    <div class="{{section.id}}-col-md-5 pull-right" {{ block.shopify_attributes }}>
      <h3>{{ block.settings.title | default: 'Become a Reseller' }}</h3>
      <div>
        {{
          block.settings.content
          | default: 'Whether you\"re an individual agent or e-commerce store looking to expand your offering, the Soundbox Store own-brand range is available for resellers. Apply below to find out more about opportunities to partner with Soundbox Store!'
        }}
      </div>
      <h3 style="text-align: left;"><span style="color: #fc1263; font-size: 1.75em;">—</span></h3>
      <ul>
        {% for block in section.blocks %}
          {% if block.settings.index == index %}
            <li {{ block.shopify_attributes }}>
              <div>
                <img
                  loading="eager"
                  width="50"
                  height="50"
                  src="{{ block.settings.image | img_url: '50px'}}"
                  alt="{{ block.settings.image.alt | default : block.settings.title }}"
                >
                {{ block.settings.title }}
              </div>
              <div>{{ block.settings.content }}</div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div style="text-align: center;" class="{{section.id}}-need-help">
        <a
          href="/form/Soundbox Store-reseller"
          id="click-me"
          >Apply to be a Reseller</a
        >
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "trade-accounts-resellers",
  "settings": [],
    "blocks":[
      {
         "type": "block",
      "name": "block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
         {
          "type": "richtext",
          "id": "content",
          "label": "Title"
        }
      ]
      },{
         "type": "child",
      "name": "child",
      "settings": [
        {
          "type": "text",
          "id": "index",
          "label": "Index"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
         {
          "type": "richtext",
          "id": "content",
          "label": "Title"
        }
      ]
      }
    ],
   "presets": [
      {
        "name": "trade-accounts-resellers",
        "blocks": []
      }
    ]
}
{% endschema %}
