<div class="{{section.id}}-page-width page-width">
  <div class="{{section.id}}-row">
    <div class="{{section.id}}-col-md-5">
      <h3>{{ settings.block[0].title }}</h3>
      <div>
        {{ settings.block[0].content }}
      </div>
      <h3 style="text-align: left;"><span style="color: #fc1263; font-size: 1.75em;">—</span></h3>
      <ul>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/Dedicated_Account_Manager.svg.webp"
                type="image/webp"
                height="40"
                width="40"
                alt=""
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/Dedicated_Account_Manager.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            Dedicated Account Manager
          </h3>
          With a direct port of call you can save a lot of time by not having to ring or email around trying to find the
          right person for your query.
        </li>
        <li>&nbsp;</li>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/Competitive_Pricing_.svg.webp"
                type="image/webp"
                height="40"
                width="40"
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/Competitive_Pricing_.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            Competitive Pricing
          </h3>
          Understanding your needs better means we'll be able to provide you with the best prices and discounts where
          available.
        </li>
        <li>&nbsp;</li>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/Wider_Product_Range.svg.webp"
                type="image/webp"
                height="40"
                width="40"
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/Wider_Product_Range.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            Easy Product Sourcing
          </h3>
          A large majority of our products are already on the site, however sometimes we are able to offer alternatives
          or different options by going straight to the source for you.
        </li>
        <li>&nbsp;</li>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/Faster_Delivery.svg.webp"
                type="image/webp"
                height="40"
                width="40"
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/Faster_Delivery.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            Save Time, Save Money
          </h3>
          We will save your business money by reducing sourcing and procurement admin time. You can place orders from
          multiple world class manufacturers, with only one invoice and payment required.
        </li>
        <li>&nbsp;</li>
      </ul>
      <div style="text-align: center;" class="{{section.id}}-need-help">
        <a
          href="/form/{{shop.name}}_Credit_Application"
          id="click-me"
          >Apply for a Credit Account</a
        >
      </div>
    </div>
    <div class="{{section.id}}-col-md-5 pull-right">
      <h3><span style="font-size: 1.5em; color: #fc1263;">Become a Reseller</span></h3>
      <h3>
        Whether you're an individual agent or e-commerce store looking to expand your offering, the
        {{ shop.name }} own-brand range is available for resellers. Apply below to find out more about opportunities to
        partner with {{ shop.name }}!
      </h3>
      <h3 style="text-align: left;"><span style="color: #fc1263; font-size: 1.75em;">—</span></h3>
      <ul>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/Quality_Products.svg.webp"
                type="image/webp"
                height="40"
                width="40"
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/Quality_Products.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            Quality Products
          </h3>
          As a Reseller you'd have direct access to all of our own brand products, all manufactured to be the best
          quality.
        </li>
        <li>&nbsp;</li>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/New_Launches.svg.webp"
                type="image/webp"
                height="40"
                width="40"
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/New_Launches.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            New Launches
          </h3>
          Be amongst the first to know about any new launches/ranges we have coming up and have plenty of time to
          prepare for orders to come flying in.
        </li>
        <li>&nbsp;</li>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/Contract2.svg.webp"
                type="image/webp"
                height="40"
                width="40"
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/Contract2.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            Contract Manager
          </h3>
          With a direct contact here you'll save a lot of time not having to ring around or email trying to find the
          correct person. It also means they'll be able to get in touch if we have any big announcements/launches.
        </li>
        <li>&nbsp;</li>
        <li>
          <h3>
            <picture class="{{section.id}}-mfwebp">
              <source
                srcset="https://d3byzxukrlmlhs.cloudfront.net/mf_webp/png/media/wysiwyg/Trade/Marketing_Thing.svg.webp"
                type="image/webp"
                height="40"
                width="40"
              >
              <img
                height="40"
                width="40"
                alt=""
                src="https://d3byzxukrlmlhs.cloudfront.net/wysiwyg/Trade/Marketing_Thing.svg.png"
                data-sanitized-data-webpconverted="1"
                data-webpconverted="1"
              >
            </picture>
            Marketing Materials
          </h3>
          Once everything is arranged we'll be able to work with you to supply any {{ shop.name }} related marketing you
          may need, including a lot of our own High-Res renders.
        </li>
        <li>&nbsp;</li>
      </ul>
      <div style="text-align: center;" class="{{section.id}}-need-help">
        <a
          href="/form/muffle-reseller"
          id="click-me"
          >Apply to be a Reseller</a
        >
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "trade-accounts-resellers",
  "settings": [],
    "blocks":[
      {
         "type": "block",
      "name": "block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
         {
          "type": "richtext",
          "id": "content",
          "label": "Title"
        }
      ]
      }
    ],
   "presets": [
      {
        "name": "trade-accounts-resellers",
        "blocks": []
      }
    ]
}
{% endschema %}

<style>
    .template--16834086928609__8dbcf68c-a3f7-4dc9-835a-f6faed804774-row {
      display: flex;
      gap: min(4vw ,6rem);
      flex-wrap: wrap;
  }

  .template--16834086928609__8dbcf68c-a3f7-4dc9-835a-f6faed804774-col-md-5 {
      flex: 1;
      min-width: 300px;
  }

  ul {}

  ::marker {}

  .template--16834086928609__8dbcf68c-a3f7-4dc9-835a-f6faed804774-col-md-5 ul {
      list-style: none;
      margin: 0;
  }

  picture.template--16834086928609__8dbcf68c-a3f7-4dc9-835a-f6faed804774-mfwebp {
      vertical-align: middle;
  }

  .template--16834086928609__8dbcf68c-a3f7-4dc9-835a-f6faed804774-page-width.page-width {
      font-size: 16px;
    padding-bottom:60px;
  }

  .page-width.page-width--narrow.page-content {
  }


  h1.section-header__title {
      text-align: center;
      padding: var(--sectionHeaderBottom);
  }


  .template--16834086928609__8dbcf68c-a3f7-4dc9-835a-f6faed804774-col-md-5 h3 {
      font-size: 1rem;
      /* margin: 0; */
      font-weight: bold;
  }

  .template--16834086928609__8dbcf68c-a3f7-4dc9-835a-f6faed804774-col-md-5 h3 ~ h3 {
      font-size: 0.9em;
      font-weight: 600;
  }
</style>
